<div class="ui compact main tab grid" data-tab="pylint">
    <div class="equal width row">
        {% include 'healthcheck/_statistics_card.html' with label='Score' type='score' only %}
        {% include 'healthcheck/_statistics_card.html' with label='Convention' type='convention' only %}
        {% include 'healthcheck/_statistics_card.html' with label='Refactor' type='refactor' only %}
        {% include 'healthcheck/_statistics_card.html' with label='Warning' type='warning' only %}
        {% include 'healthcheck/_statistics_card.html' with label='Other' type='other' only %}
    </div>
    <div class="row">
        <div class="column">
            <div class="ui basic segment" id="pylint" style="height: calc(100vh - 12em); overflow-y: auto; padding: 0;">
                <table class="ui selectable celled hidden table" id="pylint-table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Module</th>
                            <th>Object</th>
                            <th>Line Number</th>
                            <th>Column Number</th>
                            <th>Path</th>
                            <th>Symbol</th>
                            <th>Message</th>
                            <th>Message ID</th>
                        </tr>
                    </thead>
                    <tbody style="max-height: 80vh;">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>