{% extends "healthcheck/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <style type="text/css">
        .main.grid {
            padding-top: 0 !important;
            padding-left: 21em !important;
            padding-right: 1em !important;
        }
        @media screen and (max-width: 767px) {
            .computer.only {
                display: none !important;
                width: 0 !important;
            }
            .pusher {
                padding-top: 3.2em !important;
                padding-bottom: 0 !important;
            }
            .main.grid {
                padding-top: -1em !important;
                padding-bottom: 0 !important;
                padding-left: 1em !important;
                padding-right: 1em !important;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }
        }
        .hidden { display: none; }
        #chart { min-height: 5em; padding: 0; }
        #commits-table thead tr:first-child > th {
            position: sticky !important;
            top: 3em;
            z-index: 2;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock head %}

{% block main %}
    <div class="ui vertical left fixed computer only inverted main menu" style="padding-top: 3em; width: 20em;">
        <div class="header item">
            <div class="ui inverted header">
                <em data-emoji=":thermometer:" class="small"></em>
                <span style="padding-left: .5em;">Healthcheck</span>
            </div>
        </div>
        <a class="item" data-tab="repo">Repository</a>
        <a class="item" data-tab="changelog">Changelog</a>
        <a class="item" data-tab="quality">Quality checks</a>
    </div>
    <div class="ui compact main tab grid" data-tab="repo">
        <div class="row">
            <div class="column">
                <div class="chart" style="margin: auto; display: flex; justify-content: center;">
                    <div class="ui segment" id="chart" style="flex: 0 0 auto; width: 1000px; height: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui basic segment">
                    <table class="ui selectable striped celled hidden table" id="commits-table">
                        <thead>
                            <tr>
                                <th>SHA</th>
                                <th>Message</th>
                                <th>Author</th>
                            </tr>
                        </thead>
                        <tbody style="max-height: 80vh;">
                        </tbody>
                    </table>
                </div>
                <div style="overflow-y: auto; height: calc(100vh-3em);">
                    <div class="ui hidden segments" id="commits"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui compact main tab grid" data-tab="changelog">
        <div class="row">
            <div class="column">
                <div class="ui header">Changelog</div>
                <div class="ui segment" id="changelog" style="height: calc(100vh - 7em); overflow-y: auto;"></div>
            </div>
        </div>
    </div>
    <div class="ui compact main tab grid" data-tab="quality">
        <div class="row">
            <div class="column">
                <div class="ui header">Tests report</div>
                <div class="ui basic segment" id="pytest" style="height: calc(100vh - 7em); overflow-y: auto;">
                    <table class="ui selectable striped celled hidden table" id="pytest-table">
                        <thead>
                            <tr>
                                <th>Test ID</th>
                                <th>Duration</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody style="max-height: 80vh;">
                        </tbody>
                    </table>
                
                </div>
            </div>
        </div>
    </div>
    <script>
        function renderPytestReport() {
            $.api({
                on: 'now',
                method: 'GET',
                url: '/hc/api/pytest/',
                stateContext: '#pytest',
                onSuccess: r => {
                    var el = $('#pytest-table tbody')
                    el.empty()
                    if (r.pytest_results.length == 0) {
                        toast('No results found.')
                        $('#pytest-table').hide()
                        return
                    } else {
                        toast(`${r.pytest_results.length} results found.`)
                        $('#pytest-table').show()
                    }
                    for (var i = 0; i < r.pytest_results.length; i++) {
                        var result = r.pytest_results[i]
                        var resultEl = $(`
                            <tr>
                                <td data-label="Test ID">${result.test_id}</td>
                                <td data-label="Duration">${result.duration}</td>
                                <td data-label="Result">${result.result}</td>
                            </tr>
                        `)
                        el.append(resultEl)
                    }
                }
            })
        }
        function renderHeatmap() {
            if ($('#chart').html()) { return }
            $.api({
                on: 'now',
                method: 'GET',
                url: '/hc/api/commits/for-heatmap/',
                stateContext: '#chart',
                onSuccess: r => {
                    dateLabels = [
                        r.data_0.map(d => d.d),
                        r.data_1.map(d => d.d),
                        r.data_2.map(d => d.d),
                        r.data_3.map(d => d.d),
                        r.data_4.map(d => d.d),
                        r.data_5.map(d => d.d),
                        r.data_6.map(d => d.d),
                    ]
                    commitSeries = [
                        { name: 'S', data: r.data_0.map(d => d.c) },
                        { name: 'M', data: r.data_1.map(d => d.c) },
                        { name: 'T', data: r.data_2.map(d => d.c) },
                        { name: 'W', data: r.data_3.map(d => d.c) },
                        { name: 'T', data: r.data_4.map(d => d.c) },
                        { name: 'F', data: r.data_5.map(d => d.c) },
                        { name: 'S', data: r.data_6.map(d => d.c) },
                    ].reverse()
                    var chart = new ApexCharts($('#chart')[0], getChartOptions(commitSeries, dateLabels))
                    chart.render()
                },
            })
        }
        function getChartOptions(commitSeries, dateLabels) {
            return {
                series: commitSeries,
                chart: {
                    height: 180,
                    type: 'heatmap',
                    fontFamily: "Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;",
                    events: {
                        dataPointSelection: function(event, chartContext, config) {
                            date = dateLabels[6-config.seriesIndex][config.dataPointIndex]
                            getCommitsByDate(date)
                        }
                    },
                    toolbar: { show: false }
                },
                dataLabels: { enabled: false },
                tooltip: {
                    x: {
                        formatter: (v, o) => dateLabels[6-o.seriesIndex][o.dataPointIndex],
                    },
                },
                grid: {
                    show: false,
                    xaxis: { lines: { show: false } },                    
                    yaxis: { lines: { show: false } },                    
                },
                plotOptions: {
                    heatmap: {
                        radius: 4,
                        shadeIntensity: 1,
                        useFillColorAsStroke: false,
                        colorScale: {
                            min: 0,
                        },
                    },
                },
                colors: [ "#008FFB" ],
                title: { show: false },
                xaxis: {
                    labels: { show: false },
                    axisBorder: { show: false },
                },
            }
        }
        function getCommitsByDate(date) {
            $.api({
                on: 'now',
                url: `/hc/api/commits/by-date/?date=${date}`,
                method: 'GET',
                stateContext: '.segment',
                onSuccess: r => {
                    renderCommits(r)
                }
            })
        }
        function toast(msg) {
            $('body').toast({
                title: msg,
                class: 'black',
                showProgress: 'bottom',
                position: 'right bottom',
            })
        }
        function renderCommits(commits) {
            var el = $('#commits-table tbody')
            el.empty()
            if (commits.length == 0) {
                toast('No commits found.')
                $('#commits-table').hide()
                return
            } else {
                toast(`${commits.length} commits found.`)
                $('#commits-table').show()
            }
            for (var i = 0; i < commits.length; i++) {
                var commit = commits[i]
                var commitEl = $(`
                    <tr>
                        <td data-label="SHA">${commit.hexsha}</td>
                        <td data-label="Message">${commit.message}</td>
                        <td data-label="Author">${commit.author}</td>
                    </tr>
                `)
                el.append(commitEl)
            }
        }
        function initializeTabs() {
            $('.menu .item').tab({
                onFirstLoad: (tabPath, parameterArray, historyEvent) => {
                    switch (tabPath) {
                        case 'repo':
                            renderHeatmap()
                            break
                        case 'changelog':
                            renderChangelog()
                            break
                        case 'quality':
                            renderPytestReport()
                            break
                    }
                },
            })
        }
        function renderChangelog() {
            $.api({
                on: 'now',
                method: 'GET',
                url: '/hc/api/changelog/',
                stateContext: '#changelog',
                onSuccess: r => {
                    $('#changelog').html(r.html)
                },
            })
        }
        $(document).ready(e => {
            initializeTabs()
        })
    </script>
{% endblock main %}