{% extends "healthcheck/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <style type="text/css">
        .main.grid {
            padding-top: 0 !important;
            padding-left: 21em !important;
            padding-right: 1em !important;
            width: 100%;
        }
        @media screen and (max-width: 767px) {
            .computer.only {
                display: none !important;
                width: 0 !important;
            }
            .pusher {
                padding-top: 3.2em !important;
                padding-bottom: 0 !important;
            }
            .main.grid {
                padding-top: -1em !important;
                padding-bottom: 0 !important;
                padding-left: 1em !important;
                padding-right: 1em !important;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }
        }
        .hidden { display: none; }
        #chart { min-height: 5em; padding: 0; }
        #commits-table thead tr:first-child > th {
            position: sticky !important;
            top: 3em;
            z-index: 2;
        }
        .card-statistic {
            height: 6.5em;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'healthcheck/utils.js' %}"></script>
    <script src="{% static 'healthcheck/repo.js' %}"></script>
    <script src="{% static 'healthcheck/coverage.js' %}"></script>
    <script src="{% static 'healthcheck/pytest.js' %}"></script>
    <script src="{% static 'healthcheck/pylint.js' %}"></script>
    <script src="{% static 'healthcheck/summary.js' %}"></script>
{% endblock head %}

{% block main %}
    <div class="ui vertical left fixed computer only inverted main menu" style="padding-top: 3em; width: 20em;">
        <div class="header item">
            <div class="ui inverted header">
                <em data-emoji=":thermometer:" class="small"></em>
                <span style="padding-left: .5em;">Healthcheck</span>
            </div>
        </div>
        <a class="item" data-tab="repo">Repository</a>
        <a class="item" data-tab="changelog">Changelog</a>
        <a class="item" data-tab="pytest">Pytest</a>
        <a class="item" data-tab="coverage">Coverage</a>
        <a class="item" data-tab="pylint">Pylint</a>
        <a class="item" data-tab="summary">Summary</a>
    </div>
    {% include 'healthcheck/_tab_repo.html' %}
    {% include 'healthcheck/_tab_changelog.html' %}
    {% include 'healthcheck/_tab_pytest.html' %}
    {% include 'healthcheck/_tab_coverage.html' %}
    {% include 'healthcheck/_tab_pylint.html' %}
    {% include 'healthcheck/_tab_summary.html' %}
    <script>
        async function renderChangelog() {
            $.api({
                on: 'now',
                method: 'GET',
                url: '/hc/api/changelog/',
                stateContext: '#changelog',
                onSuccess: r => {
                    $('#changelog').html(r.html)
                },
            })
        }
        function initializeTabs() {
            $('.menu .item').tab({
                onFirstLoad: (tabPath, parameterArray, historyEvent) => {
                    switch (tabPath) {
                        case 'repo':
                            renderHeatmap()
                            break
                        case 'changelog':
                            renderChangelog()
                            break
                        case 'pytest':
                            renderPytestReport()
                            break
                        case 'coverage':
                            renderCoverageReport()
                            break
                        case 'pylint':
                            renderPylintReport()
                            break
                        case 'summary':
                            renderSummary()
                            break
                    }
                },
            })
        }
        $(document).ready(e => {
            initializeTabs()
        })
    </script>
{% endblock main %}