{% extends "shipper/base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
    <div class="ui stackable centered grid container" style="padding-top: 5em;">
        <div class="row">
            <div class="eight wide column">
                <form method="post" class="ui {% if form.errors %}error{% endif %} form segment">
                    {% csrf_token %}
                    {% include "_form.html" with form=form %}
                    {% if form.field_errors %}
                        <div class="ui error message">
                            {% for error in form.field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="ui error message"></div>
                    <a class="ui button" href="{% url 'shipper:root' %}">
                        {% translate "Cancel" %}
                    </a>
                    <button class="ui right floated icon labeled green button" type="submit">
                        <i class="save icon"></i>
                        {% translate "Save" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}