{% extends "restricted_area/base.html" %}
{% load static %}
{% load i18n %}

{% block main %} 
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="four wide column">
            <div class="ui vertical fluid menu">
                <a class="item active" data-tab="tab-1">Hidden pages</a>
                <a class="item" data-tab="tab-2">Utilities</a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui tab" data-tab="tab-1">
                <div class="ui segment">
                    <h1 class="ui dividing header">Hidden pages</h1>
                    <div class="ui list">
                        <div class="item">
                            <i class="bug icon"></i>
                            <div class="content">
                                <a class="item" href="{% url 'accounts:plans' %}">Checkout</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="bug icon"></i>
                            <div class="content">
                                <a class="item" href="{% url 'restricted-area:report' %}">Report</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="tab-2">
                <div class="ui segment">
                    <h1 class="ui dividing header">Utilities</h1>
                    <div class="ui message">
                        <div class="header">
                            Changes in Service
                        </div>
                        <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the changes.</p>
                    </div>
                    <div class="ui dividing header">Simulation pages</div>
                    <div class="ui list">
                        <div class="item">
                            <i class="bug icon"></i>
                            <div class="content">
                                <a class="item" href="{% url 'restricted-area:force-error-500' %}">Force Error 500</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="bug icon"></i>
                            <div class="content">
                                <a class="item" href="{% url 'restricted-area:view-error-500' %}">View Error 500 Page</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui dividing header">Maintenance mode</div>
                    <div class="ui toggle maintenance {% if maintenance_mode %}checked{% endif %} checkbox">
                        <input type="checkbox" {% if maintenance_mode %}checked{% endif %}>
                        <label>{% translate "MAINTENANCE" %}</label>
                    </div>
                    <div class="ui dividing header">Login as another user</div>
                    <div class="ui fluid search">
                        <input class="prompt" type="text" placeholder="Search users">
                        <div class="results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function initializeMaintenanceModeToggle() {
            $('.ui.maintenance.checkbox').checkbox(
                {
                    onChecked: () => { location.href = '/maintenance-mode/on/' },
                    onUnchecked: () => { location.href = '/maintenance-mode/off/' },
                }
            )
        }
        function initializeTab() {
            $('.menu .item').tab()
        }
        function initializeLoginAsAnotherUser() {
            $('.ui.search').search({
                apiSettings: {
                    url: '/restricted-area/login-as/?query={query}'
                },
                fields: {
                    title: 'username',
                    description: 'email',
                    image: 'profile_picture',
                    results: 'results',
                },
                minCharacters : 1,
                onSelect(result, response) {
                    $.api({
                        on: 'now',
                        method: 'POST',
                        url: '/restricted-area/login-as/',
                        data: { user: result.id },
                        onSuccess() { window.location.reload() },
                    })
                },
            })
        }
        $(document).ready(e => {
            initializeMaintenanceModeToggle()
            initializeTab()
            initializeLoginAsAnotherUser()
        })
    </script>
{% endblock %}