span.display-char {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
    color: #757575;
}
span.display-char.correct {
    color: #000000;
}
span.display-char.incorrect {
    color: #c46666;
}

.kb-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    /* justify-content: center; */
}

.kb-row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
}

.kb-key {
    flex: 0 0 auto;
    height: 3em;
    width: 3em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #000000;
}

.kb-key.pressed {
    background-color: #000000;
    color: #ffffff;
}