.text-sample {
    padding: .5em 1em !important;
}

.text-sample pre {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.kb-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.kb-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.kb-row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
}


.kb-key.leftPinky {
    border-color: rgb(255 0 0)
}
.kb-key.leftRing {
    border-color: rgb(255 127 0);
}
.kb-key.leftMiddle {
    border-color: rgb(192 192 0);
}
.kb-key.leftIndex {
    border-color: rgb(0 192 0)
}
.kb-key.leftThumb {
    border-color: rgb(0 255 255);
}
.kb-key.rightThumb {
    border-color: rgb(0 127 255);
}
.kb-key.rightIndex {
    border-color: rgb(0 0 255);
}
.kb-key.rightMiddle {
    border-color: rgb(127 0 255);
}
.kb-key.rightRing {
    border-color: rgb(255 0 255);
}
.kb-key.rightPinky {
    border-color: rgb(255 0 127);
}

.kb-key {
    flex: 0 0 auto;
    height: 1.7em;
    width: 1.7em;
    margin: 0.1em;
    padding: 0.1em;
    border: 1px solid #8b8b8b;
    border-radius: .25em;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kb-key.pressed {
    background-color: #000000;
    color: #ffffff;
}