<div class="ui small form modal" id="change-password-modal">
    <i class="close icon"></i>
    <div class="header">
        Change password
    </div>
    <div class="content">
        <div class="field">
            <label>Old password</label>
            <input type="password" placeholder="Old password" name="old_password">
        </div>
        <div class="field">
            <label>New password</label>
            <input type="password" placeholder="New password" name="new_password">
        </div>
        <div class="field">
            <label>New password confirmation</label>
            <input type="password" placeholder="New password confirmation" name="new_password_confirmation">
        </div>
        <div class="ui error message"></div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui green positive button">
            Change
        </div>
    </div>
</div>