<style>
    .app-button {
        display: inline-block;     
        position: relative;
        background-color: rgba(0,0,0,0);
        padding: .5em;
        height: 100%;
        width: 100%;
        border-radius: .5em;
    }
    .secret.app-button {
        background-color: rgba(255,0,0,.2);
    }
    .app-button:hover {
        background-color: rgba(0,0,0,.2);
    }
    .app-button:active {
        background-color: rgba(0,0,0,.3);
    }
</style>
<div class="ui three column center aligned compact grid" style="align-items: center; align-content: stretch,">
    {% for app in apps_menu %}
        {% include "homepage/_app_button.html" with name=app.name url=app.url emoji=app.emoji secret=app.secret only %}
    {% endfor %}
</div>