**/__pycache__/
**/*.env
**/_media/*
*.pyc
*.pem
/semantic
/node_modules
*.exe
venv/
.idea/
mono/__mono/maintenance_mode_state.txt
mono/_media
mono/_static
ngrok
**/.coverage
mono/htmlcov
mono/reports/junit/junit.xml
mono/reports/coverage/coverage.xml
mono/reports/flake8/flake8stats.txt
mono/reports/pylint/pylint.txt