**/__pycache__/
**/*.env
**/_media/*
*.pyc
*.pem
/semantic
/node_modules
*.exe
venv/
.idea/
mono/__mono/maintenance_mode_state.txt
mono/_media
mono/_static
ngrok
diagrams/
**/.coverage
mono/htmlcov
mono/db.sqlite3
mono/reports
