[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=4.1"
mysqlclient = "*"
Faker = "*"
GitPython = "*"
Markdown = "*"
Pillow = "*"
PyJWT = "*"
PyYAML = "*"
djangorestframework = "~=3.13"
django-filter = "*"
django-maintenance-mode = "*"
django-markdownx = "*"
django-filebrowser = "*"
django-grappelli = "*"
django-recaptcha = "*"
django-tinymce = "*"
python-dotenv = "*"
social-auth-app-django = "*"
stripe = "*"
docutils = "*"
asgiref = "*"
bleach = "*"
cachetools = "*"
markdown-checklist = "*"
django-ordered-model = "*"
lxml = "*"
pygments = "*"
firebase-admin = "~=5.2"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
redis = "*"

[dev-packages]
coverage = "*"
isort = "*"
pre-commit = "*"
pylint = "==2.13.9"
pylint-django = "*"
commitizen = "*"
anybadge = "*"
pytest = "*"
pytest-django = "*"
pytest-reportlog = "*"
pytest-cov = "*"
black = "*"
colorama = "*"

[scripts]
collectstatic = "python mono/manage.py collectstatic --noinput"
makemigrations = "python mono/manage.py makemigrations"
migrate = "python mono/manage.py migrate"
build = "bash ./scripts/build.sh"
