[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=3,<4"
mysqlclient = "*"
Faker = "*"
GitPython = "*"
Markdown = "*"
Pillow = "*"
PyJWT = "*"
PyYAML = "*"
djangorestframework = "*"
django-filter = "*"
django-maintenance-mode = "*"
django-markdownx = "*"
django-filebrowser = "*"
django-grappelli = "*"
django-recaptcha = "*"
django-tinymce = "*"
django-background-tasks = "*"
python-dotenv = "*"
social-auth-app-django = "*"
stripe = "*"
docutils = "*"
asgiref = "*"
bleach = "*"
cachetools = "*"
markdown-checklist = "*"
django-multiselectfield = "*"
unittest-xml-reporting = "*"
redgreenunittest = "*"
django-ordered-model = "*"
lxml = "*"
pygments = "*"

[dev-packages]
coverage = "*"
autopep8 = "*"
flake8 = "*"
flake8-html = "*"
isort = "*"
pre-commit = "*"
genbadge = "*"
pylint = "*"
pylint-django = "*"
commitizen = "*"
anybadge = "*"
pytest = "*"
pytest-django = "*"
pytest-reportlog = "*"

[scripts]
collectstatic = "python mono/manage.py collectstatic --noinput"
makemigrations = "python mono/manage.py makemigrations"
migrate = "python mono/manage.py migrate"
build = "bash ./scripts/build.sh"
