[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
mysqlclient = "*"
Faker = "*"
GitPython = "*"
Markdown = "*"
Pillow = "*"
PyJWT = "*"
PyYAML = "*"
djangorestframework = "*"
django-filter = "==2.4.0"
django-maintenance-mode = "*"
django-markdownx = "*"
django-filebrowser = "==3.14.1"
django-grappelli = "==2.15.1"
django-recaptcha = "*"
django-tinymce = "*"
django-background-tasks = "*"
coverage = "==5.5"
python-dotenv = "*"
sentry-sdk = "*"
social-auth-app-django = "*"
stripe = "*"
docutils = "==0.17.1"
asgiref = "==3.4.1"
bleach = "==4.1.0"
cachetools = "==4.2.2"
chardet = "==4.0.0"
libcst = "==0.3.20"
pyasn1-modules = "==0.2.8"
rsa = "*"
shortuuid = "==1.0.1"
tblib = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
