asgiref==3.3.4
autopep8==1.5.7
bleach==3.3.0
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
coverage==5.5
cryptography==3.4.7
defusedxml==0.7.1
Django==3.2.4
django-analytical==3.0.0
django-filebrowser==3.14.1
django-filter==2.4.0
django-grappelli==2.15.1
django-maintenance-mode==0.16.0
django-markdownx==3.0.1
django-recaptcha==2.0.6
django-tinymce==3.3.0
djangorestframework==3.12.4
docutils==0.17.1
Faker==8.1.1
flake8==3.9.2
gitdb==4.0.7
GitPython==3.1.14
google-api-core==1.31.0
google-auth==1.33.1
google-cloud-secret-manager==2.6.0
googleapis-common-protos==1.53.0
grpc-google-iam-v1==0.12.3
grpcio==1.39.0
gunicorn==20.1.0
idna==2.10
libcst==0.3.19
Markdown==3.3.4
mccabe==0.6.1
mypy-extensions==0.4.3
mysqlclient==2.0.3
oauthlib==3.1.0
packaging==21.0
Pillow==8.2.0
proto-plus==1.19.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
PyJWT==2.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.0
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
shortuuid==1.0.1
six==1.15.0
smmap==4.0.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlparse==0.4.1
stripe==2.56.0
text-unidecode==1.3
toml==0.10.2
typing-extensions==3.10.0.0
typing-inspect==0.7.1
urllib3==1.26.5
webencodings==0.5.1
