Django>=3.0,<4.0
mysqlclient>=2.0,<3.0
django-tinymce>=3.0,<4.0
pyjwt>=2.0,<3.0
Pillow>=8
python-dotenv

# for fake data generation during development
Faker

# for continuous delivery
GitPython

# for Django Admin Docs
docutils>=0.16

# for Captcha on signup
django-recaptcha>=2.0,<3.0

stripe>=2.48.0,<3.0

# for mobile API
djangorestframework
markdown
django-filter

# for usage analytics
django-analytical

# for social login
social-auth-app-django

django-maintenance-mode

django-filebrowser