{% load i18n %}

<div class="markdownx ui stackable compact grid">
    <div class="row">
        <div class="sixteen wide column">
            <div class="toolbar" style="padding-bottom: 1em; display: flex; flex-flow: row no wrap; gap: .5em; overflow-x: auto;">
                <div class="ui icon buttons" style="flex: 0 0 auto;">
                    <a class="ui button" onclick="buttonCommand(toggleHeading1)" data-content="{% translate 'Heading' %} 1"><i class="heading icon"></i>1</a>
                    <a class="ui button" onclick="buttonCommand(toggleHeading2)" data-content="{% translate 'Heading' %} 2"><i class="heading icon"></i>2</a>
                    <a class="ui button" onclick="buttonCommand(toggleHeading3)" data-content="{% translate 'Heading' %} 3"><i class="heading icon"></i>3</a>
                    <a class="ui button" onclick="buttonCommand(toggleHeading4)" data-content="{% translate 'Heading' %} 4"><i class="heading icon"></i>4</a>
                    <a class="ui button" onclick="buttonCommand(toggleHeading5)" data-content="{% translate 'Heading' %} 5"><i class="heading icon"></i>5</a>
                    <a class="ui button" onclick="buttonCommand(toggleHeading6)" data-content="{% translate 'Heading' %} 6"><i class="heading icon"></i>6</a>
                </div>
                <div class="ui icon buttons" style="flex: 0 0 auto;">
                    <a class="ui button" onclick="buttonCommand(toggleBold)" data-content="{% translate 'Bold' %}"><i class="bold icon"></i></a>
                    <a class="ui button" onclick="buttonCommand(toggleItalic)" data-content="{% translate 'Italic' %}"><i class="italic icon"></i></a>
                    <a class="ui button" onclick="buttonCommand(toggleStrikethrough)" data-content="{% translate 'Strikethrough' %}"><i class="strikethrough icon"></i></a>
                </div>
                <div class="ui icon buttons" style="flex: 0 0 auto;">
                    <a class="ui button" onclick="buttonCommand(toggleUnorderedList)" data-content="{% translate 'Bulleted list' %}"><i class="list ul icon"></i></a>
                    <a class="ui button" onclick="buttonCommand(toggleOrderedList)" data-content="{% translate 'Numbered list' %}"><i class="list ol icon"></i></a>
                </div>
                <div class="ui icon buttons" style="flex: 0 0 auto;">
                    <a class="ui button" onclick="buttonCommand(toggleQuote)" data-content="{% translate 'Quote' %}"><i class="quote left icon"></i></a>
                    <a class="ui button" onclick="buttonCommand(toggleCode)" data-content="{% translate 'Code' %}"><i class="code icon"></i></a>
                    <a class="ui button" onclick="buttonCommand(indent)" data-content="{% translate 'Indent' %}"><i class="indent icon"></i></a>
                    <a class="ui button" onclick="buttonCommand(outdent)" data-content="{% translate 'Outdent' %}"><i class="outdent icon"></i></a>
                    <a class="ui button" onclick="buttonCommand(addHorizontalLine)" data-content="{% translate 'Horizontal line' %}"><i class="window minimize outline icon" data-content="Horizontal line"></i></a>
                    <a class="ui button" onclick="buttonCommand(addTable)" data-content="{% translate 'Table' %}"><i class="table icon"></i></a>
                    <a class="ui button" onclick="buttonCommand(addLink)" data-content="{% translate 'Link' %}"><i class="paperclip icon"></i></a>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            {% include 'django/forms/widgets/textarea.html' %}
        </div>
        <div class="eight wide column">
            <div class="markdownx-preview ui segment"></div>
        </div>
    </div>
</div>
<script>
    TEXTAREA = $(`textarea[name="{{ widget.name }}"]`)
    $('.toolbar .ui.button').popup({ variation: 'inverted' })
    function buttonCommand(command) {
        var curStart = TEXTAREA.prop("selectionStart");
        var curEnd = TEXTAREA.prop("selectionEnd");
        if (curStart != 0 || curEnd != 0) {
            command()
        }
        TEXTAREA.focus()
        TEXTAREA.trigger('input')
        updatePreview()
    }
    function getSelectedText() {
        var curStart = TEXTAREA.prop("selectionStart");
        var curEnd = TEXTAREA.prop("selectionEnd");
        return [TEXTAREA.val().substring(curStart, curEnd), [curStart, curEnd]]
    }
    function isMultiline(text) {
        return text.indexOf("\n") != -1
    }

    function getSelectedParagraphs(allowPartial = false) {
        var curStart = TEXTAREA.prop("selectionStart");
        var curEnd = TEXTAREA.prop("selectionEnd");
        selectedText = TEXTAREA.val().substring(curStart, curEnd)
        if (allowPartial) {
            if (!isMultiline(selectedText)) {
                return [selectedText, [curStart, curEnd]]
            }
        }
        preText = TEXTAREA.val().substring(0, curStart)
        startPos = preText.lastIndexOf("\n") + 1
        postText = TEXTAREA.val().substring(curEnd)
        if (postText.indexOf("\n") == -1) {
            endPos = TEXTAREA.val().length
        } else {
            endPos = postText.indexOf("\n") + curEnd
        }
        return [TEXTAREA.val().substring(startPos, endPos), [startPos, endPos]]
    }
    function toggleHeading1() {
        togglePrefixCommand('# ', true)
    }
    function toggleHeading2() {
        togglePrefixCommand('## ', true)
    }
    function toggleHeading3() {
        togglePrefixCommand('### ', true)
    }
    function toggleHeading4() {
        togglePrefixCommand('#### ', true)
    }
    function toggleHeading5() {
        togglePrefixCommand('##### ', true)
    }
    function toggleHeading6() {
        togglePrefixCommand('###### ', true)
    }
    function toggleUnorderedList() {
        togglePrefixCommand('- ', true)
    }
    function toggleOrderedList() {
        togglePrefixCommand('1. ', true)
    }
    function toggleQuote() {
        togglePrefixCommand('> ', false)
    }
    function toggleBold() {
        toggleWrapCommand('**')
    }
    function toggleItalic() {
        toggleWrapCommand('*')
    }
    function toggleStrikethrough() {
        toggleWrapCommand('del', true)
    }
    function toggleCode() {
        toggleWrapCommand('``')
    }
    function indent() {
        addPrefixCommand('\t', true)
    }
    function outdent() {
        removePrefixCommand('\t', true)
    }
    function addHorizontalLine() {
        addToEndCommand('\n---\n')
    }
    function addTable() {
        tableSample = [
            '',
            '| Syntax      | Description |',
            '| ----------- | ----------- |',
            '| Header      | Title       |',
            '| Paragraph   | Text        |',
            '',
        ].join('\n')
        addToEndCommand(tableSample)
    }
    function addLink() {
        result = getSelectedText()
        text = result[0]
        if (text.length == 0) {
            text = 'your-link.here'
        }
        positions = result[1]
        preText = TEXTAREA.val().substring(0, positions[0])
        postText = TEXTAREA.val().substring(positions[1])
        if (isMultiline(text)) { return }
        text = `[text here](${text})`
        TEXTAREA.val(preText + text + postText)
        TEXTAREA[0].setSelectionRange(preText.length, preText.length + text.length)
    }
    function addPrefixCommand(symbol, ignoreBlank) {
        result = getSelectedParagraphs()
        text = result[0]
        positions = result[1]
        newText = []
        for (p of text.split("\n")) {
            if (p.length == 0) {
                p = ignoreBlank ? "" : symbol
            } else {
                p = symbol + p
            }
            newText.push(p)
        }
        text = newText.join('\n')
        preText = TEXTAREA.val().substring(0, positions[0])
        postText = TEXTAREA.val().substring(positions[1])
        TEXTAREA.val(preText + text + postText)
        TEXTAREA[0].setSelectionRange(preText.length, preText.length + text.length)
    }
    function removePrefixCommand(symbol, ignoreBlank) {
        result = getSelectedParagraphs()
        text = result[0]
        positions = result[1]
        newText = []
        for (p of text.split("\n")) {
            if (p.startsWith(symbol)) {
                p = p.substring(symbol.length)
            }
            newText.push(p)
        }
        text = newText.join('\n')
        preText = TEXTAREA.val().substring(0, positions[0])
        postText = TEXTAREA.val().substring(positions[1])
        TEXTAREA.val(preText + text + postText)
        TEXTAREA[0].setSelectionRange(preText.length, preText.length + text.length)
    }
    function togglePrefixCommand(symbol, ignoreBlank) {
        result = getSelectedParagraphs()
        text = result[0]
        positions = result[1]
        newText = []
        for (p of text.split("\n")) {
            if (p.length == 0) {
                p = ignoreBlank ? "" : symbol
            }
            else if (p.startsWith(symbol)) {
                p = p.substring(symbol.length)
            } else {
                p = symbol + p
            }
            newText.push(p)
        }
        text = newText.join('\n')
        preText = TEXTAREA.val().substring(0, positions[0])
        postText = TEXTAREA.val().substring(positions[1])
        TEXTAREA.val(preText + text + postText)
        TEXTAREA[0].setSelectionRange(preText.length, preText.length + text.length)
    }
    function toggleWrapCommand(symbol, html=false) {
        result = getSelectedText()
        text = result[0]
        if (text.length == 0) { return }
        positions = result[1]
        preText = TEXTAREA.val().substring(0, positions[0])
        postText = TEXTAREA.val().substring(positions[1])
        if (html) {
            preSymbol = `<${symbol}>`
            postSymbol = `</${symbol}>`
        } else {
            preSymbol = symbol
            postSymbol = symbol
        }
        if (isMultiline(text)) {
            newText = []
            for (p of text.split("\n")) {
                if (p.length == 0) {
                    p = ""
                } else if (p.startsWith(preSymbol) && p.endsWith(postSymbol)) {
                    p = p.substring(preSymbol.length, p.length - postSymbol.length)
                } else {
                    p = preSymbol + p + postSymbol
                }
                newText.push(p)
            }
            text = newText.join('\n')
        } else {
            if (text.startsWith(preSymbol) && text.endsWith(postSymbol)) {
                text = text.substring(preSymbol.length, text.length - postSymbol.length)
            } else if (preText.endsWith(preSymbol) && postText.startsWith(postSymbol)) {
                preText = preText.substring(0, preText.length - preSymbol.length)
                postText = postText.substring(postSymbol.length)
            } else {
                text = preSymbol + text + postSymbol
            }
        }
        TEXTAREA.val(preText + text + postText)
        TEXTAREA[0].setSelectionRange(preText.length, preText.length + text.length)
    }
    function addToEndCommand(symbol) {
        result = getSelectedText()
        text = result[0]
        positions = result[1]
        preText = TEXTAREA.val().substring(0, positions[0])
        postText = TEXTAREA.val().substring(positions[1])
        TEXTAREA.val(preText + text + '\n' + symbol + postText)
        TEXTAREA[0].setSelectionRange(preText.length + text.length, preText.length + text.length + 1 + symbol.length)
    }
    function updatePreview() {
        $.api({
            on: 'now',
            method: 'POST',
            url: '/markdownx/markdownify/',
            data: { content: TEXTAREA.val() },
            dataType: 'html',
            successTest: function(r) { return true },
            onSuccess: r => {
                $('.markdownx-preview').html(r)
            },
        })
    }
</script>