{% extends "finance/base.html" %}
{% load static %}
{% comment %} IMPORTANT: it's using Finance app base template {% endcomment %}

{% block head %}
  <style type="text/css">
    .hidden { display: none; }
  </style>
  <script>
  </script>
{% endblock head %}

{% block body %}
<div class="pusher">
  <div class="ui grid container">
    <div class="centered row">
      <h1 class="ui header">{{ last_pr }} - Build #{{ last_pr.build_number }}
        <div class="sub header">
          {% if last_pr.deployed %}
          <span>Deployed at: {{ last_pr.deployed_at }}</span>
          {% else %}
          <span>Not deployed yet.</span>
          {% endif %}
        </div>
      </h1>
    </div>
    <div class="centered row">
      <form method="POST" class="ui form">
        {% csrf_token %}
        <input type="hidden" name="pk" value='{{ last_pr.pk }}' >
        <button class="ui huge submit button">
          {% if last_pr.deployed %}
          Redeploy
          {% else %}
          Deploy
          {% endif %}
          <em data-emoji=":rocket:"></em>
        </button>
      </form>
    </div>
    <div class="ui segment">
      <div class="ui bulleted list">
        <div class="item">’A’ for added paths</div>
        <div class="item">’D’ for deleted paths</div>
        <div class="item">’R’ for renamed paths</div>
        <div class="item">’M’ for paths with modified data</div>
        <div class="item">’T’ for changed in the type paths</div>
      </div>
    </div>
    <div class="row">
      <table class="ui celled striped table">
        <thead>
          <tr><th>Type</th>
          <th>File</th>
          <th>Diff</th>
        </tr></thead>
        <tbody>
          {% for i, type, file, diff in diff_items %}
          <tr>
            <td data-label="Type">{{ type }}</td>
            <td data-label="File">{{ file }}</td>
            <td data-label="Diff">
              {% if diff %}
                {% if type == "M" %}
                  <div class="ui button" onclick="$('.ui.modal[data-file={{i}}]').modal('show');">Show diff</div>
                {% else %}
                  <div class="ui button" onclick="$('.ui.modal[data-file={{i}}]').modal('show');">Show file</div>
                {% endif %}
              {% endif %}
            </td>
          </tr>
          <div class="ui huge modal" data-file="{{i}}">
            <i class="close icon"></i>
            <div class="header">
              Viewing diff
            </div>
            <div class="scrolling content">
              <pre>{% for line in diff %}{{ line }}<br>{% endfor %}</pre>
            </div>
            <div class="actions">
              <div class="ui black deny button">
                Close
              </div>
            </div>
          </div>
          <div class="hidden diff" data-file="{{ file }}">
            <pre>{% for line in diff %}{{ line }}<br>{% endfor %}</pre>
          </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
$('.form .submit').api({ 
  action: 'deploy',
  method: 'POST',
  serializeForm: true,
  mode: 'same-origin',
  headers: {'X-CSRFToken': csrftoken},
  data:{
    pk: {{ last_pr.pk }},
  },
  onError: function(errorMessage, element, xhr) {
    alert(errorMessage)
  },
  onSuccess: function(response, element, xhr) {
    window.location.replace(`/hc/deploy/`);
  }
})
</script>
{% endblock body %}