{% extends "finance/base.html" %}
{% load static %}
{% comment %} IMPORTANT: it's using Finance app base template {% endcomment %}

{% block head %}
  <style type="text/css">
    .hidden { display: none; }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock head %}

{% block body %}
<div class="pusher">
  <div class="ui grid container">
    <div class="centered row">
      <h1 class="ui header">{{ last_pr }} - Build #{{ last_pr.build_number }}
        <div class="sub header">
          {% if last_pr.deployed %}
          <span>Deployed at: {{ last_pr.deployed_at }}</span>
          {% else %}
          <span>Not deployed yet.</span>
          {% endif %}
        </div>
      </h1>
    </div>
    <div class="centered row">
      <form method="POST" class="ui form">
        {% csrf_token %}
        <input type="hidden" name="pk" value='{{ last_pr.pk }}' >
        <button class="ui huge submit button">
          {% if last_pr.deployed %}
          Redeploy
          {% else %}
          Deploy
          {% endif %}
          <em data-emoji=":rocket:"></em>
        </button>
      </form>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui segment" id="chart-1"></div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui segment" id="chart-2"></div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.form .submit').api({ 
    action: 'deploy',
    method: 'POST',
    serializeForm: true,
    mode: 'same-origin',
    headers: {'X-CSRFToken': csrftoken},
    data:{
      pk: {{ last_pr.pk }},
    },
    onError: function(errorMessage, element, xhr) {
      alert(errorMessage)
    },
    onSuccess: function(response, element, xhr) {
      window.location.replace(`/hc/deploy/`);
    }
  })

  var options1 = {
    chart: {
        type: 'line',
        fontFamily: "Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;",
        height: '370px',
    },
    plotOptions: {
        bar: {
            borderRadius: 4,
        }
    },
    series: [
        {
            name: 'Commits',
            data: [
              {% for pr in pull_requests %}
                {{ pr.commits }},
              {% endfor %}
            ],
            type: 'line',
        },
        {
            name: 'Additions',
            data: [
              {% for pr in pull_requests %}
                {{ pr.additions }},
              {% endfor %}
            ],
            type: 'column',
        },
        {
            name: 'Deletions',
            data: [
              {% for pr in pull_requests %}
                {{ pr.deletions }},
              {% endfor %}
            ],
            type: 'column',
        },
        {
            name: 'Changed files',
            data: [
              {% for pr in pull_requests %}
                {{ pr.changed_files }},
              {% endfor %}
            ],
            type: 'column',
        },
    ],
    colors: ['#128FD9', '#00A100', '#FF0000', '#FFB200'],
    xaxis: {
        categories: [
          {% for pr in pull_requests %}
            {{ pr.number }},
          {% endfor %}
        ],
    },
    yaxis: [
        {
            show: false,
            labels: { formatter: v => Math.ceil(v) }
        },
        {
            show: false,
            labels: { formatter: v => Math.ceil(v) }
        },
        {
            show: false,
            labels: { formatter: v => Math.ceil(v) }
        },
        {
            show: false,
            labels: { formatter: v => Math.ceil(v) }
        },
    ],
  }
  var chart1 = new ApexCharts($('#chart-1')[0], options1)
  chart1.render()

  var dateLabels = [
    [{% for data in data_0 %}"{{ data.d|date:'SHORT_DATE_FORMAT' }}",{% endfor %}],
    [{% for data in data_1 %}"{{ data.d|date:'SHORT_DATE_FORMAT' }}",{% endfor %}],
    [{% for data in data_2 %}"{{ data.d|date:'SHORT_DATE_FORMAT' }}",{% endfor %}],
    [{% for data in data_3 %}"{{ data.d|date:'SHORT_DATE_FORMAT' }}",{% endfor %}],
    [{% for data in data_4 %}"{{ data.d|date:'SHORT_DATE_FORMAT' }}",{% endfor %}],
    [{% for data in data_5 %}"{{ data.d|date:'SHORT_DATE_FORMAT' }}",{% endfor %}],
    [{% for data in data_6 %}"{{ data.d|date:'SHORT_DATE_FORMAT' }}",{% endfor %}],
  ]

  var options2 = {
    series: [
      {
        name: 'Saturday',
        data: [
          {% for data in data_6 %}
            {{ data.c }},
          {% endfor %}
        ]
      },
      {
        name: 'Friday',
        data: [
          {% for data in data_5 %}
            {{ data.c }},
          {% endfor %}
        ]
      },
      {
        name: 'Thursday',
        data: [
          {% for data in data_4 %}
            {{ data.c }},
          {% endfor %}
        ]
      },
      {
        name: 'Wednesday',
        data: [
          {% for data in data_3 %}
            {{ data.c }},
          {% endfor %}
        ]
      },
      {
        name: 'Tuesday',
        data: [
          {% for data in data_2 %}
            {{ data.c }},
          {% endfor %}
        ]
      },
      {
        name: 'Monday',
        data: [
          {% for data in data_1 %}
            {{ data.c }},
          {% endfor %}
        ]
      },
      {
        name: 'Sunday',
        data: [
          {% for data in data_0 %}
            {{ data.c }},
          {% endfor %}
        ]
      },
    ],
    chart: {
      height: 220,
      type: 'heatmap',
    },
    dataLabels: {
      enabled: false,
    },
    tooltip: {
      x: {
        formatter: (v, o) => dateLabels[6-o.seriesIndex][o.dataPointIndex],
      },
    },
    plotOptions: {
      heatmap: {
        radius: 3,
      }
    },
    colors: ["#008FFB"],
    title: {
      text: 'Deployed commits'
    },
  };


  var chart2 = new ApexCharts($('#chart-2')[0], options2);
  chart2.render();
      

</script>
{% endblock body %}