<div class="ui search selection long two column dropdown">
  <input type="hidden" id="{{ widget.attrs.id }}" name="{{ widget.name }}">
  <div class="text"></div>
  <i class="dropdown icon"></i>
</div>
<script type="text/javascript" charset="utf-8">
  let setType = type => {
    dropdown_element = $('[name={{ widget.name }}]').parent()
    dropdown_element.dropdown('clear');
    dropdown_element.dropdown({
      apiSettings: {
        action: 'get categories',
        data: {type:type},
        cache:false,
      },
      fullTextSearch:false,
      filterRemoteData:true,
      forceSelection:false,
    });
    
  }
</script>