{% extends "notes/base.html" %}
{% load i18n %}

{% block main %}
<div class="row">
  <div class="column">
    <form method="POST" action="" class="ui form">{% csrf_token %}
      {% include '_form.html' with form=form %}
      <button type="submit" class="ui icon labeled submit green button"><i class="save icon"></i>{% translate "Save" %}</button>
    </form>
  </div>
</div>
<script>

  $('textarea[name=text]').change(() => {
    $('table').addClass('ui table');
  });

  const formatTable = () => {
    $('table').addClass('ui table');
    setTimeout(formatTable, 200);
  }
  setTimeout(formatTable, 200);

</script>

{{ form.media }}
{% endblock main %}