{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body %}

<div class="pusher">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <div class="ui container">
              <div class="ui segment" style="margin-top: 1em;">
                  {% if request.user.list_set.all.count == 0 %}
                  <div class="ui message">Create your first to-do list.</div>
                  {% endif%}
                  
            <form method="post" class="ui {% if form.errors %}error{% endif %} form" id="project_form">
              {% csrf_token %}
              {% include "_form.html" with form=form %}
              <div class="fluid ui buttons">
                <a class="ui button" href="{{ request.META.HTTP_REFERER }}">
                  {% translate "Cancel" %}
                </a>
                {% if object %}
                <a class="ui button red" href="{% url 'todo_lists:list_delete' pk=object.pk %}">
                  {% translate "Delete" %}
                </a>
                {% endif %}
                <button class="ui button primary" type="submit" form="project_form">
                  {% translate "Save" %}
                </button>
              </div>
            </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<script>
  $('*.ui.dropdown').dropdown();
</script>
{% endblock %}