{% extends "pixel/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <style>
        a {cursor: pointer;}
        .doc-loc {
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }
        #table-by-date-body {
            max-height: 350px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .cell {
            margin-left: .5em;
            margin-right: .5em;
        }
    </style>
{% endblock head %}

{% block main %}
    <script src="{% static 'tablesort.js' %}"></script>
    <script src="{% static 'pixeldashboard.js' %}"></script>
    <div class="ui stackable grid container" style="padding-top: 5em;">

        <div class="row">
            <div class="left floated four wide column">
                <div class="ui site selection dropdown">
                <div class="text"></div>
                <i class="dropdown icon"></i>
                </div>
                <script>
                    $('.ui.site.dropdown').dropdown({
                        values: [
                            {% for site in request.user.site_set.all %}
                            {
                                name: '{{ site.host }}',
                                value: '{{ site.id }}',
                            },
                            {% endfor %}
                        ]
                    });
                    $('.ui.site.dropdown').dropdown('set selected', "{{ object.id }}")
                </script>
            </div>
            <div class="left floated four wide column">
                <a href="{% url 'pixel:tags' %}" class="ui button">Tags</a>
            </div>
            <div class="right floated six wide column">
                <div class="ui form">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <div class="ui calendar" id="rangestart">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Start">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui calendar" id="rangeend">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="End">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    
                </script>
            </div>
        </div>
        <div class="equal width row">
            <div class="column">
                <div class="ui center aligned card-statistic segment" data-type="users">
                    <div class="ui small statistic">
                        <div class="value">...</div>
                        <div class="label">Online users</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned card-statistic segment" data-type="visitors">
                    <div class="ui small statistic">
                        <div class="value">...</div>
                        <div class="label">Visitors</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned card-statistic segment" data-type="views">
                    <div class="ui small statistic">
                        <div class="value">...</div>
                        <div class="label">Page Views</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned card-statistic segment" data-type="duration">
                    <div class="ui small statistic">
                        <div class="value">...</div>
                        <div class="label">Page Duration</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned card-statistic segment" data-type="bounce">
                    <div class="ui small statistic">
                        <div class="value">...</div>
                        <div class="label">Bounce Rate</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="equal width row">
            <div class="column">
                <div class="ui card-chart segment" data-type="by-date" style="min-height: 5em; max-height: 400px;"></div>
            </div>
            <div class="column" id="by-doc-loc">
                <div class="ui segments" id="table-by-date-segments">
                    <div class="ui segment">
                        <div class="ui grid">
                            <div class="six wide column"><a class="sort" data-sort="doc-loc">Location</a></div>
                            <div class="three wide right aligned column"><a class="sort" data-sort="views">Views</a></div>
                            <div class="three wide right aligned column"><a class="sort" data-sort="visitors">Visitors</a></div>
                            <div class="four wide right aligned column"><a class="sort" data-sort="duration">Duration</a></div>
                        </div>
                    </div>
                    <div class="ui segment" style="margin: 0; padding: 0;">
                        <div class="ui grid list" style="margin: 0;" id="table-by-date-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var dashboard;
        $(document).ready(() => {
            dashboard = new Dashboard("{{ object.id }}");
            dashboard.update();
        })
    </script>
{% endblock %}