{% extends "pixel/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}
{% endblock head %}

{% block main %}
    
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="row">
            <div class="column">
                <div class="ui header" style="display: flex; flex-flow: row nowrap;">
                    <div style="flex: 1 0 auto;">
                        {% translate "Your pixel tags" %}
                    </div>
                    <a href="" class="ui right floated icon labeled green button" style="flex: 0 0 auto;">
                        <i class="add icon"></i>
                        {% translate "New tag" %}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
        {% if object_list %}
        <div class="row">
            <div class="column">
                <div class="ui stackable cards">
                {% for site in object_list %}
                    <div class="ui card">
                        <div class="content">
                            <a class="header" href="{% url 'pixel:dashboard' pk=site.id %}">{{ site.host }}</a>
                            <div class="meta">
                                <span class="date">{% translate "Created at " %}{{ site.created_at }}</span>
                            </div>
                            <div class="description">
                                {{ site.ping_set.all.count }} pings
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="ui view-code button" data-site-id="{{ site.id }}">{% translate "View code" %}</button>
                            <button class="ui delete-tag button" data-site-id="{{ site.id }}">{% translate "Delete tag" %}</button>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="column">
                <div class="ui placeholder segment">
                    <div class="ui icon header">
                        <i class="pdf file outline icon"></i>
                        {% translate "No tags are listed for you." %}
                    </div>
                    <a class="ui primary button" href="{% url 'pixel:tag_create' %}">{% translate "Create first tag" %}</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            {% translate "Code snippet" %}
        </div>
        <div class="image content">
            <div class="description" style="width: 100%;">
                <p>{% translate "Place this on every page you'd like to generate metrics." %}</p>
                <div class="ui message" style="overflow-x: auto;">
                    <div style="white-space: nowrap;" id="code-snippet"></div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui button" id="copy-snippet-btn">
                {% translate "Copy snippet" %}
            </div>
            <div class="ui button" id="download-js-btn">
                {% translate "Download as Javascript file" %}
            </div>
            <div class="ui button" id="download-html-btn">
                {% translate "Download as HTML file" %}
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <script>
        snippets = {
            {% for site in object_list %}
            "{{ site.id }}":`{{ site.snippet|escapejs }}`,
            {% endfor %}
        }
        
        function copyCode() {
            var txt = $("#code-snippet").text();
            navigator.clipboard.writeText(txt);
            $('body').toast({
                message: "Code copied!"
            })
        }
        
        function downloadJS() {
            var txt = $("#code-snippet").text()
                .replace("<script>", "")
                .replace("<\/script>", "");
            var a = window.document.createElement('a');
            a.href = window.URL.createObjectURL(new Blob([txt], {type: 'text/javascript'}));
            a.download = 'snippet.js';
            
            // Append anchor to body.
            document.body.appendChild(a);
            a.click();
            
            // Remove anchor from body
            document.body.removeChild(a);
        }
        function downloadHTML() {
            var txt = $("#code-snippet").text();
            var a = window.document.createElement('a');
            a.href = window.URL.createObjectURL(new Blob([txt], {type: 'text/html'}));
            a.download = 'snippet.html';
            
            // Append anchor to body.
            document.body.appendChild(a);
            a.click();
            
            // Remove anchor from body
            document.body.removeChild(a);
        }

        function deleteTag(siteId) {
            $('body').modal({
                title: 'Confirmation',
                class: 'mini',
                closeIcon: true,
                content: `
                    <p>Are you sure you want to delete this tag?</p>
                    <div class="ui warning message">This action is irreversible!
                    </div>
                `,
                actions: [
                    {
                        text: 'Cancel',
                    },
                    {
                        text: 'Yes, delete it.',
                        icon: 'delete',
                        class: 'right floated red ok',
                    },
                ],
                onApprove: () => {
                    console.log('Deleting');
                    $.api({
                        on: 'now',
                        method: 'DELETE',
                        url: `/pixel/tags/${siteId}`,
                        headers: { 'X-CSRFToken': csrftoken },
                        onSuccess: () => {
                            $('body').toast({ message: `Successfully deleted tag ${siteId}`})
                            location.reload();
                        }
                    })
                },
            }).modal('show');
        }
        
        $(document).ready(() => {
            $('.view-code').on('click', e => {
                var siteId = $(e.target).attr('data-site-id');
                $("#code-snippet").text(snippets[siteId])
                $('.ui.modal').modal('show');
            });
            $('.delete-tag').on('click', e => {
                var siteId = $(e.target).attr('data-site-id');
                deleteTag(siteId);
            });
            $("#copy-snippet-btn").api({
                loadingDuration: 500,
                response: {},
                onComplete: copyCode,
            });
            $("#download-js-btn").api({
                loadingDuration: 500,
                response: {},
                onComplete: downloadJS,
            });
            $("#download-html-btn").api({
                loadingDuration: 500,
                response: {},
                onComplete: downloadHTML,
            });
        })
    </script>

{% endblock %}