{% extends "typer/base.html" %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block head %}
    {% comment %} <script src="{% static 'typer/lesson_list.js' %}"></script> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'typer/lesson_list.css' %}"> {% endcomment %}
{% endblock  %}

{% block main %}
<script src="{% static 'js/dragula.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/dragula.min.css' %}">

<div class="pusher" style="padding-top: 3em;">
    <div class="ui stackable grid container basic segment" style="padding: 0; min-height: 5em;" id="grid">
        <div class="row">
            <div class="column" id="page-content">
                {% for lesson in lessons %}
                <a href="{% url 'typer:detail' pk=lesson.id %}">{{ lesson.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="ui small modal" id="mind-map-modal">
    <i class="close icon"></i>
    <div class="header">
        {% translate "Create new lesson" %}
    </div>
    <div class="content">
        <div class="ui fluid input">
            <input type="text" name="name" placeholder="{% translate 'Type a name for you lesson' %}" id="mind-map-name">
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            {% translate "Close" %}
        </div>
        <div class="ui green approve icon labeled button">
            <i class="save icon"></i>
            {% translate "Save" %}
        </div>
    </div>
</div>

<script>
    $(document).ready(init)
</script>
{% endblock %}