{% extends "curriculum_builder/base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
    <style>{{ css }}</style>
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="row">
            <div class="column">
                <h1 class="ui header">
                    <div class="content">
                        {{ object.title }}
                    </div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="content">
                        <div class="description">
                            {{ object.html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}