<div class="ui three column center aligned grid">

  {% include "homepage/_app_button.html" with name="Finance" url="/fn/" emoji="dollar" %}
  {% include "homepage/_app_button.html" with name="Project Manager" url="/pm/" emoji="dividers" %}
  {% include "homepage/_app_button.html" with name="To-do lists" url="/todo/" emoji="dividers" %}
  {% include "homepage/_app_button.html" with name="Notes" url="/nt/" emoji="notepad_spiral" %}
  {% include "homepage/_app_button.html" with name="Messenger" url="/ms/" emoji="envelope" %}

</div>