<div class="ui three column divided grid">
  <div class="column">
    <em style="font-size: 3em;" data-emoji="toolbox"></em>
  </div>
  <div class="column">
    <em style="font-size: 3em;" data-emoji="toolbox"></em>
  </div>
  <div class="column">
    <em style="font-size: 3em;" data-emoji="toolbox"></em>
  </div>
  <div class="column">
    <em style="font-size: 3em;" data-emoji="toolbox"></em>
  </div>
  <div class="column">
    <em style="font-size: 3em;" data-emoji="toolbox"></em>
  </div>
</div>