<style>
    @keyframes chartarea {
        0% {width: 0; height: 0; }
        10% {width: 20em; height: 15em; }
        100% {width: 20em; height: 15em; }
    }
    @keyframes axisx {
        0% {width: 0; }
        15% {width: 18em; }
        100% {width: 18em; }
    }
    @keyframes axisy {
        0% {height: 0; }
        15% {height: 13em; }
        100% {height: 13em; }
    }
    @keyframes bar1 {
        0% {height: 0; }
        20% {height: 0; }
        100% {height: 4em; }
    }
    @keyframes bar2 {
        0% {height: 0; }
        30% {height: 0; }
        100% {height: 6em; }
    }
    @keyframes bar3 {
        0% {height: 0; }
        40% {height: 0; }
        100% {height: 3em; }
    }
    @keyframes bar4 {
        0% {height: 0; }
        50% {height: 0; }
        100% {height: 8em; }
    }
    @keyframes bar5 {
        0% {height: 0; }
        60% {height: 0; }
        100% {height: 4em; }
    }
    .anim.finance {
        width: 100%;
        padding: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .anim.finance .anim {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        border-radius: .5em;
    }
    .anim.finance .chart-area {
        margin: 0 auto;
        position: relative;
        height: 15em;
        width: 20em;
        padding: 1em;
        background-color: #E6E6E6;
        animation-name: chartarea;
        animation-direction: normal !important;
        animation-iteration-count: 1 !important;
    }
    .anim.finance .axis-x {
        position: absolute;
        bottom: 1em;
        height: 1em;
        width: 18em;
        background-color: #2F2E41;
        animation-name: axisx;
        animation-direction: normal !important;
        animation-iteration-count: 1 !important;
    }
    .anim.finance .axis-y {
        position: absolute;
        bottom: 1em;
        left: 1em;
        height: 13em;
        width: 1em;
        background-color: #2F2E41;
        animation-name: axisy;
        animation-direction: normal !important;
        animation-iteration-count: 1 !important;
    }
    .anim.finance .bar-1 {
        position: absolute;
        bottom: 2em;
        left: 3em;
        width: 2em;
        height: 4em;
        border-radius: .5em .5em 0 0;
        background-color: #6C63FF;
        animation-name: bar1;
    }
    .anim.finance .bar-2 {
        position: absolute;
        bottom: 2em;
        left: 6em;
        width: 2em;
        height: 6em;
        border-radius: .5em .5em 0 0;
        background-color: #6C63FF;
        animation-name: bar2;
    }
    .anim.finance .bar-3 {
        position: absolute;
        bottom: 2em;
        left: 9em;
        width: 2em;
        height: 3em;
        border-radius: .5em .5em 0 0;
        background-color: #6C63FF;
        animation-name: bar3;
    }
    .anim.finance .bar-4 {
        position: absolute;
        bottom: 2em;
        left: 12em;
        width: 2em;
        height: 8em;
        border-radius: .5em .5em 0 0;
        background-color: #6C63FF;
        animation-name: bar4;
    }
    .anim.finance .bar-5 {
        position: absolute;
        bottom: 2em;
        left: 15em;
        width: 2em;
        height: 4em;
        border-radius: .5em .5em 0 0;
        background-color: #6C63FF;
        animation-name: bar5;
    }

</style>
<div class="anim finance">
    <div class="anim chart-area">
        <div class="anim axis-x"></div>
        <div class="anim axis-y"></div>
        <div class="anim bar-1"></div>
        <div class="anim bar-2"></div>
        <div class="anim bar-3"></div>
        <div class="anim bar-4"></div>
        <div class="anim bar-5"></div>
    </div>
</div>
