{% extends "base.html" %}
{% load static %}

{% block head %}
  <style type="text/css">
    .ui.app.button {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    img.app {
      max-height: 250px;
      display:block;
      margin-left:auto;
      margin-right:auto;
    }

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
      height: 38em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }

    span {
      border-right: .05em solid;
      animation: caret .7s steps(1) infinite;
    }
    @keyframes caret {
      50% {
        border-color: transparent;
      }
    }

  </style>

  <script>
    $(document)
      .ready(function(event) {

        // fix menu when passed
        $('.masthead')
          .visibility({
            once: false,
            onBottomPassed: function() {
              $('.fixed.menu').transition('fade in');
            },
            onBottomPassedReverse: function() {
              $('.fixed.menu').transition('fade out');
            }
          })
        ;

        // create sidebar and attach to menu open
        $('.ui.sidebar')
          .sidebar('attach events', '.toc.item')
        ;

        // array with texts to type in typewriter
        var dataText = [ "Organize your financial life 💵", "Manage projects in kanban-style 🗃️", "Take notes in markdown syntax 🗒️"];
        
        function typeWriter(text, i, fnCallback) {
          if (i < (text.length)) {
            $('.typewriter').html(
              text.substring(0, i+1) + '<span aria-hidden="true"></span>'
            );
            setTimeout(function() {
              typeWriter(text, i + 1, fnCallback)
            }, 100);
          }
          else if (typeof fnCallback == 'function') {
            setTimeout(fnCallback, 700);
          }
        }
        function StartTextAnimation(i) {
          if (typeof dataText[i] == 'undefined'){
            setTimeout(function() {
              StartTextAnimation(0);
            }, 5000);
            return;
          }
          if (i < dataText[i].length) {
            typeWriter(dataText[i], 0, function(){
              StartTextAnimation(i + 1);
            });
          }
        }
        StartTextAnimation(0);
      })
    ;
  </script>
{% endblock head %}

{% block body %}

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" href="{% url 'home' %}">Home</a>
    <a class="item" href="{% url 'finance:index' %}">Finance</a>
    <a class="item" href="{% url 'project_manager:index' %}">Project Manager</a>
    <a class="item" href="{% url 'notes:index' %}">Notes</a>
    {% if user.is_superuser %}
      <a class="item" href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
    <div class="right menu">
      <a class="apps item"><i class="toolbox icon"></i></a>
      <div class="ui right flowing popup" style="width: 320px; max-height: 300px; overflow-y: auto;">
        {% include "homepage/_apps_menu.html" %}
      </div>
        
      {% if user.is_authenticated %}
        <a class="item" href="{% url 'finance:logout' %}">Sign out</a>
      {% else %}
        <a class="item" href="{% url 'finance:login' %}">Log in</a>
        <a class="item" href="{% url 'finance:signup' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left">
  <a class="active item" href="{% url 'home' %}">Home</a>
  <a class="item" href="{% url 'finance:index' %}">Finance</a>
  <a class="item" href="{% url 'project_manager:index' %}">Project Manager</a>
  <a class="item" href="{% url 'notes:index' %}">Notes</a>
  {% if user.is_superuser %}
    <a class="item" href="{% url 'admin:index' %}">Admin</a>
  {% endif %}
  {% if user.is_authenticated %}
    <a class="item" href="{% url 'finance:logout' %}">Sign out</a>
  {% else %}
    <a class="item" href="{% url 'finance:login' %}">Log in</a>
    <a class="item" href="{% url 'finance:signup' %}">Sign Up</a>
  {% endif %}
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item" href="{% url 'home' %}">Home</a>
        <a class="item" href="{% url 'finance:index' %}">Finance</a>
        <a class="item" href="{% url 'project_manager:index' %}">Project Manager</a>
        <a class="item" href="{% url 'notes:index' %}">Notes</a>
        {% if user.is_superuser %}
          <a class="item" href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
        <div class="right item">
          <div class="ui inverted icon apps button"><i class="toolbox icon"></i></div>
          <div class="ui right flowing popup" style="width: 320px; max-height: 300px; overflow-y: auto;">
            {% include "homepage/_apps_menu.html" %}
          </div>
          
        {% if user.is_authenticated %}
          <a class="ui inverted button" href="{% url 'finance:logout' %}">Sign out</a>
        {% else %}
          <a class="ui inverted button" href="{% url 'finance:login' %}">Log in</a>
          <a class="ui inverted button" href="{% url 'finance:signup' %}">Sign Up</a>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header typewriter" style="height: 3em;"></h1>
      <h2 style="height: 3em;">Mono Project. A simple - yet powerful - set of tools. </h2>
      <a class="ui huge primary button" href="{% url 'finance:signup' %}">Get Started <i class="right arrow icon"></i></a>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We help you organize your life</h3>
          <p>Our goal is to build simple and powerful apps.</p>
          <h3 class="ui header">We are a small team</h3>
          <p>But we have a few amazing people helping us... And you could do it too! We'll be happy to hear your suggestions! </p>
          <a href="{% url 'feedback:feedback_create' %}" class="ui button">Give us your feedback</a>
        </div>
        <div class="six wide right floated column">
          <img src="{% static '/image/undraw_building_websites_i78t.png' %}" class="ui large image">
        </div>
      </div>
    </div>
  </div>



  <div class="ui vertical quote stripe segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>Finance</h3>
          <p>Organize your financial life</p>
          {% include 'homepage/_finance_animation.html' %}
          <a href="{% url 'finance:index' %}" class="ui app primary big button">Check the app</a>
        </div>
        <div class="column">
          <h3>Project Manager</h3>
          <p>Manage projects using the power of cards</p>
          {% include 'homepage/_project_manager_animation.html' %}
          <a href="{% url 'project_manager:index' %}" class="ui app primary big button">Check the app</a>
        </div>
        <div class="column">
          <h3>Notes</h3>
          <p>Take beautiful notes using markdown language</p>
          {% include 'homepage/_notes_animation.html' %}
          <a href="{% url 'notes:index' %}" class="ui app primary big button">Check the app</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            {% comment %} <a href="#" class="item">Sitemap</a> {% endcomment %}
            {% comment %} <a href="#" class="item">Contact Us</a> {% endcomment %}
            <a href="{% url 'feedback:feedback_create' %}" class="item">Give us your feedback</a>
            {% comment %} <a href="#" class="item">Gazebo Plans</a> {% endcomment %}
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="{% url 'finance:index' %}" class="item">Financial App</a>
            <a href="{% url 'project_manager:index' %}" class="item">Project Management App</a>
            <a href="{% url 'notes:index' %}" class="item">Notes App</a>
          </div>
        </div>
        {% comment %} <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<script>
  w = 0;
  s = $('.ui.apps.button').siblings('.ui.button');
  for (i=0; i<s.length; i++) {
    w += $(s[i]).outerWidth();
  }
  $('.apps').popup(
    {
      on: 'click',
      hoverable: true,
      position:	"bottom right",
      forcePosition: true,
      offset: w
    }
  );
</script>
{% endblock body %}