{% extends "finance/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  <style>
    .charts-container {
      padding: 0 1em 0 1em;
    }
    @media only screen and (max-width: 640px) {
      .charts-container {
        padding: 0;
      }
    }
    .card .content {
      min-height: 350px;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock head %}
  
{% block main %}
{% comment %} <script src="{% static 'apexcharts/' %}"></script> {% endcomment %}
<script src="{% static 'finance/charts.js' %}"></script>
<div class="charts-container">  
  <div class="ui stackable grid" id="charts">
  </div>
</div>

<script>
  $(document).ready(e => {
    getCharts();
  });
</script>
{% endblock main %}
