{% extends "finance/base.html" %}

{% block head %}
{% endblock head %}

{% block body %}

<div class="ui container"  style="margin-bottom: 1em;">

  <div class="row" style="margin-bottom: 1em;">
    
    <div class="ui segments">
      <div class="ui secondary grey segment" style="padding: .5em 1em;" onclick="$(this).siblings('.ui.segment').toggle('swing');">
        <div class="ui grid">
          <div class="eight wide column">
            Icons
          </div>
        </div>
      </div>
      
      {% for icon in object_list %}
      <div class="ui segment" style="padding: .5em 1em;">
        <div class="ui grid">
          <div class="column">
            <a href="{% url 'finance:icon_update' pk=icon.pk %}">
              <span class="ui text">
                <i class="{{ icon.markup }} icon"></i>
                {{ icon.markup }}
              </span>
            </a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
    

    
    <div class="row">
        <a class="ui fluid button primary" href="{% url "finance:icon_create" %}">Add category</a>
    </div>
  </div>
</div>


<script>
  $('.ui.dropdown').dropdown();
  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });
</script>

{% endblock %}