{% extends "finance/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="ui stackable grid container">

  <div class="ui four wide column"></div>

  <div class="ui eight wide column ">
    <div class="row">
      <div class="ui attached message">
        <div class="header">
          {% translate "Login to your account!" %}
        </div>
      </div>
      <div class="ui attached segment">
        <form class="ui form {% if form.errors %}error{% endif %}" method="POST">
          {% csrf_token %}
          
          <div class="field {% if form.username.errors %}error{% endif %}">
              <label>{% translate "Username or email address" %}</label>
              {{ form.username }}
              {% if form.username.errors %}
                  <div class="ui error message">
                  {% for error in form.username.errors %}
                      {{ error }}
                  {% endfor %}
                  </div>
              {% endif %}
          </div>

          {% include "_field.html" with field=form.password %}

          {% if form.non_field_errors %}
          <div class="ui error message">
          {% for error in form.non_field_errors %}
              {{ error }}
          {% endfor %}
          </div>
          {% endif %}

          <button type="submit" class="ui fluid submit primary button">{% translate "Login" %}</button>
          <div class="ui error message"></div>
        </form>
      </div>
    </div>
    <div class="ui bottom attached message">
      <p><i class="question circle icon"></i><a href="{% url 'finance:password_reset' %}">{% translate "Forgot your password?" %}</a></p>
      <p><i class="info circle icon"></i><a href="{% url 'finance:signup' %}">{% translate "New here?" %}</a></p>  
    </div>

    <div class="ui horizontal divider">{% translate "Or" %}</div>
    <span class="ui text">{% translate "Login with: " %}</span>
    <a class="ui github button" href="{% url 'social:begin' 'github' %}">
      <i class="github icon"></i>
      GitHub
    </a>
  </div>
  
  <div class="ui four column wide"></div>
</div>

<script>
</script>
{% endblock body %}
