{% load i18n %}
<div class="ui toggle checkbox" data-name="{{ widget.name }}"> 
    <input type="hidden" name="{{ widget.name }}">
    <input 
        type="checkbox" 
        name="{{ widget.name }}" 
        {% if widget.value %}
        checked
        {% endif %}
        > 
    <label>{% translate widget.label %}</label>
</div>
<script>
    $('.toggle.checkbox[data-name={{ widget.name }}]').checkbox({
        onChecked: () => {$('input[type=hidden][name={{ widget.name }}]').val(1)},
        onUnchecked: () => {$('input[type=hidden][name={{ widget.name }}]').val(0)},
    });
</script>