.profile-pic {
    position: relative;
    width: 2em;
    height: 2em;
    display: inline-block;
}

.profile-pic .loader {
    height: 100%;
    right: 0px;
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 100%;
}

.loading.profile-pic .loader {
    border: solid .2em #dadada;
    border-top-color:  #4183c4;
    transform: rotate(135deg);  
    animation: spin 1.3s steps(2) .2s infinite;
    -webkit-animation: spin 1.3s linear infinite;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.space-name {
    font-size: large;
    font-style: italic;
    color:rgba(0, 0, 0, .6);
}

.ui.card, .space.segments {
    border: 1px solid #ccc !important;
    transition: box-shadow .3s;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .2) !important;
}
.ui.disabled.card {
    pointer-events: all !important;
}
.ui.card:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, .4) !important;
    transform: translate(0, -.5em);
    z-index: 0;
}
#spaceless-boards {
    padding: .3em !important;
    min-height: 10em;
}
.stripes {
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, .05),
        rgba(0, 0, 0, .05),
        #fff 10px,
        #fff 20px
    ) !important;
}