<div class="ui segment toolbar" id="toolbar">
    <a class="floating ui circular icon basic label" onclick="closeToolbar()">
        <i class="close icon"></i>
    </a>

    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="decreaseFontSize()" title="Decrease font size">
            <i class="icons">
                <i class="font icon"></i>
                <i class="corner minus icon"></i>
            </i>
        </div>
        <div class="ui icon tiny button" onclick="increaseFontSize()" title="Increase font size">
            <i class="icons">
                <i class="font icon"></i>
                <i class="corner add icon"></i>
            </i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="decreasePadding()" title="Decrease padding">
            <i class="icons">
                <i class="expand icon"></i>
                <i class="corner minus icon"></i>
            </i>
        </div>
        <div class="ui icon tiny button" onclick="increasePadding()" title="Increase padding">
            <i class="icons">
                <i class="expand icon"></i>
                <i class="corner add icon"></i>
            </i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="decreaseBorder()" title="Decrease border">
            <i class="icons">
                <i class="circle outline icon"></i>
                <i class="corner minus icon"></i>
            </i>
        </div>
        <div class="ui icon tiny button" onclick="increaseBorder()" title="Increase border">
            <i class="icons">
                <i class="circle outline icon"></i>
                <i class="corner add icon"></i>
            </i>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="decreaseZoom()" title="Decrease zoom">
            <i class="search minus icon"></i>
        </div>
        <div class="ui icon tiny button" onclick="increaseZoom()" title="Increase zoom">
            <i class="search plus icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="centralize()" title="Centralize">
            <i class="crosshairs icon"></i>
        </div>
    </div>

    <div class="ui divider"></div>
    
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="toggleBold()" title="Toggle bold">
            <i class="bold icon"></i>
        </div>
        <div class="ui icon tiny button" onclick="toggleItalic()" title="Toggle italic">
            <i class="italic icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="toggleUnderline()" title="Toggle underline">
            <i class="underline icon"></i>
        </div>
        <div class="ui icon tiny button" onclick="toggleLineThrough()" title="Toggle italic">
            <i class="strikethrough icon"></i>
        </div>
    </div>
    
    <div class="ui divider"></div>
    
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="autoStyle()" title="Reset style">
            <i class="remove format icon"></i>
        </div>
    </div>
    
    <div class="ui divider"></div>

    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="red()" title="Change to red">
            <i class="red circle icon"></i>
        </div>
        <div class="ui icon tiny button" onclick="orange()" title="Change to orange">
            <i class="orange circle icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="yellow()" title="Change to yellow">
            <i class="yellow circle icon"></i>
        </div>
        <div class="ui icon tiny button" onclick="olive()" title="Change to olive">
            <i class="olive circle icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="green()" title="Change to green">
            <i class="green circle icon"></i>
        </div>
        <div class="ui icon tiny button" onclick="teal()" title="Change to teal">
            <i class="teal circle icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="blue()" title="Change to blue">
            <i class="blue circle icon"></i>
        </div>
        <div class="ui icon tiny button" onclick="violet()" title="Change to violet">
            <i class="violet circle icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="purple()" title="Change to purple">
            <i class="purple circle icon"></i>
        </div>
        <div class="ui icon tiny button" onclick="pink()" title="Change to pink">
            <i class="pink circle icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="brown()" title="Change to brown">
            <i class="brown circle icon"></i>
        </div>
        <div class="ui icon tiny button" onclick="grey()" title="Change to grey">
            <i class="grey circle icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" onclick="black()" title="Change to black">
            <i class="black circle icon"></i>
        </div>
    </div>

    <div class="ui divider"></div>
    
    <div class="toolbar-row">
        <div id="change-background-color" class="ui icon tiny button" title="Change background color">
            <i class="paint roller icon"></i>
        </div>
        <div id="change-node-border-color" class="ui icon tiny button" title="Change border and connector colors">
            <i class="icons">
                <i class="circle outline icon"></i>
                <i class="red corner tint icon"></i>
            </i>
        </div>
    </div>
    <div class="toolbar-row">
        <div id="change-node-background-color" class="ui icon tiny button" title="Change background color">
            <i class="icons">
                <i class="circle icon"></i>
                <i class="red corner tint icon"></i>
            </i>
        </div>
        <div id="change-node-font-color" class="ui icon tiny button" title="Change font color">
            <i class="icons">
                <i class="font icon"></i>
                <i class="red corner tint icon"></i>
            </i>
        </div>
    </div>
    
    <div class="ui divider"></div>

    <div class="toolbar-row">
        <div class="ui icon tiny button" title="Align vertically" onclick="alignNodeAvg(false)">
            <i class="align center icon"></i>
        </div>
        <div class="ui icon tiny button" title="Align horizontally" onclick="alignNodeAvg(true)">
            <i class="clockwise rotated align center icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" title="Align vertically" onclick="alignNodeMin(false)">
            <i class="align left icon"></i>
        </div>
        <div class="ui icon tiny button" title="Align horizontally" onclick="alignNodeMin(true)">
            <i class="clockwise rotated align left icon"></i>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="ui icon tiny button" title="Align vertically" onclick="alignNodeMax(false)">
            <i class="align right icon"></i>
        </div>
        <div class="ui icon tiny button" title="Align horizontally" onclick="alignNodeMax(true)">
            <i class="counterclockwise rotated align right icon"></i>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="toolbar-row">
        <div class="ui icon tiny button" title="Export mind map" onclick="exportMindMap()">
            <i class="download icon"></i>
        </div>
    </div>
</div>