<div class="ui segment toolbar" id="toolbar" style="display: flex; flex-flow: column nowrap; gap: .5em; padding: .5em; margin: 0;">
    <div class="toolbar-row" style="display: flex; flex-flow: row nowrap; gap: .5em;">
        <div class="ui icon button" onclick="decreaseFontSize()" title="Decrease font size">
            <i class="text height icon"></i>
        </div>
        <div class="ui icon button" onclick="increaseFontSize()" title="Increase font size">
            <i class="text height icon"></i>
        </div>
    </div>
    <div class="toolbar-row" style="display: flex; flex-flow: row nowrap; gap: .5em;">
        <div class="ui icon button" onclick="decreasePadding()" title="Decrease padding">
            <i class="compress icon"></i>
        </div>
        <div class="ui icon button" onclick="increasePadding()" title="Increase padding">
            <i class="expand icon"></i>
        </div>
    </div>
</div>