{% extends "simple_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block head %}
    <script src="{% static 'mind_maps/jscolor.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="{% static 'mind_maps/style.js' %}"></script>
    <script src="{% static 'mind_maps/panel.js' %}"></script>
    <script src="{% static 'mind_maps/nodes.js' %}"></script>
    <script src="{% static 'mind_maps/connectors.js' %}"></script>
    <script src="{% static 'mind_maps/position.js' %}"></script>
    <script src="{% static 'mind_maps/utils.js' %}"></script>
    <script src="{% static 'mind_maps/state.js' %}"></script>
    <script src="{% static 'mind_maps/toolbar.js' %}"></script>
    <script src="{% static 'mind_maps/mind_map_detail.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'mind_maps/mind_map_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mind_maps/scroll.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
{% endblock head %}

{% block main %}
    {% include 'mind_maps/_toolbar.html' %}
    <div class="ui fluid basic segment" style="height: 100%; width: 100%; padding: 0; margin: 0;" id="container"></div>
    {% localize off %}
    <script>
        const MIND_MAP_ID = "{{ object.id }}"
        const MIND_MAP_NAME = "{{ object.name }}"
        var scale = {{ panel.scale }}
        var panel = {
            height: {{ panel.height }} * scale,
            width: {{ panel.width }} * scale,
            color: '{{ panel.color }}',
        }
        $(document).ready(init)
    </script>
    {% endlocalize %}
{% endblock %}