{% extends "simple_base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <style>
        body { overflow: hidden; }
    </style>
    <script src="{% static 'mind_maps/mind_map_detail.js' %}"></script>
    <script src="{% static 'mind_maps/nodes.js' %}"></script>
    <script src="{% static 'mind_maps/connectors.js' %}"></script>
    <script src="{% static 'mind_maps/position.js' %}"></script>
    <script src="{% static 'mind_maps/utils.js' %}"></script>
    <script src="{% static 'mind_maps/state.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'mind_maps/index.css' %}">
{% endblock head %}

{% block main %}
    <div class="ui stackable grid" style="padding: 3em 0 0 0;">
        <div class="row">
            <div class="column">
                <div class="ui fluid segment" style="height: calc(100vh - 3em);" id="container"></div>
            </div>
        </div>
    </div>
    <script>
        const MIND_MAP_ID = "{{ object.id }}"
        $(document).ready(init)
    </script>
{% endblock %}