<div class="ui modal" id="{{ modal.id }}">
    <i class="close icon"></i>
    <div class="header"></div>
    <div class="ui form content">
        {% for f in modal.fields %}
            {% if f.type == 'text' %}
                <div class="field">
                    <label>{{ f.label }}</label>
                    <input type="text" name="{{ f.name }}">
                </div>
            {% elif f.type == 'textarea' %}
                <div class="field">
                    <label>{{ f.label }}</label>
                    <textarea name="{{ f.name }}"></textarea>
                </div>
            {% elif f.type == 'calendar' %}
                <div class="field">
                    <label>{{ f.label }}</label>
                    <div class="ui calendar" data-name="{{ f.name }}">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text">
                        </div>
                    </div>
                </div>
            {% elif f.type == 'dropdown' %}
                <div class="field">
                    <label>{{ f.label }}</label>
                    <div class="ui selection dropdown" data-name="{{ f.name }}">
                        <input type="hidden" name="{{ f.name }}">
                        <i class="dropdown icon"></i>
                        <div class="default text">{{ f.label }}</div>
                        <div class="menu">
                            {% for value, name in f.choices %}
                                <div class="item" data-value="{{ value }}">{{ name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Save
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>