{% extends "curriculum_builder/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <script src="{% static '/curriculum_builder/curriculum_edit.js' %}"></script>
{% endblock head %}

{% block main %}
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="row">
            <div class="column">
                <form class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label>First Name</label>
                            <input type="text" name="first-name" placeholder="First Name">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input type="text" name="last-name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="field">
                        <label>Bio</label>
                        <textarea type="text" name="bio" placeholder="Bio"></textarea>
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input type="text" name="address" placeholder="Address">
                    </div>
                    <a class="ui button" onclick="getCurriculum()">Save</a>
                </form>
                <div class="ui dividing header">Companies</div>
                <div class="ui basic companies cards segment" style="padding: 0;" id="companies"></div>
                <div class="ui basic primary button" style="margin-top: 1em;" onclick="addCompany()">Add new company</div>
            </div>
        </div>
    </div>
    

    <div class="ui modal" id="company-modal">
        <i class="close icon"></i>
        <div class="header">Company</div>
        <div class="ui form content">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="description"></textarea>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button">
                Save
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    
    <script>
        const CURRICULUM_ID = "{{ object.id }}";
        $(document).ready(e => {
            getCurriculum();
        })
    </script>
{% endblock %}