{% extends "curriculum_builder/base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="row">
            <div class="column">
                <h1 class="ui header">
                    <div class="content">
                        Your curricula
                    </div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui four cards">
                    {% for c in object_list %}
                        <div class="ui card">
                            <div class="content">
                                <div class="header">
                                    {{ c }}
                                </div>
                                <div class="description">
                                    {{ c.bio }}
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <a class="ui basic button" href="{% url 'curriculum_builder:curriculum_detail' pk=c.id %}">View</a>
                                    <a class="ui basic yellow button" href="">Edit</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}