{% extends "project_manager/base.html" %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block head %}
    <script src="{% static 'project_manager/project_detail.js' %}"></script>
    <style>
        .ui.card {
            border: 1px solid #ccc !important;
            transition: box-shadow .3s;
            box-shadow: 0 0 .5em rgba(0, 0, 0, .2) !important;
        }
        .ui.card:hover {
            box-shadow: 0 0 1em rgba(0, 0, 0, .4) !important;
            transform: translate(0, -.5em);
        }
    </style>
{% endblock  %}

{% block main %}
<script src="{% static 'js/dragula.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/dragula.min.css' %}">
<div class="pusher" style="padding-top: 3em;">
    {% include 'project_manager/_breadcrumb.html' with breadcrumb=breadcrumb only %}
    <div class="ui stackable grid container basic segment" style="padding: 0; min-height: 5em;" id="grid">
        <div class="row">
            <div class="column" id="page-content">
                <h2 class="ui header">
                    <i class="columns icon"></i>
                    <div class="content">
                        {% translate "Boards" %}
                        <div class="sub header">{% translate "Boards are where you organize your cards." %}</div>
                    </div>
                </h2>
            </div>
        </div>

        {% if boards %}
            <div class="row">
                <div class="column">
                    <a href="{% url 'project_manager:board_create' project_pk=object.id %}" class="ui left floated icon labeled green button">
                        <i class="add icon"></i>{% translate "New board" %}
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="column">
                <div class="ui button primary icon labeled button" onclick="showSharingModal()"><i class="share alternate icon"></i>{% translate "Sharing options" %}</div>
            </div>
        </div>
    </div>
</div>

<div class="ui modal" id="sharing-modal">
    <i class="close icon"></i>
    <div class="header">
        {% translate "Sharing options" %}
    </div>
    <div class="content">
        
        <div class="description">
            <div class="ui header">
                {% translate "Your team: " %}
            </div>
            {% if object.assigned_to.all %}
                <div style="overflow-x: auto;">
                    <table class="ui unstackable striped celled single line table">
                        <thead>
                            <tr>
                                <th>{% translate "Name" %}</th>
                                <th>{% translate "Username" %}</th>
                                <th>{% translate "Email" %}</th>
                                <th>{% translate "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in object.assigned_to.all %}
                                <tr>
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <div class="ui tiny icon red {% if user == object.created_by %}disabled{% endif %} button" data-content="Remove member from project's team" onclick="removeMember({{ user.id }})"><i class="sign out alternate icon"></i></div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                {% translate "No members yet" %}
            {% endif %}

            <div class="ui header">
                {% translate "Your invites: " %}
            </div>
            <form class="ui invite form">
                <div class="fluid field">
                    <div class="ui fluid action input">
                        <input type="email" name="email" placeholder="Type an email to invite here" class="action invite">
                        <button class="ui teal right labeled icon send invite button" type="submit">
                            <i class="envelope icon"></i>
                            {% translate "Send" %}
                        </button>
                    </div>
                </div>
                <div class="ui error message"></div>
            </form>
            <div id="invites" style="margin-top: 1em;"></div>

            <div class="ui header">
                {% translate "Share link: " %}
            </div>
            <div class="ui fluid action input">
                <input class="link" type="text" readonly value="{{ object.share_link }}">
                <button class="ui teal icon copy button">
                    <i class="copy icon"></i>
                </button>
            </div>
            <div id="invites" style="margin-top: 1em;">
            </div>

        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            {% translate "Close" %}
        </div>
    </div>
</div>
  
<script>
    const PROJECT_ID = "{{ object.id }}"
    const PROJECT_NAME = "{{ object.name }}"
    const INVITE_FORM = $('.ui.invite.form')
    $(document).ready(() => {
        renderPage()
        loadInvites()
        initializeInviteForm()
    })
</script>
{% endblock %}