{% extends "notes/base.html" %}
{% load i18n %}

{% block head %}
    <style>
        textarea, 
        .markdownx-preview {
            height: calc(100vh - 18em);
            width: 100%;
            overflow-y: auto;
        }
        textarea {
            font-family: 'Courier New', Courier, monospace !important;
            font-size: 14px !important;
            line-height: 1.42857143 !important;
            font-size: 14px;
            line-height: 18px;
            resize: none;
        }
        .markdownx-preview {
            font-size: 14px;
        }
        #main-grid {
            padding-top: 0;
            margin-left: .5em;
            margin-right: .5em;
        }
        {% include "notes/_markdown.css" %}
    </style>
{% endblock head %}

{% block main %}
    <div class="ui stackable grid" id="main-grid">
        <div class="row">
            <div class="column">
                <form method="POST" action="" class="ui form">
                    {% csrf_token %}
                    
                    <div class="two fields">
                        {% include "_field.html" with field=form.location %}
                        {% include "_field.html" with field=form.title %}
                    </div>
                    <div class="field {% if form.text.errors %}error{% endif %}">
                        {{ form.text }}
                        {% if form.text.errors %}
                            <div class="ui error message">
                            {% for error in form.text.errors %}
                                {{ error }}
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    {% if form.non_field_errors %}
                        <div class="ui error message">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                        </div>
                    {% endif %}
                    <button type="submit" class="ui icon labeled submit green button">
                        <i class="save icon"></i>
                        {% if object %}
                        {% translate "Save and close" %}
                        {% else %}
                        {% translate "Create" %}
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script>
        NOTE_ID = '{{ object.id }}';
        $('textarea[name=text]').change(() => {
            $('table').addClass('ui table');
        });
        {% if object %}
        function updateText() {
            $.api({
                on: 'now',
                url: `/nt/api/notes/${NOTE_ID}/`,
                headers: { 'X-CSRFToken': csrftoken },
                method: 'PATCH',
                data: {
                    text: $('textarea[name=text]').val(),
                },
                stateContext: '.green.button',
                successTest: r => true,
                onSuccess: r => {
                    $('body').toast({
                        title: 'Note saved!',
                        position: 'bottom right',
                        class: 'black',
                        displayTime: 750,
                    })
                }
            })
        }
        var updateTextTimeout;
        $('textarea[name=text]').on('input', e => {
            clearTimeout(updateTextTimeout);
            updateTextTimeout = setTimeout(function () {
                updateText();
            }, 1000);
        });
        {% endif %}
        function formatTable() {
            $('table').addClass('ui table');
            setTimeout(formatTable, 200);
        }
        setTimeout(formatTable, 200);
    </script>
    {{ form.media }}
{% endblock main %}