{% extends "notes/base.html" %}
{% load i18n %}

{% block head %}
  <style>
    .main.grid {
        padding-top: 0 !important;
        padding-left: 21em !important;
        padding-right: 1em !important;
    }
    @media screen and (max-width: 767px) {
        .computer.only {
            display: none !important;
            width: 0 !important;
        }
        .pusher {
            padding-top: 3.2em !important;
            padding-bottom: 0 !important;
        }
        .main.grid {
            padding-top: -1em !important;
            padding-bottom: 0 !important;
            padding-left: 1em !important;
            padding-right: 1em !important;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    .hidden {
        display: none;
    }
    @media only screen and (min-width: 768px) {
        a.toc {
            display: none !important;
        }
    }
    a.content {
        color: inherit;
        text-decoration: underline 0.1em rgba(0, 0, 0, 0);
        transition: text-decoration-color 300ms;
    }
    .file.item:hover a.file.content,
    .folder-item:hover a.folder.content {
        text-decoration-color: rgba(255, 255, 255, 1);
    }
    {% include "notes/_markdown.css" %}
  </style>
{% endblock head %}

{% block menu %}
    <a class="toc item"><i class="sidebar icon"></i></a>
    <div class="ui right flowing popup" style="width: 320px; max-height: 300px; overflow-y: auto; margin-right: 1em;"></div>
{% endblock menu %}

{% block sidebar %}
    <div class="ui sidebar inverted menu" style="padding: 1em;">
        <div class="ui inverted big list" data-notes-list="true" style="width: 100%;"></div>
    </div>
{% endblock sidebar %}
 

{% block main %}
    <div class="ui vertical left fixed computer only inverted main menu" style="padding-top: 3em; width: 20em; display: flex; flex-flow: column nowrap;">
        <div class="header item">
            <div class="ui inverted header">
                <em data-emoji=":notepad_spiral:" class="small"></em>
                <span style="padding-left: .5em;">Notes</span>
            </div>
        </div>
        <div style="overflow-y: auto;">
            <div class="ui big list" data-notes-list="true" style="width: 100%; padding: 1em;"></div>
        </div>
        <div class="item">
            <a class="ui fluid green labeled icon button" href="{% url 'notes:note_create' %}"><i class="add icon"></i>{% translate 'New note' %}</a>
        </div>
    </div>
    <div class="ui compact main grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui note hidden top attached teal segment" style="height: 4.85em; display: flex; flex-flow: row no wrap; align-items: baseline; gap: .5em;">
                    <div style="flex: 1 0 auto;">
                        <h3 class="ui header" id="note-title"></h3>
                    </div>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="public">
                        <label>Dark mode</label>
                    </div>
                    <a class="ui yellow icon edit button" style="flex: 0 1 auto;" data-content="{% translate 'Edit' %}">
                        <i class="edit icon"></i>
                    </a>
                    <a class="ui red icon delete button" style="flex: 0 1 auto;" data-content="{% translate 'Delete' %}">
                        <i class="delete icon"></i>
                    </a>
                </div>
                <div class="ui note hidden bottom attached segment" style="height: calc(100vh - 10em); overflow-y: auto;">
                    <div id="note-html"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('*[data-notes-list=true]').html(
            `
            {% for f in subfiles %}
                {{ f }}
            {% endfor %}
            `
        );
        $(document).ready(e => {
            $('*.button').popup({
                variation: 'inverted',
                position: 'bottom right'
            })
            $('.ui.checkbox').checkbox()
        })
        
        function deleteNote(id) {
            $('body').modal({
                title: 'Confirmation',
                class: 'mini',
                closeIcon: true,
                content: 'Are you sure you want to delete this note?',
                actions: [
                    {
                        text: 'Cancel',
                        class: 'black deny'
                    },
                    {
                        text: 'Yes, delete it.',
                        class: 'red approve'
                    },
                ],
                onApprove: () => {
                    let url = `/nt/api/notes/${id}`;
                    $.api({
                        on: 'now',
                        url: url,
                        method: 'DELETE',
                        headers: { 'X-CSRFToken': csrftoken },
                        stateContext: '.delete.button',
                        onSuccess: r => {
                            $('body').toast({
                                title: 'Deletion',
                                message: 'Note deleted successfully.',
                                onHidden: () => {
                                    location.reload();
                                }
                            })
                        }
                    });
                }
            }).modal('show');
        }

        function getNote(id) {
            var noteSegment = $('.ui.note.segment');
            noteSegment.removeClass('hidden').addClass('loading');
            $.get(
                url=`/nt/api/notes/${id}/`
            )
            .done(r => {
                $("#note-html").html(r.html);
                $("#note-title").text(r.title);
                $('.ui.edit.button')
                    .attr('href', r.url);
                $('.ui.delete.button')
                    .off('click')
                    .on('click', () => { deleteNote(id) });
            })
            .fail(() => {
                noteSegment.addClass('hidden');
            })
            .always(() => {
                noteSegment.removeClass('loading');
            })
        }
        
        {% if 'note' in request.session %}
            getNote({{ request.session.note }});
        {% else %}
            {% if request.user.note_set.all %}
                getNote({{ request.user.note_set.first.id }});
            {% endif %}
        {% endif %}
        
        $('.file.item').click(function(e) {
            getNote($(e.target).closest('.file.item').attr('data-id'));
        });
        $('.folder-item').click(function() {
            $(this).siblings('.list').toggle({ duration: 200, easing: 'swing' });
            $(this).children('.icon').toggleClass('open');
        })
        $('.ui.sidebar')
            .sidebar('setting', 'transition', 'slide along')
            .sidebar('setting', 'mobileTransition', 'slide along')
            .sidebar('attach events', '.toc.item');

        MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
        var observer = new MutationObserver(function(mutations, observer) {
            $('table').addClass('ui table');
        });
        observer.observe(document, {
            subtree: true,
            attributes: true
        });

    </script>

    {{ form.media }}
{% endblock main %}