{% load static %}
{% load i18n %}
{% load analytical %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% analytical_head_top %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mono Project{% if APP_ENV == 'DEV' %} [DEV]{% endif %}</title>
  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
  <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
  <script src="{% static 'js/global.js' %}"></script>
  <script src="{% static 'js/pace.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/minimal.css' %}">
  {% if APP_ENV == 'DEV' %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/dev/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/dev/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/dev/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/dev/site.webmanifest' %}">
  {% else %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/prd/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/prd/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/prd/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/prd/site.webmanifest' %}">
  {% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    * {font-family: 'Inter', sans-serif;}
  </style> 
  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
  </script>
  {% block head %}{% endblock head %}
  {% analytical_head_bottom %}
</head>

<body>
<!-- Start Open Pixel Snippet -->
<script>
!function(e,t,n,p,i,o,a){e[p]||((i=e[p]=function(){i.process?i.process.apply(i,arguments):i.queue.push(arguments)}).queue=[],i.t=+new Date,(o=t.createElement(n)).async=1,o.src="http://127.0.0.42:8080/static/openpixel.js?t="+864e5*Math.ceil(new Date/864e5),(a=t.getElementsByTagName(n)[0]).parentNode.insertBefore(o,a))}(window,document,"script","opix"),opix("init","ID-b022642e-219d-43e8-a833-da2f73c1e255"),opix("event","pageload");
</script>
<!-- End Open Pixel Snippet -->
  {% analytical_body_top %}
  {% block body %}
  {% endblock body %}
  <script>
    {% if messages %}
      {% for message in messages %}
      let messageClass = 
      {% if message.tags %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          "error";
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          null;
        {% else %}
          "{{ message.tags }}";
        {% endif %}
      {% endif %}

      $('body').toast({
        message: "{{ message }}",
        class: messageClass,
      });
      {% endfor %}
    {% endif %}
  </script>
  {% analytical_body_bottom %}
</body>

</html>