{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
  <script src="{% static 'js/global.js' %}"></script>
  <script src="{% static 'js/pace.min.js' %}"></script>
  {% block head %}{% endblock head %}
</head>

<body class="pushable">
  {% block body %}
  {% endblock body %}
</body>

</html>