{% extends "base.html" %}

{% block body %}
{% block sidebar %}
{% endblock sidebar %}
<div class="ui top inverted fixed menu">
  {% block menu %}
  {% endblock menu %}
  <div class="right menu">
    <div class="ui inverted teal apps item" style="cursor: pointer;"><i class="toolbox icon"></i></div>
    <div class="ui right flowing popup" style="width: 320px; max-height: 300px; overflow-y: auto; margin-right: 1em;">
      {% include "homepage/_apps_menu.html" %}
    </div>
  </div>
</div>
<div class="pusher" style="padding-top: 4em;">
  {% if messages %}
  <div class="ui container">
    <div class="ui grid">
      <div class="row">
        <div class="column">
          {% for message in messages %}
          <div class="ui {{ message.tags }} message">
            <i class="close icon"></i>
            {{ message }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="ui stackable grid container">
    {% block main %}
    {% endblock main %}
  </div>
</div>
<script>
  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });
  w = 0;
  s = $('.ui.apps.item').siblings('.ui.item');
  for (i=0; i<s.length; i++) {
    w += $(s[i]).outerWidth();
  }
  $('.ui.apps.item').popup(
    {
      on: 'click',
      hoverable: true,
      position:	"bottom right",
      forcePosition: true,
      offset: w,
      onShow: () => {
        $('.ui.apps.item').addClass('active')
      },
      onHide: () => {
        $('.ui.apps.item').removeClass('active')
      }
    }
  );
</script>
{% endblock body %}