{% extends "finance/base.html" %}
{% load static %}
{% load i18n %}

{% block body %}
<div class="ui stackable grid container">

  <div class="four wide column"></div>

  <div class="eight wide column">
    <div class="ui success message">
      <div class="header">
        {% translate "Your password recovery was successful." %}
      </div>
      {% translate "You may now log-in to your account " %}<a href="{{ login_url }}">{% translate "here" %}</a>.
    </div>
  </div>

  <div class="four wide column"></div>
</div>
{{ login_url }}
{% endblock %}