{% extends "finance/base.html" %}
{% load static %}
{% load i18n %}

{% block body %}
<div class="ui stackable grid container">

  <div class="four wide column"></div>

  <div class="eight wide column">
    {% if validlink %}
    <form method="POST" class="ui form">
      {% csrf_token %}
      {% include "_form.html" with form=form %}
      <button class="ui submit primary button" type="submit">
        {% translate "Proceed" %}
      </button>
    </form>
    {% else %}
    <div class="ui warning message">
      <div class="header">
        {% translate "Invalid link." %}
      </div>
      {% translate "This password recovery link is invalid. It was probably already used." %}
    </div>
    {% endif %}
    {% endblock %}
  </div>

  <div class="four wide column"></div>

</div>
