{% extends "finance/base.html" %}
{% load static %}
{% load i18n %}

{% block body %}
<div class="ui stackable grid container">

  <div class="four wide column"></div>

  <div class="eight wide column">
    <form method="POST" class="ui form">
      {% csrf_token %}
      {% include "_form.html" with form=form %}
      
      <button class="ui submit primary button" type="submit">
        {% translate "Send" %}
      </button>
    </form>
  </div>

  <div class="four wide column"></div>

</div>
{% endblock %}
