{% extends "finance/base.html" %}

{% block head %}
  <style>
  </style>
{% endblock head %}

{% block body %}

<div class="ui stackable grid container" style="margin-bottom: 1em;">

  <div class="four wide column">
    <form class="ui fluid form" method="GET" id="filter">
      <div class="field">
        <label>Group</label>
        <div class="ui search selection dropdown" data-name="group">
          <input type="hidden" name="group">
          <div class="text"></div>
          <i class="dropdown icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Member</label>
        <div class="ui search selection dropdown" data-name="member">
          <input type="hidden" name="member">
          <div class="text"></div>
          <i class="dropdown icon"></i>
        </div>
      </div>
      <div class="ui fluid buttons">
        <button class="ui button primary" type="submit" form="filter">Filter</button>
        <a class="ui button" href="{% url 'finance:accounts' %}">Clear</a>
      </div>
    </form>
  </div>
  
  <div class="eight wide column">
    <div class="ui horizontal divider"><i class="table icon"></i> Individual accounts</div>
    {% for account in object_list %}
    {% if not account.is_shared %}
    <div class="ui segments">
      <div class="ui grid secondary grey segment">
        <div class="ten wide column">
          <a href="{% url 'finance:account_update' pk=account.pk %}">{{ account.name }}</a>
        </div>
        <div class="six wide right aligned column">
          {% with account.current_balance as b %}
          <span class="ui {% if b > 0 %}green{% elif b == 0 %}green{% else %}red{% endif %} text">{{ b }}</span>
          {% endwith %}
        </div>
      </div>
      <div class="ui grid segment">
        <div class="ten wide column">
          Total transactions
        </div>
        <div class="six wide right aligned column">
          {{ account.total_transactions }}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}


  
    <div class="ui horizontal divider"><i class="table icon"></i> Shared accounts</div>
    {% for account in object_list %}
    {% if account.is_shared %}
    <div class="ui segments">
      <div class="ui grid secondary grey segment">
        <div class="ten wide column">
          <a href="{% url 'finance:account_update' pk=account.pk %}">{{ account.name }}</a>
        </div>
        <div class="six wide right aligned column">
          {% with account.current_balance as b %}
          <span class="ui {% if b > 0 %}green{% elif b == 0 %}green{% else %}red{% endif %} text">{{ b }}</span>
          {% endwith %}
        </div>
      </div>
      <div class="ui grid segment" style="margin-top: 0;">
        <div class="ten wide column">
          Total transactions
        </div>
        <div class="six wide right aligned column">
          {{ account.total_transactions }}
        </div>
      </div>
      <div class="ui grid segment">
        <div class="ten wide column">
          Group
        </div>
        <div class="six wide right aligned column">
          {{ account.group.name }}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
    
  <div class="four wide column">
      <a class="ui fluid button primary" href="{% url "finance:account_create" %}">Add account</a>
  </div>
</div>


<script>
  $('.ui.dropdown[data-name=group]').dropdown({
    placeholder: "Select a group",
    forceSelection: false,
    values: [
      {% for g in groups %}
      {
        name: "{{ g.name }}",
        value: {{ g.id }},
        {% if g.id|stringformat:"i" == request.GET.group %}
        selected : true
        {% endif %}
      },
      {% endfor %}
    ]
  });
  $('.ui.dropdown[data-name=member]').dropdown({
    placeholder: "Select a member of a group",
    forceSelection: false,
    values: [
      {% for m in members %}
      {
        name: "{{ m.username }}",
        value: {{ m.id }},
        {% if m.id|stringformat:"i" == request.GET.member %}
        selected : true
        {% endif %}
      },
      {% endfor %}
    ]
  });
  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });
</script>

{% endblock %}