{% extends "finance/base.html" %}

{% block head %}
<style>
</style>
{% endblock head %}

{% block body %}

<div class="ui container" style="margin-bottom: 1em;">

  <div class="ui horizontal divider"><i class="table icon"></i> Individual accounts</div>
  
  {% for account in object_list %}
  {% if not account.is_shared %}
  <div class="row" style="margin-bottom: 1em;">
    <div class="ui segments">
      <div class="ui grid secondary grey segment">
        <div class="ten wide column">
          <a href="{% url 'finance:account_update' pk=account.pk %}">{{ account.name }}</a>
        </div>
        <div class="six wide right aligned column">
          {% with account.current_balance as b %}
          <span class="ui {% if b > 0 %}green{% elif b == 0 %}green{% else %}red{% endif %} text">{{ b }}</span>
          {% endwith %}
        </div>
      </div>
      <div class="ui grid segment">
        <div class="ten wide column">
          Total transactions
        </div>
        <div class="six wide right aligned column">
          {{ account.total_transactions }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  <div class="ui horizontal divider"><i class="table icon"></i> Shared accounts</div>
  
  {% for account in object_list %}
  {% if account.is_shared %}
  {% comment %} <div class="row" style="margin-bottom: 1em;"> {% endcomment %}
    <div class="ui segments">
      <div class="ui grid secondary grey segment">
        <div class="ten wide column">
          <a href="{% url 'finance:account_update' pk=account.pk %}">{{ account.name }}</a>
        </div>
        <div class="six wide right aligned column">
          {% with account.current_balance as b %}
          <span class="ui {% if b > 0 %}green{% elif b == 0 %}green{% else %}red{% endif %} text">{{ b }}</span>
          {% endwith %}
        </div>
      </div>
      <div class="ui grid segment" style="margin-top: 0;">
        <div class="ten wide column">
          Total transactions
        </div>
        <div class="six wide right aligned column">
          {{ account.total_transactions }}
        </div>
      </div>
      <div class="ui grid segment">
        <div class="ten wide column">
          Group
        </div>
        <div class="six wide right aligned column">
          {{ account.group.name }}
        </div>
      </div>
    </div>
  {% comment %} </div> {% endcomment %}
  {% endif %}
  {% endfor %}
    
  <div class="row">
      <a class="ui fluid button primary" href="{% url "finance:account_create" %}">Add account</a>
  </div>
</div>


<script>
  $('.ui.dropdown').dropdown();
  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });
</script>

{% endblock %}