{% load static %}
{% load i18n %}
{% load analytical %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% analytical_head_top %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mono Project{% if APP_ENV == 'DEV' %} [DEV]{% endif %}</title>

  <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.serialize-object.min.js' %}"></script>
  <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
  <script src="{% static 'js/global.js' %}"></script>
  <script src="{% static 'js/pace.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/minimal.css' %}">

  {% if APP_ENV == 'DEV' %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/dev/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/dev/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/dev/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/dev/site.webmanifest' %}">
  {% else %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/prd/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/prd/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/prd/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/prd/site.webmanifest' %}">
  {% endif %}

  <style type="text/css" media="all">
    #notification-menu .menu>* {
      white-space: break-spaces !important;
      width: 20rem;
      line-height: 1.5rem;
    }
  </style>
  <script>
     $.fn.api.settings.api = {
      'get categories'              : '/fn/ajax/categories/',
      'invite'                      : '/fn/invite/',
      'list invites'                : '/fn/invites/',
      'get notifications'           : '/fn/ajax/notifications/',
      'get notification ids'        : '/fn/notification/get-ids/',
      'mark notification as read'   : '/fn/notification/mark-as-read/',
      'set language'                : "{% url 'set_language' %}",
      'set card order'              : "{% url 'finance:card_order' %}",
      {% if request.user.is_superuser %}
      'deploy'                      : '/hc/deploy/',
      'checkout'                    : "{% url 'finance:checkout' %}",
      {% endif %}
      successTest: function(response) {
        return response.success;
      },
    };
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
  </script>
  {% block head %}{% endblock head %}
  {% analytical_head_bottom %}
</head>

<body class="pushable">
  {% analytical_body_top %}
  <div class="ui vertical inverted thin sidebar labeled icon left menu">
    <a class="item" href="{% url 'finance:index' %}"><i class="home icon"></i>{% translate "Home" %}</a>
    <a class="item" href="{% url 'finance:transactions' %}"><i class="money bill icon"></i>{% translate "Transactions" %}</a>
    <a class="item" href="{% url 'finance:accounts' %}"><i class="wallet icon"></i>{% translate "Accounts" %}</a>
    <a class="item" href="{% url 'finance:budgets' %}"><i class="piggy bank icon"></i>{% translate "Budgets" %}</a>
    <a class="item" href="{% url 'finance:groups' %}"><i class="users icon"></i>{% translate "Groups" %}</a>
    <a class="item" href="{% url 'finance:categories' %}"><i class="tags icon"></i>{% translate "Categories" %}</a>
    {% comment %} <a class="item" href="{% url 'finance:goals' %}"><i class="bullseye icon"></i>Goals</a> {% endcomment %}
    {% if request.user.is_superuser %}
    <div class="item">
      <div class="header">Superuser</div>
      <div class="menu">
        <a class="item" href="{% url 'api-root' %}">API Root</a>
        <a class="item" href="{% url 'finance:faker' %}">Faker</a>
        <a class="item" href="{% url 'finance:icons' %}">Icons</a>
        <a class="item" href="{% url 'finance:plans' %}">Checkout</a>
        <a class="item" href="{% url 'admin:index' %}">Admin</a>
        <div class="divider"></div>
        <a class="item" href="https://clicky.com/stats/?site_id={{ CLICKY_SITE_ID }}">Clicky</a>
        <a class="item" href="{% url 'healthcheck:deploy' %}">Deploy</a>
      </div>
    </div>
    {% endif %}
  </div>
  
  <div class="ui top inverted fixed menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>

    {% if request.user.is_authenticated %}
    <div class="right menu">
      <div class="ui top pointing inverted teal dropdown item" id="notification-menu">
        <i class="bell outline icon"></i>
        <div 
          class="hidden right aligned top floating ui teal tiny circular label" 
          id="notification-count"
          style="transform: translate(0, 1em);"
          ></div>
      </div>
      <div class="ui top auth pointing teal dropdown item">
        {% comment %} USER MENU {% endcomment %}
        <i class="user icon"></i>
        <div class="menu">
          <div class="header">
            <p>{% translate "Signed in as " %}</p>
            <span class="ui primary text">{{ request.user }}</span></div>
          <div class="divider"></div>
          <div class="language item">
            <i class="left dropdown icon"></i>
            <span class="text">{% translate "Change language" %}</span>
            <div class="left menu">
              {% get_current_language as LANGUAGE_CODE %}
              {% for code, name, flag, js_locale in LANGUAGE_EXTRAS %}
              <div class="{% if code == LANGUAGE_CODE %}active selected {% endif %} item" 
                href="#" onclick="setLanguage('{{ code }}');"
                >
                <i class="{{ flag }} flag"></i>{{ name }}
              </div>
              {% endfor %}
            </div>
            <form action="{% url 'set_language' %}" method="post" name="language">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}">
              <input name="language" type="hidden" value="">
            </form>
          </div>
          <div class="divider"></div>
          <a class="item" href="{% url 'finance:configuration' %}">
            <i class="cog icon"></i>{% translate "Settings" %}
          </a>
          <div class="divider"></div>
          <a class="item" href="{% url 'finance:logout' %}">
            <i class="power off icon"></i>{% translate "Sign out" %}
          </a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  
  <div class="pusher" style="padding-top: 4em;">
    
    {% if messages %}
      <div class="ui container">
      <div class="ui grid">
        <div class="row">
          <div class="column">
            {% for message in messages %}
            <div class="ui {{ message.tags }} message">
              <i class="close icon"></i>
              {{ message }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      </div>
    {% endif %}
    
    {% block body %}
    {% endblock body %}
    
  </div>
  {% analytical_body_bottom %}
</body>
<script>
  let setLanguage = (el) => {
    $("input[name=language]").val(el);
    $("form[name=language]").submit();
  }
  $('.ui.sidebar')
    .sidebar('setting', 'transition', 'slide along')
    .sidebar('setting', 'mobileTransition', 'slide along')
    .sidebar('attach events', '.toc.item');

  $('.ui.auth.dropdown').dropdown(
    {
      action: "hide",
      {% comment %} TO FIX A BUG OF SUBMENU NOT HIDING {% endcomment %}
      onHide: () => {
        $('.menu.transition.visible').removeClass('transition', 'visible');
      },
    }
  );
  

  {% if request.user.is_authenticated %}

  let notificationsIds = [];
  let notificationMenuElement = $('.ui.dropdown#notification-menu');
  let notificationLabelElement = $('.ui.dropdown#notification-menu #notification-count');
    
  let getNotifications = () => {
    $.api(
      {
        action: 'get notifications',
        on: 'now',
        stateContext: notificationMenuElement,
        cache: false,
        onSuccess: r => {
          values = r.results.map(item => {
            item.name = `{% include 'finance/_notification_item.html' %}`
            .replace(/\r?\n|\r/g, '').replace(/\s+/g, ' ');
            item.icon = '';
            return item;
          })
          values.unshift(
            {
              name: `Notifications <div class="ui tiny right floated basic circular inverted button" onclick="markAsRead('*');"><i class="eraser icon"></i>Clear all</div>`, 
              type: 'header'
            }
          );
          notificationMenuElement.dropdown({
            values: values,
            action: (text, value, element) => {
              window.location.replace(`/fn/notification/${value}/action`);
            }
          });
          if (r.results.length > 0) {
            notificationLabelElement.text(r.results.length);
            notificationLabelElement.removeClass('hidden');
            $('.ui.dropdown#notification-menu i.icon').removeClass('outline');
          } else {
            notificationLabelElement.text(r.results.length);
            notificationLabelElement.addClass('hidden');
            $('.ui.dropdown#notification-menu i.icon').addClass('outline');
          }
        }
      }
    );
  }

  const areEqual = (first, second) => {
    if(first.length !== second.length){
        return false;
    };
    for(let i = 0; i < first.length; i++){
        if(!second.includes(first[i])){
          return false;
        };
    };
    return true;
  };


  let checkUnread = () => {
    $.api(
      {
        action: 'get notification ids',
        on: 'now',
        cache: false,
        onSuccess: (response, element, xhr) => {
          if (!areEqual(response.results, notificationsIds)) {
            notificationsIds = response.results;
            getNotifications();
          }
        },
        onFailure: (response, element, xhr) => { console.log("Something went wrong.") },
        onError: (errorMessage, element, xhr) => { console.log(`Request error: ${errorMessage}`) },
      }
    );
  }
  checkUnread();

  setInterval( checkUnread, 5000 );

  {% endif %}

  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });

  let markAsRead = id => {
    $.api(
      {
        action: 'mark notification as read',
        method: 'POST',
        mode: 'same-origin',
        headers: {'X-CSRFToken': csrftoken},
        data: {id: id},
        on: 'now',
        cache: false,
        onSuccess: () => {
          notificationMenuElement.dropdown('hide');
          checkUnread();
        },
        onFailure: (response, element, xhr) => { console.log("Something went wrong.") },
        onError: (errorMessage, element, xhr) => { console.log(`Request error: ${errorMessage}`) },
      }
    );
  }
  
</script>

</html>