{% extends "finance/base.html" %}

{% block head %}
<style>
</style>
{% endblock head %}

{% block body %}

<div class="ui container" style="margin-bottom: 1em;">

  <div class="ui horizontal divider"><i class="table icon"></i> Individual budgets</div>
  
  {% for budget in object_list %}
  {% if not budget.is_shared %}
  <div class="row" style="margin-bottom: 1em;">
    <div class="ui segments">
      <div class="ui grid secondary grey segment">
        <div class="sixteen wide column">
          <a href="{% url 'finance:budget_update' pk=budget.pk %}">
            From {{ budget.start_date }} to {{ budget.end_date }}
          </a>
        </div>
      </div>
      <div class="ui segment">

          {% for account in budget.accounts.all %}
          <a class="ui small label" href="{% url 'finance:account_update' account.pk %}">
          {{ account }}
          </a> 
          {% endfor %}
          {% for category in budget.categories.all %}
          <a class="ui small tag label" style="margin-top: .2em;" href="{% url 'finance:category_update' category.pk %}">
            <i class="{{ category.icon }} icon"></i>{{ category }}
          </a> 
          {% endfor %}
      </div>
      <div class="ui grid segment">
        <div class="six wide column">
          Ammount progress
        </div>
        <div class="ten wide right aligned column">
          <div class="ui ammount {{ budget.progress_bar_color }} progress" data-value="{{ budget.ammount_spent }}" data-total="{{ budget.ammount }}">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">{{ budget.ammount_spent }} of {{ budget.ammount }} spent</div>
          </div>
        </div>
      </div>
      <div class="ui grid segment">
        <div class="six wide column">
          Time progress
        </div>
        <div class="ten wide right aligned column">
          <div class="ui time progress" data-value="{{ budget.time_spent }}" data-total="{{ budget.time_total }}">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  
    
  <div class="row">
      <a class="ui fluid button primary" href="{% url "finance:budget_create" %}">Add budget</a>
  </div>
</div>


<script>
  $('.ui.dropdown').dropdown();
  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });
  $('*.ui.ammount.progress').toArray().forEach(
    item => {
      value = $(item).data('value');
      total = $(item).data('total');
      percent = Math.round(value/total*100)
      
      $(item).progress(
        {
          autoSuccess: false,
          showActivity: false,
          text: {
            percent: `${percent}%`,
          },
        }
      );
    }
  );
  $('*.ui.time.progress').toArray().forEach(
    item => {
      $(item).progress(
        {
          showActivity: false,
          text: {
            active: '{value} of {total} days past',
          }
        }
      ); 
    }
  );
</script>

{% endblock %}