{% extends "finance/base.html" %}

{% block head %}
{% endblock head %}

{% block body %}

<div class="ui container">

  <div class="row" style="margin-bottom: 1em;">
    <div class="ui segments">
      <div class="ui secondary grey segment" style="padding: .5em 1em;">
        <div class="ui grid">
          <div class="eight wide column">
            Expense
          </div>
        </div>
      </div>
      
      {% for category in object_list %}
      {% if category.type == 'EXP' %}
      <div class="ui segment" style="padding: .5em 1em;">
        <div class="ui grid">
          <div class="eight wide column">
            <a href="{% url 'finance:category_update' pk=category.pk %}">
              <span class="ui text">
                <i class="{{ category.icon }} icon"></i>
                {{ category.name }}
              </span>
            </a>
          </div>
          <div class="four wide column" style="display:flex; align-items:center;">
            <span class="ui small text">
              {% if category.description %}
              {{ category.description }}
              {% endif %}
            </span>
          </div>
          <div class="four wide column" style="display:flex; justify-content:flex-end; align-items:center;">
            <a href="">
              <span>
                {% if category.group %}
                {{ category.group }}
                {% endif %}
              </span>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    
    <div class="ui segments">
      <div class="ui secondary grey segment" style="padding: .5em 1em;">
        <div class="ui grid">
          <div class="eight wide column">
            Income
          </div>
        </div>
      </div>
      
      {% for category in object_list %}
      {% if category.type == 'INC' %}
      <div class="ui segment" style="padding: .5em 1em;">
        <div class="ui grid">
          <div class="six wide column">
            <a href="{% url 'finance:category_update' pk=category.pk %}">
              <span class="ui text">
                <i class="{{ category.icon }} icon"></i>
                {{ category.name }}
              </span>
            </a>
          </div>
          <div class="five wide column" style="display:flex; align-items:center;">
            <span class="ui small text">
              {% if category.description %}
              {{ category.description }}
              {% endif %}
            </span>
          </div>
          <div class="five wide column" style="display:flex; justify-content:flex-end; align-items:center;">
            <a href="">
              <span>
                {% if category.group %}
                {{ category.group }}
                {% endif %}
              </span>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
    

    
    <div class="row">
        <a class="ui fluid button primary" href="{% url "finance:category_create" %}">Add category</a>
    </div>
  </div>
</div>


<script>
  $('.ui.dropdown').dropdown();
  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });
</script>

{% endblock %}