{% extends "finance/base.html" %}

{% block head %}
{% endblock head %}

{% block body %}

  <div class="ui grid container" style="margin-bottom: 1em;">
    
    <div class="four wide column">
      <form class="ui fluid form" method="GET" id="filter">
          <div class="field">
            <label>Type</label>
            <div class="ui search selection dropdown" data-name="type">
              <input type="hidden" name="type">
              <div class="text"></div>
              <i class="dropdown icon"></i>
            </div>
          </div>
          <div class="ui fluid buttons">
            <button class="ui button primary" type="submit" form="filter">Filter</button>
            <a class="ui button" href="{% url 'finance:categories' %}">Clear</a>
          </div>
      </form>
    </div>
    
    <div class="eight wide column">

      {% for value, name in types %}

      <div class="ui segments">
        <div class="ui secondary grey segment" style="padding: .5em 1em;">
          <div class="ui grid">
            <div class="eight wide column">
              {{ name }}
            </div>
          </div>
        </div>
        
        {% for category in object_list %}
        {% if category.type == value %}
        <div class="ui segment" style="padding: .5em 1em;">
          <div class="ui grid">
            <div class="eight wide column">
              <a href="{% url 'finance:category_update' pk=category.pk %}">
                <span class="ui text">
                  <i class="{{ category.icon }} icon"></i>
                  {{ category.name }}
                </span>
              </a>
            </div>
            <div class="four wide column" style="display:flex; align-items:center;">
              <span class="ui small text">
                {% if category.description %}
                {{ category.description }}
                {% endif %}
              </span>
            </div>
            <div class="four wide column" style="display:flex; justify-content:flex-end; align-items:center;">
              <a href="">
                <span>
                  {% if category.group %}
                  {{ category.group }}
                  {% endif %}
                </span>
              </a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      
      {% endfor %}

    </div>

    <div class="four wide column">
      <a class="ui fluid button primary" href="{% url "finance:category_create" %}">Add category</a>
    </div>

  </div>


  <script>
    $('.ui.dropdown[data-name=type]').dropdown({
      placeholder: "Select a type",
      forceSelection: false,
      values: [
        {% for value, name in types %}
        {
          name: "{{ name }}",
          value: "{{ value }}",
          {% if value == request.GET.type %}
          selected : true
          {% endif %}
        },
        {% endfor %}
      ]
    });
    $('.message .close').click(function() {
      $(this)
      .closest('.message')
      .transition('fade');
    });
  </script>

{% endblock %}