{% extends "finance/base.html" %}

{% block head %}
<style>
  .expense {color: #db2828}
  .income {color: #b5cc18}
  .muted {color: #656667}
  a.muted {color: #656667}
</style>
{% endblock head %}

{% block body %}

<div class="ui vertical stripe segment">
  <div class="ui grid container">
    
    {% for group in object_list %}
    <div class="row">
      <table class="ui unstackable single line fixed table">
        <thead>
        <tr>
          <th>
            <a href="{% url 'finance:group_update' pk=group.pk %}">{{ group.name }}</a>
          </th>
          <th class="right aligned">
            <p>{{group.name}}</p>
            </p>
          </th>
        </tr>
        </thead>
        <tbody>
          <tr class="muted">
            <td>
              Additional info
            </td>
            <td class="right aligned">
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}

    
    <div class="row">
        <a class="ui fluid button primary" href="{% url "finance:group_create" %}">Add group</a>
    </div>
  </div>
</div>


<script>
  $('.ui.dropdown').dropdown();
  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });
</script>

{% endblock %}