{% extends "finance/base.html" %}
{% load static %}

{% block body %}

<div class="pusher">
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <div class="ui container">
            <form method="post" class="ui form" id="group_form">
              {% csrf_token %}
              {% include "_form.html" with form=form %}
              <div class="fluid ui big buttons">
                <button class="ui button primary" type="submit" form="group_form">
                  Save
                </button>
                <div class="or"></div>
                {% if object %}
                <a class="ui button red" href="{% url 'finance:group_delete' pk=object.pk %}">
                  Delete
                </a>
                <div class="or"></div>
                {% endif %}
                <a class="ui button" href="{% url 'finance:groups' %}">
                  Cancel
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<script>
  $('.ui.dropdown').dropdown();
</script>
{% endblock %}