{% extends "finance/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.min.css' %}"/>
{% endblock head %}

{% block body %}

<div class="pusher">
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <div class="ui container">
            <form method="post" class="ui {% if form.errors %}error {% endif %}form" id="transaction_form">
              {% csrf_token %}
              <div class="fluid ui buttons">
                <a class="ui button" data-name="type" data-value="INC" onclick="selectType(this)">{% translate "Income" %}</a>
                <a class="ui button" data-name="type" data-value="EXP" onclick="selectType(this)">{% translate "Expense" %}</a>
              </div>
              {% include "_form.html" with form=form %}
              <div class="fluid ui buttons">
                <button class="ui button primary" type="submit" form="transaction_form">
                  {% translate "Save" %}
                </button>
                <div class="{% translate 'or' %}"></div>
                {% if object %}
                <a class="ui button red" href="{% url 'finance:transaction_delete' pk=object.pk %}">
                  <i class="trash icon"></i>
                  {% translate "Delete" %}
                </a>
                <div class="{% translate 'or' %}"></div>
                {% endif %}
                <a class="ui button" href="{{ request.META.HTTP_REFERER }}">
                  {% translate "Cancel" %}
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<script>
  $('select[name=account]').dropdown(
    {
      onChange: function(value, text, choice) {
        if (typeof value !== "undefined") {
          dropdown_element.dropdown('clear');
          updateDropdown($(".active[data-name=type]").data("value"), value);
        }
      }
    }
  );
  
  {% if object %}
    $('[data-value={{ object.category.type }}').addClass('active');
    dropdown_element.dropdown('set value', "{{ object.category.pk }}");
    updateDropdown('{{ object.category.type }}', '{{ object.account.pk }}');
  {% else %}
    $('[data-value=EXP').addClass('active');
    updateDropdown('EXP', null);
  {% endif %}
  
  let selectType = el => {
    $(el).addClass('active')
    .siblings().removeClass('active');
    dropdown_element.dropdown('clear');
    updateDropdown($(el).data('value'), $('select[name=account]').dropdown("get value"));
  }
</script>
{% endblock %}