{% extends "finance/base.html" %}
{% load i18n %}

{% block head %}
  <style type="text/css" media="all">
    .hidden{
      display: none !important;
    }

    #floating-button {
      display: none;
    }

    @media only screen and (max-width: 768px) {
      #floating-button {
        display: block;
        position: fixed;
        bottom: 0;
        right: 1rem;
        z-index: 10;
      }
    }
  </style>
{% endblock head %}

{% block body %}

<div id="floating-button">
  <a class="ui primary circular huge teal icon mobile only button" 
    href="{% url "finance:transaction_create" %}"
    style="margin-bottom: 1rem;">
    <i class="plus icon"></i>
  </a>
</div>

<div class="ui stackable grid container" style="margin-bottom: 1em;">

  <div class="four wide column">
    <form class="ui fluid form" method="GET" id="filter">
      <div class="field">
        <label>{% translate "Category" %}</label>
        <div class="ui search multiple selection dropdown" data-name="category">
          <input type="hidden" name="category">
          <div class="text"></div>
          <i class="dropdown icon"></i>
        </div>
      </div>
      <div class="field">
        <label>{% translate "Account" %}</label>
        <div class="ui search multiple selection dropdown" data-name="account">
          <input type="hidden" name="account">
          <div class="text"></div>
          <i class="dropdown icon"></i>
        </div>
      </div>
      <div class="ui fluid buttons">
        <button class="ui button primary" type="submit" form="filter">{% translate "Filter" %}</button>
        <a class="ui button" href="{% url 'finance:transactions' %}">{% translate "Clear" %}</a>
      </div>
    </form>
  </div>

  <div class="eight wide column">
    {% if page_obj.object_list %}
    {% for date in daily_grouped %}
    
    <div class="hidden ui segments" data-date="{{ date.date|date:'Y-m-d' }}">
      <div class="ui secondary grey segment" style="padding: .5em 1em;" 
        onclick="$(this).siblings('.ui.segment').toggle('swing');">
        <div class="ui grid">
          <div class="eight wide column">
            <div style="display:flex; flex-flow: row nowrap;">
              <div style="flex: 0 0 auto;margin-right:.1em;">
                <span class="ui big text">{{ date.date|date:"d" }}</span>
              </div>
              <div style="flex: 0 0 auto; display:flex; flex-flow: column nowrap; 
                margin-top:-.25em;">
                <div style="flex: 0 0 auto;">
                  <span class="ui small text">{{ date.date|date:"b" }}</span>
                </div>
                <div style="flex: 0 0 auto; margin-top: -.5em;">
                  <span class="ui small text">{{ date.date|date:"Y" }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column" style="display:flex; justify-content:flex-end; align-items:center;">
            <span class="ui green text">
              <strong>
                {{ date.total_income|floatformat:2 }}
              </strong>
            </span>
          </div>
          <div class="four wide column" style="display:flex; justify-content:flex-end; align-items:center;">
            <span class="ui red text">
              <strong>
                {{ date.total_expense|floatformat:2 }}
              </strong>
            </span>
          </div>
        </div>
      </div>
      
      {% for transaction in page_obj.object_list %}
      {% if transaction.date == date.date %}
      <script type="text/javascript" charset="utf-8">
        $("[data-date='{{ date.date|date:'Y-m-d' }}']").removeClass("hidden");
      </script>
      <div class="ui segment" style="padding: .5em 1em;">
        <div class="ui grid">
          <div class="eight wide column">
            <span class="ui small label">
              {% if transaction.category %}
              <i class="{{ transaction.category.icon }} icon"></i>
              {{ transaction.category }}
              {% else %}
              <i class="unlink icon"></i>
              No category
              {% endif %}
            </span>
            <br>
            <span class="ui small text">
              {{ transaction.description }}
            </span>
          </div>
          <div class="four wide column" style="display:flex; align-items:center;">
            {{ transaction.account }}
          </div>
          <div class="four wide column" style="display:flex; justify-content:flex-end; align-items:center;">
            {% if transaction.installment %}

            <div class="ui small installment modal" data-id="{{ transaction.pk }}">
              <div class="ui header">
                {% translate "Installment" %}
              </div>
              <div class="content">
                <p>{% translate "You are trying to edit a installment. Do you want to edit the group of installments, or just this one?" %}</p>
              </div>
              <div class="actions">
                <div class="ui red cancel button">{% translate "Cancel" %}</div>
                <a class="ui button" href="{% url 'finance:transaction_update' pk=transaction.pk %}">{% translate "Just this one" %}</a>
                <a class="ui primary button" href="{% url 'finance:installment_update' pk=transaction.installment.pk %}">{% translate "Group of installments" %}</a>
              </div>
            </div>
            <a data-id="{{ transaction.pk }}" style="cursor: pointer;">
              <span
                {% if transaction.category.type == 'INC' %}
                class="ui green text"
                {% elif transaction.category.type == 'EXP' %}
                class="ui red text"
                {% endif %}
                >
              <i class="history icon"></i>
                  {{ transaction.amount|floatformat:2 }}
              </span>
            </a>
            <script>
              $('.ui.installment.modal[data-id={{ transaction.pk }}]').modal(
                'attach events', 
                'a[data-id={{ transaction.pk }}]', 
                'show'
              );
            </script>
            {% else %}
            <a href="{% url 'finance:transaction_update' pk=transaction.pk %}">
              <span
                {% if transaction.category.type == 'INC' %}
                class="ui green text"
                {% elif transaction.category.type == 'EXP' %}
                class="ui red text"
                {% endif %}
                >
                  {{ transaction.amount|floatformat:2 }}
              </span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    {% include "_pagination.html" with page_obj=page_obj %}

  </div>
  
  <div class="four wide column">

    <div class="ui horizontal divider"><i class="play circle outline icon"></i> {% translate "Actions" %}</div>
    <div class="row">
      <a class="ui fluid primary labeled icon button" href="{% url "finance:transaction_create" %}"
        style="margin-bottom: 1rem;">
        <i class="plus icon"></i>
        {% translate "Add transaction" %}
      </a>
      <a class="ui fluid primary labeled icon button" href="{% url "finance:installment_create" %}"
        style="margin-bottom: 1rem;">
        <i class="plus icon"></i>
        {% translate "Add transactions in installments" %}
      </a>
      <a class="ui fluid primary labeled icon button" href="{% url "finance:recurrent_transaction_create" %}">
        <i class="plus icon"></i>
        {% translate "Add recurrent transaction" %}
      </a>
    </div>
    
    <div class="ui horizontal divider"><i class="eye outline icon"></i> {% translate "Views" %}</div>
    <div class="row">
      <a class="ui fluid basic labeled icon button" 
        href="{% url "finance:transaction_month" month=now|date:'m' year=now|date:'Y' %}"
        style="margin-bottom: 1rem;">
          <i class="calendar alternate outline icon"></i>
          {% translate "Go to Calendar View" %}
      </a>
      <a class="ui fluid basic labeled icon button" 
        href="{% url "finance:installments" %}"
        style="margin-bottom: 1rem;">
          <i class="calendar alternate outline icon"></i>
          {% translate "Go to installments" %}
      </a>
      <a class="ui fluid basic labeled icon button" 
        href="{% url "finance:recurrent_transactions" %}">
          <i class="calendar alternate outline icon"></i>
          {% translate "Go to recurrent transactions" %}
      </a>
    </div>
  </div>

</div>


<script>
  $('.ui.dropdown[data-name=category]').dropdown({
    placeholder: "{% translate 'Select a category' %}",
    forceSelection: false,
    values: [
      {% for c in categories %}
      {
        name: "{{ c.name }}",
        value: {{ c.id }},
        {% if c.id|stringformat:"i" in filtered_categories %}
        selected : true
        {% endif %}
      },
      {% endfor %}
    ]
  });
  $('.ui.dropdown[data-name=account]').dropdown({
    placeholder: "{% translate 'Select an account' %}",
    forceSelection: false,
    values: [
      {% for a in accounts %}
      {
        name: "{{ a.name }}",
        value: {{ a.id }},
        {% if a.id|stringformat:"i" in filtered_accounts %}
        selected : true
        {% endif %}
      },
      {% endfor %}
    ]
  });
  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });
</script>

{% endblock %}