{% extends "coder/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <style>{{ snippet_css }}</style>
    <script>
        function fallbackCopyTextToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.value = text;
            
            // Avoid scrolling to bottom
            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";
          
            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();
          
            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Fallback: Copying text command was ' + msg);
            } catch (err) {
                console.error('Fallback: Oops, unable to copy', err);
            }
          
            document.body.removeChild(textArea);
        }
        function copyTextToClipboard(text) {
            if (!navigator.clipboard) {
                fallbackCopyTextToClipboard(text);
              return;
            }
            navigator.clipboard.writeText(text).then(function() {
                console.log('Async: Copying to clipboard was successful!');
            }, function(err) {
                console.error('Async: Could not copy text: ', err);
            });
        }
    </script>
{% endblock head %}

{% block main %}
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="row">
            <div class="column" style="height: calc(100vh - 10em); display: flex; flex-flow: column nowrap;">
                <div class="ui top attached teal segment" style="flex: 0 0 auto;">
                    <h1 class="ui header">
                        {{ snippet.title }}
                        <div class="ui right floated icon copy button" onclick="copySnippet()" data-content="Copy" data-variation="inverted">
                            <i class="copy icon"></i>
                        </div>
                    </h1>
                    <div class="ui header">{{ snippet.language }}</div>
                </div>
                <div class="snippet highlight" style="width: 100%; overflow: auto; padding: 1em; flex: 1 1 auto;">{{ snippet.html|safe }}</div>
                <div class="ui bottom attached segment" style="display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: baseline; width: 100%; padding: .5em; flex: 0 1 auto; margin-bottom: 0;">
                    Created by @{{ snippet.created_by }} at {{ snippet.created_at }}
                </div>
            </div>
        </div>
    </div>
    {{ snippet.code|json_script:'snippet-code' }}
    <script>
        function copySnippet() {
            code = JSON.parse($('#snippet-code').text());
            copyTextToClipboard(code);
            $('body').toast({
                title: 'Snippet copied!',
                position: 'bottom right',
                class: 'black',
                showIcon: 'copy',
                showProgress: 'bottom'
            });
        }
        $(document).ready(e => {
            $('.ui.copy.button').popup();
        })
    </script>
{% endblock %}