{% extends "watcher/base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}


{% block head %}
    <script src="{% static 'watcher/index.js' %}"></script>
{% endblock head %}

{% block main %}
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="four wide column">
            <div class="ui vertical fluid menu">
                <a class="item active" data-tab="issues">{% translate "Issues" %}</a>
                <a class="item" data-tab="performance">{% translate "Performance" %}</a>
                <a class="item" data-tab="tab-3">{% translate "Stats" %}</a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui tab" data-tab="issues">
                <div class="ui segment">
                    <h1 class="ui dividing header">{% translate "Issues" %}</h1>
                    <div class="ui accordion">
                        <div class="active title">
                            <i class="dropdown icon"></i>
                            {% translate "Unresolved" %}
                        </div>
                        <div class="active content">
                            <div style="overflow-y: auto;">
                                <table class="ui celled unstackable striped table" id="unresolved-issues">
                                    <thead>
                                        <tr><th>{% translate "ID" %}</th>
                                        <th>{% translate "Name" %}</th>
                                        <th>{% translate "Description" %}</th>
                                        <th>{% translate "Events" %}</th>
                                        <th>{% translate "Users" %}</th>
                                        <th>{% translate "First event" %}</th>
                                        <th>{% translate "Last event" %}</th>
                                    </tr></thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            {% translate "Resolved" %}
                        </div>
                        <div class="content">
                            <div style="overflow-y: auto;">
                                <table class="ui celled unstackable table" id="resolved-issues">
                                    <thead>
                                        <tr><th>{% translate "ID" %}</th>
                                        <th>{% translate "Name" %}</th>
                                        <th>{% translate "Description" %}</th>
                                        <th>{% translate "Events" %}</th>
                                        <th>{% translate "Users" %}</th>
                                    </tr></thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="performance">
                <div class="ui segment">
                    <h1 class="ui dividing header">{% translate "Performance" %}</h1>
                    <h3 class="ui header"><span id="total-request-count"></span> requests</h3>
                    <div style="overflow-y: auto;">
                        <table class="ui celled unstackable table" id="requests-by-app">
                            <thead>
                                <tr><th>{% translate "App" %}</th>
                                <th>{% translate "Duration" %}</th>
                                <th>{% translate "Count" %}</th>
                            </tr></thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="tab-3">
                <div class="ui segment">
                    <h1 class="ui dividing header">{% translate "Stats" %}</h1>
                </div>
            </div>
        </div>
    </div>
    <script>
        let renderers = {
            issues: getIssues,
            performance: getAvgRequestsByAppName,
        }
        function initializeTabs() {
            $('.ui.accordion').accordion()
            $('.menu .item').tab({
                autoTabActivation: 'issues',
                onFirstLoad(tabPath, parameterArray, historyEvent) {
                    if (renderers[tabPath]) renderers[tabPath]()
                }
            })
        }
        $(document).ready(e => {
            initializeTabs()
        })
    </script>
{% endblock %}