{% extends "watcher/base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}


{% block head %}
{% endblock head %}

{% block main %}
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="four wide column">
            <div class="ui vertical fluid menu">
                <a class="item active" data-tab="tab-1">{% translate "Issues" %}</a>
                <a class="item" data-tab="tab-2">{% translate "Performance" %}</a>
                <a class="item" data-tab="tab-3">{% translate "Stats" %}</a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui tab" data-tab="tab-1">
                <div class="ui segment">
                    <h1 class="ui dividing header">{% translate "Issues" %}</h1>
                    <div class="ui accordion">
                        <div class="active title">
                            <i class="dropdown icon"></i>
                            {% translate "Unresolved" %}
                        </div>
                        <div class="active content">
                            <div style="overflow-y: auto;">
                                <table class="ui celled unstackable striped table">
                                    <thead>
                                        <tr><th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Events</th>
                                        <th>Users</th>
                                        <th>First event</th>
                                        <th>Last event</th>
                                    </tr></thead>
                                    <tbody>
                                        {% for issue in unresolved_issues %}
                                        <tr>
                                            <td data-label="ID">{{ issue.id }}</td>
                                            <td data-label="Name"><a href="{% url 'watcher:issue_detail' pk=issue.id %}">{{ issue.name }}</a></td>
                                            <td data-label="Description">{{ issue.description }}</td>
                                            <td data-label="Events">{{ issue.event_set.all.count }}</td>
                                            <td data-label="Users">{{ issue.users.count }}</td>
                                            <td data-label="First event">{{ issue.event_set.first.timestamp|date:"SHORT_DATETIME_FORMAT" }}</td>
                                            <td data-label="Last event">{{ issue.event_set.last.timestamp|date:"SHORT_DATETIME_FORMAT" }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            {% translate "Resolved" %}
                        </div>
                        <div class="content">
                            <div style="overflow-y: auto;">
                                <table class="ui celled unstackable table">
                                    <thead>
                                        <tr><th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Events</th>
                                        <th>Users</th>
                                    </tr></thead>
                                    <tbody>
                                        {% for issue in resolved_issues %}
                                        <tr>
                                            <td data-label="ID">{{ issue.id }}</td>
                                            <td data-label="Name"><a href="{% url 'watcher:issue_detail' pk=issue.id %}">{{ issue.name }}</a></td>
                                            <td data-label="Description">{{ issue.description }}</td>
                                            <td data-label="Events">{{ issue.event_set.all.count }}</td>
                                            <td data-label="Users">{{ issue.users.count }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="tab-2">
                <div class="ui segment">
                    <h1 class="ui dividing header">{% translate "Performance" %}</h1>
                    <h3 class="ui header">{{ requests.count }} requests</h3>
                    <div style="overflow-y: auto;">
                        <table class="ui celled unstackable table">
                            <thead>
                                <tr><th>App</th>
                                <th>Duration</th>
                            </tr></thead>
                            <tbody>
                                {% for result in requests_by_app %}
                                <tr>
                                    <td data-label="App">{{ result.app_name }}</td>
                                    <td data-label="Duration">{{ result.avg }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="tab-3">
                <div class="ui segment">
                    <h1 class="ui dividing header">{% translate "Stats" %}</h1>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.menu .item').tab();
        $('.ui.accordion').accordion();
    </script>
{% endblock %}