{% extends "watcher/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}
{% endblock head %}

{% block main %}
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="row">
            <h1 class="ui header">{% translate "Issue" %} #{{ object.id }}</h1>
        </div>
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="tab-1">{% translate "Detail" %}</a>
            <a class="item" data-tab="tab-2">{% translate "Traceback" %}</a>
            <a class="item" data-tab="tab-3">{% translate "Events" %}</a>
            <a class="item" data-tab="tab-4">{% translate "Stats" %}</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="tab-1">
            <h1 class="ui dividing header">{% translate "Detail" %}</h1>
            <p><strong>Hash: </strong>{{ object.hash }}</p>
            <p><strong>Name: </strong>{{ object.name }}</p>
            <p><strong>Description: </strong>{{ object.description }}</p>
            <p><strong>Created at: </strong>{{ object.created_at }}</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab-2">
            <h1 class="ui dividing header">{% translate "Traceback" %}</h1>
            <div class="ui segment">
                <div class="ui fluid styled accordion">
                    {% for tb in object.traceback_set.all %}
                    <div class="title">
                        <i class="dropdown icon"></i>
                        {{ tb.short_file_name }} in {{ tb.function_name }} at line {{ tb.line_number }}
                    </div>
                    <div class="content">
                        <pre>{{ tb.code_text }}</pre>
                        {% for k,v in tb.vars %}
                            {{k}}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <script>$('.ui.accordion').accordion();</script>
            </div>
            <table class="ui celled table">
                <thead>
                    <tr><th>ID</th>
                    <th>Timestamp</th>
                    <th>User</th>
                </tr></thead>
                <tbody>
                    {% for tb in object.traceback_set.all %}
                    <tr>
                        <td data-label="ID">{{ tb.id }}</td>
                        <td data-label="ID">{{ tb.order }}</td>
                        <td data-label="ID">{{ tb.filename }}</td>
                        <td data-label="ID">{{ tb.function_name }}</td>
                        <td data-label="ID">{{ tb.line_number }}</td>
                        <td data-label="ID">{{ tb.code_text }}</td>
                        <td data-label="ID">{{ tb.variables }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab-3">
            <h1 class="ui dividing header">{% translate "Events" %}</h1>
            <table class="ui celled table">
                <thead>
                    <tr><th>ID</th>
                    <th>Timestamp</th>
                    <th>User</th>
                </tr></thead>
                <tbody>
                    {% for event in object.event_set.all %}
                    <tr>
                        <td data-label="ID">{{ event.id }}</td>
                        <td data-label="Timestamp">{{ event.timestamp }}</td>
                        <td data-label="User">{{ event.user.username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab-4">
            <h1 class="ui dividing header">{% translate "Stats" %}</h1>
        </div>
    </div>
    <script>
        $('.menu .item').tab();
    </script>
{% endblock %}