{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
  {% comment %} <META name="viewport" content="initial-scale=0.66, user-scalable=no"> {% endcomment %}


  <style>
    .completed.card {
      opacity: .5;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
    }
    .completed.card:hover {
      opacity: 1;
    }
    .hidden{
      display: none !important;
    }

    #zoom-button {
      display: none;
    }

    @media only screen and (max-width: 768px) {
      #zoom-button {
        display: block;
        position: fixed;
        bottom: 0;
        right: 1rem;
        z-index: 10;
      }
    }

  </style>
{% endblock head %}

{% block body %}
<script src="{% static 'js/dragula.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/dragula.min.css' %}">

<div class="ui primary circular huge teal icon mobile only button" 
  style="margin-bottom: 1rem;"
  id="zoom-button">
  <i class="search minus icon"></i>
</div>

<script>
  $('#zoom-button').click(e => {
    let buckets = $('.bucket-el');
    buckets.each(i => {
      let bucket = $(buckets[i]);
      bucket.width('100px');
      if (bucket.hasClass('zoomed-out')) {
        $('#zoom-button').find('i').removeClass('plus').addClass('minus');
        bucket.removeClass('zoomed-out');
        bucket.width('300px');
        bucket.css('font-size', '1em');
        bucket.css('line-height', '20px');
        bucket.find('.dropdown.button').removeClass('mini')
        bucket.find('.label').removeClass('mini')
      } else {
        $('#zoom-button').find('i').removeClass('minus').addClass('plus');
        bucket.addClass('zoomed-out');
        bucket.width('200px');
        bucket.css('font-size', '.6em');
        bucket.css('line-height', '13px');
        bucket.find('.dropdown.button').addClass('mini')
        bucket.find('.label').addClass('mini')
      }
    });
    $('.add.bucket.button').css('font-size', '.6em');
  })
</script>

<div class="pusher">
  <div class="ui fluid container">
    
    {% include 'project_manager/_breadcrumb.html' with breadcrumb=breadcrumb only %}

    <div class="row">
      <div class="ui basic segment">
        <div id="board" class="ui cards buckets-drake" style="overflow-y: hidden; overflow-x: auto; display: flex; flex-flow: row nowrap;"></div>
      </div>
    </div>
    
  </div>
</div>

<form class="ui card small modal form">
  <i class="close icon"></i>
  <div class="header">
    <div class="field">
      <input type=text name="name" placeholder="Name">
    </div>
  </div>
  <div class="content">
    <div class="field">
      <input type="hidden" name="id">
    </div>
    <div class="field">
      <input type="hidden" name="order">
    </div>
    <div class="field">
      <label>Description</label>
      <textarea name="description" placeholder="Description"></textarea>
    </div>
    <div class="field">
      <label>Status</label>
      <select class="ui status selection dropdown">
        {% for value, text in card_statuses %}
        <option value="{{ value }}">{{ text }}</option>
        {% endfor %}
      </select>
    </div>
    <script>$('.ui.status.dropdown').dropdown();</script>
    <div class="ui error message"></div>
  </div>
  <div class="actions">
    <div class="ui black deny labeled icon button"><i class="delete icon"></i>Cancel</div>
    <div class="ui positive right labeled icon button">Save<i class="save icon"></i>
    </div>
  </div>
</form>
<script>
  $('form.card.modal').form({
    fields: {
      name: {
        identifier: 'name',
        rules: [
          {
            type   : 'empty',
            prompt : `{% translate "Please, enter a name for your card." %}`
          },
          {
            type   : 'maxLength[50]',
            prompt : `{% translate "Card's name must have less than 50 characters." %}`
          }
        ]
      },
      description: {
        identifier: 'description',
        rules: [
          {
            type   : 'maxLength[255]',
            prompt : `{% translate "Card's description must have less than 255 characters." %}`
          }
        ]
      },
    }
  })
</script>

<form class="ui bucket small modal form">
  <i class="close icon"></i>
  <div class="header">
    <div class="field">
      <input type=text name="name" placeholder="Name">
    </div>
  </div>
  <div class="content">
    <div class="field">
      <input type="hidden" name="id">
    </div>
    <div class="field">
      <input type="hidden" name="order">
    </div>
    <div class="field">
      <label>Description</label>
      <textarea name="description" placeholder="Description"></textarea>
    </div>
    <div class="field">
      <label><i class="robot icon"></i>Automatic status</label>
      <select class="ui auto-status selection dropdown">
        {% for value, text in bucket_auto_statuses %}
        <option value="{{ value }}">{{ text }}</option>
        {% endfor %}
      </select>
    </div>
    <script>$('.ui.auto-status').dropdown();</script>
    <div class="ui error message"></div>
  </div>
  <div class="actions">
    <div class="ui black deny labeled icon button"><i class="delete icon"></i>Cancel</div>
    <div class="ui positive right labeled icon button">Save<i class="save icon"></i>
    </div>
  </div>
</form>
<script>
  $('form.bucket.modal').form({
    fields: {
      name: {
        identifier: 'name',
        rules: [
          {
            type   : 'empty',
            prompt : `{% translate "Please, enter a name for your bucket." %}`
          },
          {
            type   : 'maxLength[50]',
            prompt : `{% translate "Bucket's name must have less than 50 characters." %}`
          }
        ]
      },
      description: {
        identifier: 'description',
        rules: [
          {
            type   : 'maxLength[255]',
            prompt : `{% translate "Bucket's description must have less than 255 characters." %}`
          }
        ]
      },
    }
  })
</script>

<div class="ui delete confirmation tiny modal">
  <div class="header"></div>
  <div class="content"></div>
  <div class="actions">
    <div class="ui black cancel button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>

<script>
  const PROJECT_ID = "{{ object.project.id }}";
  const BOARD_ID = "{{ object.id }}";
  var intervals = [];
  var cardBeingDragged;
  var containerCardIsOver;
  var bucketBeingDragged;
  var containerBucketIsOver;
  var scrollIntervalID;
  var isScrolling = false;

  const startElementScroll = (directionX, directionY, elementToScroll, increment, delay) => {
    let scroll = () => {
      elementToScroll.scrollBy(directionX * increment, directionY * increment);
    };
    if (!isScrolling) {
      scrollIntervalID = setInterval(scroll, delay);
      isScrolling = true;
    };
  };

  const stopElementScroll = intID => {
    clearInterval(intID);
    isScrolling = false;
  };

  var bucketsDrake = dragula({
      isContainer: el => $(el).hasClass('buckets-drake'),
      moves: (el, source, handle, sibling) => 
        $(el).hasClass('bucket-el') 
        && (
          $(handle).hasClass('handle') // use button as handle
          || $(handle).parent().hasClass('handle') // also accept i tag (icon) as handle
      ),
      accepts: (el, target, source, sibling) => sibling !== null,
      invalid: (el, handle) => $(el).hasClass('card-el'),
      direction: 'horizontal'
    })
    .on('drop', (el, target, source, sibling) => {
      bucket = $(el).attr('data-bucket-id');
      order = $(target).children().toArray().findIndex(e => e == el) + 1;
      $.ajax({
        url: `/pm/api/bucket_move/`,
        type: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        data: {
          bucket: bucket,
          board: BOARD_ID,
          order: order,
        },
        success: function(result) {}
      });
    })
    .on('drag', (el, source) => {
      bucketBeingDragged = el;
    })
    .on('dragend', (el) => {
      bucketBeingDragged = null;
      stopElementScroll(scrollIntervalID);
    })
    .on('over', (el, container, source) => {
      containerBucketIsOver = container;
    })
    .on('out', (el, container, source) => {
      containerBucketIsOver = null;
  });

  var cardsDrake = dragula({
      isContainer: el => $(el).hasClass('cards-drake'),
      moves: (el, source, handle, sibling) => 
        $(el).hasClass('card-el') 
        && (
          $(handle).hasClass('handle') // use button as handle
          || $(handle).parent().hasClass('handle') // also accept i tag (icon) as handle
        ),
      direction: 'vertical',
      slideFactorX: '50px',
      slideFactorY: '50px',
    })
    .on('drop', (el, target, source, sibling) => {
      source_bucket = $(source).attr('id').replace('bucket-', '');
      target_bucket = $(target).attr('id').replace('bucket-', '');
      card = $(el).attr('data-card-id');
      order = $(target).children().toArray().findIndex(e => e == el) + 1;
      $.ajax({
        url: `/pm/api/card_move/`,
        type: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        data: {
          source_bucket: source_bucket,
          target_bucket: target_bucket,
          card: card,
          order: order,
        },
        success: r => {
          if (r.success) {
            status_changed = r.status_changed;
            timer_action = r.timer_action;
            if (status_changed || timer_action != 'none') {
              loadBoard();
            };
          };
        }
      });
    })
    .on('drag', (el, source) => {
      cardBeingDragged = el;
    })
    .on('dragend', (el) => {
      cardBeingDragged = null;
      stopElementScroll(scrollIntervalID);
    })
    .on('over', (el, container, source) => {
      containerCardIsOver = container;
    })
    .on('out', (el, container, source) => {
      containerCardIsOver = null;
  });

  const adjustBoardHeight = (boardSelector='#board') => {
    $(boardSelector).height(
      $(window).height()
      -$(boardSelector).offset().top
      -$(boardSelector).css('marginBottom').replace('px', '').replace('-', '')
    );
    document.body.style.height = `${window.innerHeight - 20}px`
  };

  const str = seconds => {
    function pad(num, size=2) {
      num = num.toString();
      while (num.length < size) num = "0" + num;
      return num;
    }

    var d = Math.floor((seconds % 31536000) / 86400) + 'd'; 
    var h = Math.floor(((seconds % 31536000) % 86400) / 3600);
    var m = Math.floor((((seconds % 31536000) % 86400) % 3600) / 60);
    var s = Math.floor((((seconds % 31536000) % 86400) % 3600) % 60);
    return `${d > 0 ? d : ''} ${pad(h)}:${pad(m)}:${pad(s)}`;
  };

  const incrementSecond = cardId => {
    element = $(`.total-time[data-card-id=${cardId}]`)
    time = element.attr('data-time')
    time++
    element.attr('data-time', time)
    element.text(str(time))
  };

  const clearIntervals = () => {
    intervals.forEach(el => {clearInterval(el)});
    intervals = [];
  };

  const loadBoard = () => {
    adjustBoardHeight();
    clearIntervals();
    getBuckets();
    enableProximityScroll();
  };

  const renderBuckets = (containerSelector, buckets) => {
    $(containerSelector).empty();
    buckets.forEach(bucket => {
      $(containerSelector).append(
        `
        <div class="ui card bucket-el" data-bucket-id="${bucket.id}" style="width: 300px; flex: 0 0 auto; display: flex; flex-flow: column nowrap; overflow-y: visible;">
          <div class="center aligned handle content" style="flex: 0 0 auto; display: flex; flex-flow: column nowrap; align-items: center; padding: 0; margin: 0; cursor: move;" data-bucket-id="${bucket.id}">
            <i class="grip lines icon"></i>
          </div>
          <div class="content" style="flex: 0 1 auto;">
            <div class="header" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
              <div style="flex: 0 1 auto; overflow-wrap: anywhere; padding-right: .5em;">
                ${bucket.name}
              </div>
              <div class="ui basic icon top right pointing dropdown button" data-bucket-id="${bucket.id}" style="flex: 0 0 auto; align-self: flex-start;">
                <i class="ellipsis horizontal icon"></i>
                <div class="menu">
                  <div class="add card item" data-bucket-id="${bucket.id}"><i class="add icon"></i>Add new card</div>
                  <div class="divider"></div>
                  <div class="edit bucket item" data-bucket-id="${bucket.id}"><i class="edit icon"></i>Edit this bucket</div>
                  <div class="delete bucket item" data-bucket-id="${bucket.id}"><i class="delete icon"></i>Delete this bucket</div>
                </div>
              </div>
            </div>
            <div class="meta">
              ${bucket.auto_status !== 'N' ? '<span class="ui icon label"><i class="robot icon"></i></span><br>' : '' }
              <span style="white-space: pre-line;">${bucket.description ? bucket.description : ''}</span>
            </div>
          </div>
          <div class="extra content cards-drake" id="bucket-${bucket.id}" style="flex: 1 1 auto; display: flex; flex-flow: column nowrap; overflow-y: auto;">
          </div>
        </div>
        `
      );
      document.querySelectorAll(`.handle[data-bucket-id='${bucket.id}']`)[0].addEventListener(
        'touchmove', e => {
          e.preventDefault();
          const board = document.getElementById('board');
          if (bucketsDrake.dragging && containerBucketIsOver !== null && bucketBeingDragged !== null) {
            var threshold = 50
            if ((e.touches[0].pageY - threshold) < containerBucketIsOver.getBoundingClientRect().top) {
              startElementScroll(0, -1, containerBucketIsOver, 50, 100);
            } else if ((e.touches[0].pageY + threshold) > containerBucketIsOver.getBoundingClientRect().bottom) {
              startElementScroll(0, 1, containerBucketIsOver, 50, 100);
            } else if ((e.touches[0].pageX + threshold) > board.getBoundingClientRect().right) {
              startElementScroll(1, 0, board, 50, 100);
            } else if ((e.touches[0].pageX - threshold) < board.getBoundingClientRect().left) {
              startElementScroll(-1, 0, board, 50, 100);
            } else {
              stopElementScroll(scrollIntervalID);
            }
          } else {
            stopElementScroll(scrollIntervalID);
          };
        },
        { passive: false }
      );
      $(`.ui.dropdown[data-bucket-id=${bucket.id}]`).dropdown({action: 'hide'});
      $(`.add.card.item[data-bucket-id=${bucket.id}]`).click(e => {showCardModal(card=null, bucket.id);});
      $(`.edit.bucket.item[data-bucket-id=${bucket.id}]`).click(e => {showBucketModal(bucket);});
      $(`.delete.bucket.item[data-bucket-id=${bucket.id}]`).click(e => {deleteBucket(bucket.id);});
      getCards(bucket.id);
    });
    $(containerSelector).append(`<div class="ui add bucket button" style="flex: 0 0 auto">Add new bucket</div>`);
    $(`.add.bucket.button`).click(e => {showBucketModal();});
    
    e = $('.add.bucket.button').siblings().last()
    $('.add.bucket.button').css('marginTop', e.css('marginTop'))
    $('.add.bucket.button').css('marginBottom', e.css('marginBottom'))
  };

  const renderCards = (containerSelector, cards, bucketId) => {
    $(containerSelector).empty();
    cards.forEach(card => {
      $(containerSelector).append(
        `
        
        <div class="ui raised ${card.is_running ? 'red ' : ''}${card.status === 'C' ? 'completed ' : ''}card card-el" data-card-id="${card.id}" style="flex: 0 0 auto;">
          <div class="center aligned handle content" style="flex: 0 0 auto; display: flex; flex-flow: column nowrap; align-items: center; padding: 0; margin: 0; cursor: move;" data-card-id="${card.id}">
            <i class="grip lines small icon"></i>
          </div>
          <div class="content">
            <div class="header" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
              <div style="flex: 0 1 auto; overflow-wrap: anywhere; padding-right: .5em;">
                ${card.name}
              </div>
              <div class="ui basic icon top right pointing dropdown button" data-card-id="${card.id}" style="flex: 0 0 auto; align-self: flex-start;">
                <i class="ellipsis horizontal icon"></i>
                <div class="menu">
                  <div class="edit card item" data-card-id="${card.id}"><i class="edit icon"></i>Edit this card</div>
                  <div class="delete card item" data-card-id="${card.id}"><i class="delete icon"></i>Delete this card</div>
                  <div class="divider"></div>
                  <div class="start-stop-timer card item" data-card-id="${card.id}"><i class="stopwatch icon"></i>Start/stop timer</div>
                </div>
              </div>
            </div>
            <div class="meta" style="white-space: pre-line;">${card.description ? card.description : ''}</div>
          </div>
          <div class="extra content">
            <span class="ui right floated ${card.is_running ? 'red ' : ''} text">
              ${card.is_running ? '<i class="hourglass half icon"></i>' : ''}
              <span class="total-time" data-card-id="${card.id}" data-time="${card.total_time}">
                ${card.total_time > 0 ? str(card.total_time) : ''}
              </span>
            </span>
          </div>
        </div>
        `
      );
      document.querySelectorAll(`.handle[data-card-id='${card.id}']`)[0].addEventListener(
        'touchmove', e => {
          e.preventDefault();
          const board = document.getElementById('board');
          if (cardsDrake.dragging && containerCardIsOver !== null && cardBeingDragged !== null) {
            var threshold = 50
            if ((e.touches[0].pageY - threshold) < containerCardIsOver.getBoundingClientRect().top) {
              startElementScroll(0, -1, containerCardIsOver, 50, 100);
            } else if ((e.touches[0].pageY + threshold) > containerCardIsOver.getBoundingClientRect().bottom) {
              startElementScroll(0, 1, containerCardIsOver, 50, 100);
            } else if ((e.touches[0].pageX + threshold) > board.getBoundingClientRect().right) {
              startElementScroll(1, 0, board, 50, 100);
            } else if ((e.touches[0].pageX - threshold) < board.getBoundingClientRect().left) {
              startElementScroll(-1, 0, board, 50, 100);
            } else {
              stopElementScroll(scrollIntervalID);
            }
          } else {
            stopElementScroll(scrollIntervalID);
          };
        },
        { passive: false }
      );
      $(`.ui.dropdown[data-card-id=${card.id}]`).dropdown({action: 'hide'});
      $(`.edit.card.item[data-card-id=${card.id}]`).click(e => {showCardModal(card, bucketId);});
      $(`.delete.card.item[data-card-id=${card.id}]`).click(e => {deleteCard(card.id, bucketId);});
      $(`.start-stop-timer.card.item[data-card-id=${card.id}]`).click(e => {startStopTimer(card.id, bucketId);});
      if (card.is_running) {
        intervals.push(setInterval(() => {incrementSecond(card.id)}, 1000));
      };
    });
  };

  const enableProximityScroll = () => {
    function proximityScroll(e) {
      if (cardsDrake.dragging && containerCardIsOver !== null && cardBeingDragged !== null) {
        var boardBody = document.getElementById("board")
        var threshold = 50
        if ((e.pageY - threshold) < containerCardIsOver.getBoundingClientRect().top) {
          startElementScroll(0, -1, containerCardIsOver, 50, 100);
        } else if ((e.pageY + threshold) > containerCardIsOver.getBoundingClientRect().bottom) {
          startElementScroll(0, 1, containerCardIsOver, 50, 100);
        } else if ((e.pageX + threshold) > boardBody.getBoundingClientRect().right) {
          startElementScroll(1, 0, boardBody, 50, 100);
        } else if ((e.pageX - threshold) < boardBody.getBoundingClientRect().left) {
          startElementScroll(-1, 0, boardBody, 50, 100);
        } else {
          stopElementScroll(scrollIntervalID);
        }
      } else if (bucketsDrake.dragging && containerBucketIsOver !== null && bucketBeingDragged !== null) {
        var threshold = 50
        if ((e.pageX - threshold) < containerBucketIsOver.getBoundingClientRect().left) {
          startElementScroll(-1, 0, containerBucketIsOver, 50, 100);
        } else if ((e.pageX + threshold) > containerBucketIsOver.getBoundingClientRect().right) {
          startElementScroll(1, 0, containerBucketIsOver, 50, 100);
        } else {
          stopElementScroll(scrollIntervalID);
        }
      } else {
        stopElementScroll(scrollIntervalID);
      };
    }
    document.addEventListener("mousemove", proximityScroll);
  };

  const getBuckets = () => {
    $.get(`/pm/api/projects/${PROJECT_ID}/boards/${BOARD_ID}/buckets/`)
      .done(r => {
        renderBuckets(containerSelector='#board', r);
      })
      .fail(e => { console.error(e) })
      .always()
  };

  const getCards = bucketId => {
    $.get(`/pm/api/projects/${PROJECT_ID}/boards/${BOARD_ID}/buckets/${bucketId}/cards/`)
      .done(r => {
        renderCards(containerSelector=`#bucket-${bucketId}` , r, bucketId);
      })
      .fail(e => { console.error(e) })
      .always()
  };

  const showCardModal = (card=null, bucketId) => {
    var create;
    const modal = $('.ui.card.modal');
    modal.form('reset');
    modal.off();
    if (card!=null) {
      create = false;
      modal.find('input[name=id]').val(card.id);
      modal.find('input[name=name]').val(card.name);
      modal.find('textarea[name=description]').val(card.description);
      modal.find('input[name=order]').val(card.order);
      modal.find('.ui.status.dropdown').dropdown('set selected', card.status);
    } else {
      create = true;
      modal.find('input[name=id]').val('');
      modal.find('input[name=name]').val('');
      modal.find('textarea[name=description]').val('');
      modal.find('input[name=order]').val('');
      modal.find('.ui.status.dropdown').dropdown('set selected', 'NS');
    };
    modal.modal({
      restoreFocus: false,
      transition: 'scale',
      duration: 400,
      onApprove: el => {
        modal.form('validate form');
        if (!modal.form('is valid')) {
          return false;
        };
        name = modal.find('input[name=name]').val();
        description = modal.find('textarea[name=description]').val();
        order = modal.find('input[name=order]').val();
        status = modal.find('.ui.status.dropdown').dropdown('get value');
        if (create === true) {
          $.ajax({
            url: `/pm/api/projects/${PROJECT_ID}/boards/${BOARD_ID}/buckets/${bucketId}/cards/`,
            type: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            data: {
              name: name,
              bucket: bucketId,
              description: description,
              status: status,
              order: 0,
            },
            success: function(result) {
              loadBoard();
            }
          });
        } else {
          id = modal.find('input[name=id]').val();
          $.ajax({
            url: `/pm/api/projects/${PROJECT_ID}/boards/${BOARD_ID}/buckets/${bucketId}/cards/${id}/`,
            type: 'PUT',
            headers: {'X-CSRFToken': csrftoken},
            data: {
              name: name,
              bucket: bucketId,
              description: description,
              status: status,
              order: order
            },
            success: function(result) {
              loadBoard();
            }
          });
        }
      }
    });
    modal.submit(e => {
      e.preventDefault();
      modal.find('.positive.button').click();
    });
    modal.modal('show');
  };

  const deleteCard = (cardId, bucketId) => {
    modal = $('.ui.delete.confirmation.modal')
    modal
      .modal({
        onShow: () => {
          modal.find('.header').text('Delete card');
          modal.find('.content').text(`Are you sure you want to delete card ${cardId}?`);
        },
        onApprove: () => {
          $.ajax({
            url: `/pm/api/projects/${PROJECT_ID}/boards/${BOARD_ID}/buckets/${bucketId}/cards/${cardId}`,
            type: 'DELETE',
            headers: {'X-CSRFToken': csrftoken},
            success: function(result) {
              loadBoard();
            }
          });
        }
      })
      .modal('show');
  };

  const showBucketModal = (bucket=null) => {
    var create;
    const modal = $('.ui.bucket.modal');
    modal.form('reset');
    modal.off();
    if (bucket != null) {
      create = false;
      modal.find('input[name=id]').val(bucket.id);
      modal.find('input[name=name]').val(bucket.name);
      modal.find('textarea[name=description]').val(bucket.description);
      modal.find('input[name=order]').val(bucket.order);
      modal.find('.ui.auto-status.dropdown').dropdown('set selected', bucket.auto_status);
    } else {
      create = true;
      modal.find('input[name=id]').val('');
      modal.find('input[name=name]').val('');
      modal.find('textarea[name=description]').val('');
      modal.find('input[name=order]').val('');
      modal.find('.ui.auto-status.dropdown').dropdown('set selected', 'N');
    };
    modal.modal({
      restoreFocus: false,
      transition: 'scale',
      duration: 400,
      onApprove: el => {
        modal.form('validate form');
        if (!modal.form('is valid')) {
          return false;
        };
        name = modal.find('input[name=name]').val();
        description = modal.find('textarea[name=description]').val();
        order = modal.find('input[name=order]').val();
        autoStatus = modal.find('.ui.auto-status.dropdown').dropdown('get value');
        if (create === true) {
          $.ajax({
            url: `/pm/api/projects/${PROJECT_ID}/boards/${BOARD_ID}/buckets/`,
            type: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            data: {
              name: name,
              board: BOARD_ID,
              description: description,
              auto_status: autoStatus,
              order: 0,
            },
            success: function(result) {
              loadBoard();
            }
          });
        } else {
          id = modal.find('input[name=id]').val();
          $.ajax({
            url: `/pm/api/projects/${PROJECT_ID}/boards/${BOARD_ID}/buckets/${id}/`,
            type: 'PUT',
            headers: {'X-CSRFToken': csrftoken},
            data: {
              name: name,
              board: BOARD_ID,
              description: description,
              auto_status: autoStatus,
              order: order
            },
            success: function(result) {
              loadBoard();
            }
          });
        }
      }
    });
    modal.submit(e => {
      e.preventDefault();
      modal.find('.positive.button').click();
    });
    modal.modal('show');
  };

  const deleteBucket = (bucketId) => {
    modal = $('.ui.delete.confirmation.modal')
    modal
      .modal({
        onShow: () => {
          modal.find('.header').text('Delete bucket');
          modal.find('.content').text(`Are you sure you want to delete bucket ${bucketId}?`);
        },
        onApprove: () => {
          $.ajax({
            url: `/pm/api/projects/${PROJECT_ID}/boards/${BOARD_ID}/buckets/${bucketId}/`,
            type: 'DELETE',
            headers: {'X-CSRFToken': csrftoken},
            success: function(result) {
              loadBoard();
            }
          });
        }
      })
      .modal('show');
  };

  const startStopTimer = (cardId, bucketId) => {
    $.ajax({
      url: `/pm/api/projects/${PROJECT_ID}/boards/${BOARD_ID}/buckets/${bucketId}/cards/${cardId}/timer/`,
      type: 'POST',
      headers: {'X-CSRFToken': csrftoken},
      success: function(result) {
        if (result.action == 'start') {
          $('body').toast({message: `Timer started for card ${cardId}.`});
        } else if (result.action == 'stop') {
          $('body').toast({message: `Timer stopped for card ${cardId}.`});
        };
        loadBoard();
      }
    });
  };

  loadBoard();

</script>
{% endblock %}