{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body %}

<div class="pusher">
    <div class="ui middle aligned stackable grid container">
      
      <div class="row">
        <div class="column">
          <div class="ui segment" style="margin-top: 1em;">
            <div class="ui breadcrumb">
              <a class="section" href="{% url 'home' %}">Home</a>
              <i class="right chevron icon divider"></i>
              <a class="section" href="{% url 'project_manager:projects' %}">Project Manager</a>
              <i class="right arrow icon divider"></i>
              {% if object %}
              <div class="section">Project: edit</div>
              {% else %}
              <div class="section">Project: create</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="eight wide column">
          <div class="ui container">
            <form method="post" class="ui {% if form.errors %}error{% endif %} form" id="project_form">
              {% csrf_token %}
              {% include "_form.html" with form=form %}
              <div class="fluid ui big buttons">
                <button class="ui button primary" type="submit" form="project_form">
                  {% translate "Save" %}
                </button>
                <div class="or"></div>
                {% if object %}
                <a class="ui button red" href="{% url 'project_manager:project_delete' pk=object.pk %}">
                  {% translate "Delete" %}
                </a>
                <div class="or"></div>
                {% endif %}
                <a class="ui button" href="{{ request.META.HTTP_REFERER }}">
                  {% translate "Cancel" %}
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<script>
  $('*.ui.dropdown').dropdown();
</script>
{% endblock %}