{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body %}

<div class="pusher">
  {% include 'project_manager/_breadcrumb.html' with breadcrumb=breadcrumb only %}
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="column">
        <div class="ui header" style="display: flex; flex-flow: row nowrap;">
          <div style="flex: 1 0 auto;">
            {% translate "Project: " %}{{ object.name }}
          </div>
          <a href="{% url 'project_manager:board_create' project_pk=object.id %}" class="ui right floated icon labeled green button" style="flex: 0 0 auto;">
            <i class="add icon"></i>
            {% translate "New board" %}
          </a>
        </div>
      </div>
    </div>

    <div class="ui grid">
      <div class="ui stackable cards" style="margin-top: 1em;">
        {% for board in object.board_set.all %}
      
        <div class="card">
          <div class="content">
            <div class="header">
              {{ board.name }}
            </div>
            <div class="meta">
              {% translate "Created at " %}{{ board.created_at }}
            </div>
            <div class="description">
              {% if board.assigned_to.all %}
                {% translate "Assigned to: " %}
                <div class="ui bulleted list">
                {% for u in board.assigned_to.all %}
                  <div class="item">{{ u.username }}</div>
                {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <a class="ui primary button" href="{% url 'project_manager:board_detail' project_pk=object.id pk=board.pk %}">
                <i class="eye icon"></i>
                {% translate "View" %}
              </a>
              <a class="ui yellow button" href="{% url 'project_manager:board_update' project_pk=object.id pk=board.pk %}">
                <i class="edit icon"></i>
                {% translate "Edit" %}
              </a>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="row">
          <div class="column">
            {% translate "No boards yet" %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="row" style="margin-top: 2em;">
      <div class="column">
        <div class="ui header">
          {% translate "Your team: " %}
        </div>
        {% if object.assigned_to.all %}
        <div style="overflow-x: auto;">
          <table class="ui unstackable striped celled single line table">
            <thead>
              <tr><th>Name</th>
              <th>Username</th>
              <th>Email</th>
            </tr></thead>
            <tbody>
  
              {% for user in object.assigned_to.all %}
              <tr>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        {% translate "No members yet" %}
        {% endif %}
      </div>
    </div>

    <div class="row" style="margin-top: 2em;">
      <div class="column">
        <div class="ui header">
          {% translate "Your invites: " %}
        </div>
        <form class="ui invite form">
          <div class="fluid field">
            <div class="ui fluid action input">
              <input type="email" name="first-name" placeholder="Type an email to invite here" class="action invite">
              <button class="ui teal right labeled icon send invite button" type="submit">
                <i class="envelope icon"></i>
                {% translate "Send" %}
              </button>
            </div>
          </div>
          <div class="ui error message"></div>
        </form>
        <div id="invites" style="margin-top: 1em;">
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-top: 2em;">
      <div class="column">
        <div class="ui header">
          {% translate "Share link: " %}
        </div>
        <button class="ui teal right labeled icon generate link button" style="margin-bottom:  1em;">
          <i class="copy icon"></i>
          {% translate "Generate link" %}
        </button>
        <div class="ui fluid action input">
          <input class="link" type="text" readonly>
          <button class="ui teal icon copy button">
            <i class="copy icon"></i>
          </button>
        </div>
        <div id="invites" style="margin-top: 1em;">
        </div>
      </div>
    </div>
    
  </div>
</div>
  
<script>
  const PROJECT_ID = "{{ object.id }}";
  
  $('.generate.link.button').api({
    url: `/pm/api/projects/${PROJECT_ID}/invites/`,
    method: "POST",
    mode: 'same-origin',
    headers: {'X-CSRFToken': csrftoken},
    data: {
      project: PROJECT_ID,
    },
    onSuccess: r => {
      $('input.link[type=text]').val(r.link);
    },
    onFailure: (response, element, xhr) => {console.log("Something went wrong.");},
    onError: (errorMessage, element, xhr) => {console.log(`Request error: ${errorMessage}`);},
  });
  
  const INVITE_FORM = $('.ui.invite.form');
  INVITE_FORM.form({
    fields: {
      email: {
        identifier  : 'email',
        rules: [
          {
            type   : 'email',
            prompt : 'Please enter a valid e-mail'
          }
        ]
      },
    },
    onSuccess: () => {
      $.api({
        url: `/pm/api/projects/${PROJECT_ID}/invites/`,
        on: 'now',
        method: "POST",
        mode: 'same-origin',
        headers: {'X-CSRFToken': csrftoken},
        data: {
          email: $('input.invite[type=email]').val(),
          project: PROJECT_ID,
        },
        onSuccess: r => {
          console.log(r);
          loadInvites();
          $('input.invite[type=email]').val('');
        },
        onFailure: (response, element, xhr) => {
          $('body').toast({ message: response.email });
        },
        onError: (errorMessage, element, xhr) => { console.log(`Request error: ${errorMessage}`) },
      });
    }
  });
  INVITE_FORM.submit(e => {
    e.preventDefault();
  });

  const loadInvites = () => {
    $('#invites').empty();
    $.get(
      url=`/pm/api/projects/${PROJECT_ID}/invites/`
    )
    .done(r => {
      console.log(r);
      if (r.length === 0) {
        $('#invites').append('No invites yet')
      } else {
        $('#invites').append(
          `
            <div style="overflow-x: auto;">
              <table class="ui unstackable striped table">
                <thead>
                  <tr><th>Email</th>
                  <th>Accepted</th>
                </tr></thead>
                <tbody>
                </tbody>
              </table>
            </div>
          `
        );
        r.forEach(invite => {
          if (invite.email !== null && invite.email !== '') {
            $('#invites tbody').append(
              `
                <tr class="${invite.accepted_by !== null ? 'positive' : 'negative'}">
                  <td>${invite.email}</td>
                  <td class="center aligned">${invite.accepted_by !== null ? '<i class="checkmark icon"></i>' : '<i class="delete icon"></i>'}</td>
                </tr>
              `
            );
          };
        })
      }
    })
  };

  loadInvites();

</script>
{% endblock %}