{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body %}
<div class="pusher">
  {% include 'project_manager/_breadcrumb.html' with breadcrumb=breadcrumb only %}
  <div class="ui stackable grid container" style="margin-y: .5em;">
    <div class="four wide column">
    </div>
    <div class="eight wide column">
      <div class="ui horizontal divider"><i class="table icon"></i> {% translate "Projects" %}</div>
      {% for project in object_list %}
      {% if not project.is_shared %}
      <div class="ui segments">
        <div class="ui secondary grey segment" data-toggle="segments" style="display: flex; align-items: flex-start; justify-content: space-between;">
          <div style="flex: 1 1 auto; overflow-wrap: anywhere;">
            {{ project.name }}
          </div>
          <div class="ui tiny buttons" style="flex: 0 0 auto;">
            <a class="ui primary button" href="{% url 'project_manager:project_detail' pk=project.pk %}">
              <i class="eye icon"></i>
              {% translate "View" %}
            </a>
            <a class="ui yellow button" href="{% url 'project_manager:project_update' pk=project.pk %}">
              <i class="edit icon"></i>
              {% translate "Edit" %}
            </a>
          </div>
        </div>
        <div class="ui grid segment">
          <div class="row">
            <div class="ten wide column">
              {% translate "Created by" %}
            </div>
            <div class="six wide right aligned column">
              {{ project.created_by }}
            </div>
          </div>
          <div class="row">
            <div class="eight wide column">
              {% translate "Deadline" %}
            </div>
            <div class="eight wide right aligned column">
              {{ project.deadline|date }}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="four wide column">
      <a class="ui fluid icon labeled green button" href="{% url 'project_manager:project_create' %}">
        <i class="add icon"></i>{% translate "New project" %}
      </a>
    </div>
  </div>
</div>


<script>
  $('.ui.dropdown[data-name=group]').dropdown({
    placeholder: "Select a group",
    forceSelection: false,
    values: [
      {% for g in groups %}
      {
        name: "{{ g.name }}",
        value: {{ g.id }},
        {% if g.id|stringformat:"i" == request.GET.group %}
        selected : true
        {% endif %}
      },
      {% endfor %}
    ]
  });
  $('.ui.dropdown[data-name=member]').dropdown({
    placeholder: "Select a member of a group",
    forceSelection: false,
    values: [
      {% for m in members %}
      {
        name: "{{ m.username }}",
        value: {{ m.id }},
        {% if m.id|stringformat:"i" == request.GET.member %}
        selected : true
        {% endif %}
      },
      {% endfor %}
    ]
  });
  $('.message .close').click(function() {
    $(this)
    .closest('.message')
    .transition('fade');
  });
  $("*[data-toggle=segments]").click(e=>{
    $(e.target).siblings('.ui.segment').toggle('swing');
  })
</script>

{% endblock %}