{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block head %}
  <script src="{% static 'js/jquery.serialize-object.min.js' %}"></script>
  <style>
    .pusher {padding-top: 3em;}
    @media only screen and (max-width: 768px) {
      .pusher {
        padding-bottom: 3em;
      }
    }
  </style>
  <script>
     $.fn.api.settings.api = {
      'get categories'              : '/fn/ajax/categories/',
      'invite'                      : '/fn/invite/',
      'list invites'                : '/fn/invites/',
      'set language'                : "{% url 'set_language' %}",
      'set card order'              : "{% url 'finance:card_order' %}",
      {% if request.user.is_superuser %}
      'deploy'                      : '/hc/deploy/',
      'login as'                    : "{% url 'accounts:login_as' %}",
      {% endif %}
      successTest: function(response) {
        return response.success;
      },
    };
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
  </script>
{% endblock head %}

{% block body %}
  <div class="pusher" style="padding-top: 4em;">
    {% block main %}
    {% endblock main %}
    <a id="feedback-button" class="right attached ui right labeled icon button" href="{% url 'feedback:feedback_create' %}">
      <i class="comment icon"></i>
      {% translate "Give feedback" %}
    </a>
  </div>
  <style type="text/css" media="all">
    #feedback-button {
      position: fixed !important;
      left: 0px !important; 
      bottom: 1em !important; 
      transform: translate(calc(2.5em - 100%), 0) !important;
      transition: .5s !important;
    }
    #feedback-button:hover {
      transform: translate(0, 0) !important;
    }
  </style>
  <div class="ui vertical inverted thin sidebar labeled icon left menu">
    <a class="item" href="{% url 'finance:index' %}"><i class="home icon"></i>{% translate "Home" %}</a>
    <a class="item" href="{% url 'finance:transactions' %}"><i class="money bill icon"></i>{% translate "Transactions" %}</a>
    <a class="item" href="{% url 'finance:accounts' %}"><i class="wallet icon"></i>{% translate "Accounts" %}</a>
    <a class="item" href="{% url 'finance:budgets' %}"><i class="piggy bank icon"></i>{% translate "Budgets" %}</a>
    <a class="item" href="{% url 'finance:groups' %}"><i class="users icon"></i>{% translate "Groups" %}</a>
    <a class="item" href="{% url 'finance:categories' %}"><i class="tags icon"></i>{% translate "Categories" %}</a>
    <a class="item" href="{% url 'finance:charts' %}"><i class="chart line icon"></i>{% translate "Charts" %}</a>
    {% if request.user.is_superuser %}
    <div class="item">
      <div class="header">Superuser</div>
      <div class="menu">
        <a class="item" href="{% url 'finance:faker' %}">Faker</a>
        <a class="item" href="{% url 'finance:icons' %}">Icons</a>
        <a class="item" href="{% url 'finance:restricted_area' %}">Restricted Area</a>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="ui top inverted fixed menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    {% block menu %}
    {% endblock menu %}
    <div class="right menu">
      {% block right_menu %}
      {% endblock right_menu %}
      <div class="ui inverted teal apps item" style="cursor: pointer;"><i class="toolbox icon"></i></div>
      <div class="ui right flowing popup" style="width: 320px; max-height: 300px; overflow-y: auto; margin-right: 1em;">
        {% include "homepage/_apps_menu.html" %}
      </div>
      {% include "_auth_menu.html" %}
    </div>
  </div>

  <script>
    initializeAppsPopup('.ui.apps.item', '.ui.item');
    $('.ui.sidebar')
      .sidebar('setting', 'transition', 'slide along')
      .sidebar('setting', 'mobileTransition', 'slide along')
      .sidebar('attach events', '.toc.item');
  </script>
  
{% endblock body %}




  
  
  

