{% extends "finance/base.html" %}
{% load static %}
{% load i18n %}
{% load cool_numbers %}

{% block head %}
  <style>
    .StripeElement {
      box-sizing: border-box;
  
      height: 3rem;
  
      padding: .8rem;
  
      border: 1px solid #dedede;
      border-radius: 4px;
      background-color: white;
  
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }
  
    .StripeElement--focus {
      border: 1px solid #85b7d7;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  
    .StripeElement--invalid {
      border-color: #e0b4b5;
      background-color: #fff7f5 !important;
      color: #9f3a38;
    }
   
    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }

    .hidden {
      display: none;
    }
  </style>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/jquery.serialize-object.min.js' %}"></script>
{% endblock head %}

{% block main %}
<div class="pusher">

  <div class="ui stackable grid container">

    <div class="row">
      <div class="ui fluid steps">
        <div class="completed step">
          <i class="check icon"></i>
          <div class="content">
            <div class="title">{% translate "Subscription" %}</div>
          </div>
        </div>
        <div class="active billing step">
          <i class="file invoice dollar icon"></i>
          <div class="content">
            <div class="title">{% translate "Billing" %}</div>
          </div>
        </div>
        <div class="disabled payment step">
          <i class="credit card icon"></i>
          <div class="content">
            <div class="title">{% translate "Payment" %}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
    
      <div class="four wide column" id="plan-details-element">
      
        <h2 class="ui header">{% translate "Plan: " %}{{ plan.name }}</h2>
        <h4 class="ui sub header">{% translate "Description:" %}</h4>
        <div class="ui content">{{ plan.description }}</div>

        <div class="ui divider"></div>

        {% if plan.feature_set.all %}
        <h4 class="ui sub header">{% translate "What's included:" %}</h4>
        <div class="ui list">
          {% for feature in plan.feature_set.all %}
          <div class="item">
            <i class="{{ feature.icon }} icon"></i>
            <div class="content feature">
              {{ feature.short_description }}
            </div>
            <div class="ui popup">
              {{ feature.full_description }}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <div class="hidden billing info">
          <div class="ui divider"></div>
          <h4 class="ui sub header">{% translate "Billing info:" %}</h4>
          <div class="ui bulleted list">
            <div class="item" id="billing-info-text"></div>
          </div>
        </div>
      </div>

      <div class="twelve wide column" id="plans-element">

        <div class="ui warning message">{% translate "Select a billing plan" %}</div>

        <div class="ui equal width grid">
          {% for plan in plans %}
          <div class="column">
            <div class="ui fluid plan card">
              <div class="center aligned content">
                <div class="header">
                  {% with plan.interval as interval %}
                  {% if interval == "month" %}
                  {% translate "Monthly" %}
                  {% elif interval == "year" %}
                  {% translate "Yearly" %}
                  {% endif %}
                  {% endwith %}
                </div>
              </div>
              <div class="content">
                <div class="center aligned content">
                  <div class="ui statistic">
                    <div class="value" data-plan="{{ plan.id }}">
                      {{ plan.amount_decimal|stripe_currency:plan.currency|floatformat:2 }}
                    </div>
                    <div class="label">
                      {{ plan.currency }}
                    </div>
                  </div>

                </div>
              </div>
              <a class="ui bottom attached button" 
                onclick="selectPrice(this)"
                data-plan="{{ plan.id }}"
                data-value="{{ plan.amount_decimal|stripe_currency:plan.currency|floatformat:2 }}"
                data-currency="{{ plan.currency }}"
                data-interval="{{ plan.recurring.interval }}">
                {% translate "Select plan" %}
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="twelve wide column">
        
        <div class="ui hidden warning message" id="card-message"><strong>{% translate "Almost there!" %}</strong> {% translate "Now we need your payment info." %}</div>
        
        <div class="ui hidden fluid segment" id="card-segment">
          <form id="subscription-form" >
            <div class="">
              <div id="card-element" style="margin-bottom: 1rem;"></div>
            </div>
            <div id="card-errors" role="alert" class="ui hidden error message"></div>
            <input type="hidden" name="plan">
            <button id="submit" type="submit" class="ui primary button" style="">
              {% translate "Subscribe" %}
            </button>
          </form>
        </div>
      </div>

    </div>

  </div>

</div>
<script>
  stripe = Stripe('{{ stripe_pk }}', { locale: "{{ request.LANGUAGE_CODE }}" });

  let elements = stripe.elements();

  // Card Element styles
  let style = {
    base: {
      color: "#32325d",
      fontFamily: 'Lato,"Helvetica Neue",Arial,Helvetica,sans-serif',
      // fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#aab7c4"
      }
    },
    invalid: {
      color: "#9f3a38",
      "::placeholder": {
        color: "#e6bdbb",
      },
      iconColor: "#a03a38",
      ':focus': {
        color: "#9f3a38",
      },
    },
  };

  card = elements.create('card', { style: style });

  card.mount('#card-element');

  card.on('focus', function () {
    let el = document.getElementById('card-errors');
    el.classList.add('focused');
  });

  card.on('blur', function () {
    let el = document.getElementById('card-errors');
    el.classList.remove('focused');
  });

  card.on('change', function (event) {
    displayError(event);
  });

  let paymentForm = document.getElementById('subscription-form');
  if (paymentForm) {
    paymentForm.addEventListener('submit', function (evt) {
      evt.preventDefault();
      createPaymentMethod({ card });
    });
  }

  function createPaymentMethod({ card }) {
    let billingName = '{{ request.user.username }}';
    $('button#submit').addClass('loading');

    stripe.createPaymentMethod({
      type: 'card',
      card: card,
      billing_details: {
        name: billingName,
      },
    })
    .then((result) => {
      if (result.error) {
        displayError(result);
        $('button#submit').removeClass('loading');
      } else {
        $.api({ 
          on: 'now',
          method: 'POST',
          url: "{% url 'accounts:checkout' %}",
          serializeForm: true,
          mode: 'same-origin',
          headers: {'X-CSRFToken': csrftoken},
          data:{
            payment_method_id: result.paymentMethod.id,
            price_id: $('input[name=plan]').val(),
          },
          onResponse: () =>{$('button#submit').removeClass('loading');},
          onFailure: (errorMessage, element, xhr) => {
            $('body').toast({
              message: errorMessage,
              position: 'bottom center',
              showProgress: 'bottom',
              classProgress: 'primary'
            }); 
          },
          onError: (errorMessage, element, xhr) => {
            $('body').toast({
              message: errorMessage,
              position: 'bottom center',
              showProgress: 'bottom',
              classProgress: 'primary'
            }); 
          },
          onSuccess: (response, element, xhr) => {
            $('body').toast({
              message: response.message,
              position: 'bottom center',
              showProgress: 'bottom',
              classProgress: 'primary'
            }); 
            setTimeout(() => { window.location.href = "/accounts/config/?tab=subscription" }, 3000);
          }
        })
      };
      
    });
  }

  let displayError = event => {
  
    let displayError = $('#card-errors');
    if (event.error) {
      displayError.text(event.error.message);
      displayError.removeClass('hidden')
    } else {
      displayError.text('');
      displayError.addClass('hidden')
    }
  }

  let selectPrice = el => {
    planId = $(el).data('plan');
    
    value = $(el).data('value')
    currency = $(el).data('currency')
    interval = $(el).data('interval')

    $('input[name=plan]').val(planId);
    $("#card-segment").show()
    $("#card-message").show()
    $(".billing.info").show()

    $("#billing-info-text").html(`${value} ${currency} per ${interval}`)

    $("#plans-element").remove()

    $(".billing.step").removeClass('active').addClass('complete')
    $(".billing.step i").removeClass().addClass('green check icon')
    $(".payment.step").removeClass('disabled').addClass('active')

    card.focus();
  }

  $('.content.feature').popup();

</script>


{% endblock main %}