{% extends "base.html" %}

{% block main %}
<div class="pusher">
  <div class="ui container">
    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <div class="ui container">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <h1 class="ui header">Delete goal {{ object.name }}?</h1>
                <div class="ui buttons">
                  
                <button type="submit" class="ui huge negative button">
                  Yes
                </button>
                <div class="or"></div>
                <a class="ui huge button" href="{% url 'finance:goal_update' pk=object.pk %}">
                  Cancel
                </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
