{% extends "finance/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{% endblock head %}

{% block main %}
<div class="ui stackable grid container">

  <div class="ui four wide column"></div>

  <div class="ui eight wide column ">
    <div class="row">
      {% if request.user.is_superuser %}
      <div class="header item">
        <div class="ui user search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Login as">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>    
      </div>
      {% endif %}
    </div>
  </div>
  
  <div class="ui four column wide"></div>
</div>

<script>
  {% if request.user.is_superuser %}
  var content = [
    {% for user in users %}
    {
      id: "{{ user.id }}",
      title: "{{ user.username }}"
    },
    {% endfor %}
  ];

  $('.ui.user.search').search({
    source: content,
    onSelect: (result, response) => {
      $.api(
        {
          action: 'login as',
          method: 'POST',
          stateContext: $('.ui.user.search'),
          mode: 'same-origin',
          headers: {'X-CSRFToken': csrftoken},
          data: {user: result.id},
          on: 'now',
          cache: false,
          onSuccess: response => {
            console.log(response.message);
            location.reload(true);
          },
          onFailure: (response, element, xhr) => { console.log("Something went wrong.") },
          onError: (errorMessage, element, xhr) => { console.log(`Request error: ${errorMessage}`) },
        }
      )
    }
  });
  {% endif %}
</script>
{% endblock main %}
