{% extends "finance/base.html" %}
{% load i18n %}
{% load cool_numbers %}

{% block main %}
    <div class="ui stackable grid container">
    
        <div class="four wide column">
            <form class="ui fluid form" method="GET" id="filter">
                <div class="field">
                    <label>{% translate "Category" %}</label>
                    <div class="ui search multiple selection dropdown" data-name="category">
                        <input type="hidden" name="category">
                        <div class="text"></div>
                        <i class="dropdown icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Account</label>
                    <div class="ui search multiple selection dropdown" data-name="account">
                        <input type="hidden" name="account">
                        <div class="text"></div>
                        <i class="dropdown icon"></i>
                    </div>
                </div>
                <div class="ui fluid buttons">
                    <button class="ui button primary" type="submit" form="filter">{% translate "Filter" %}</button>
                    <a class="ui button" href="{% url 'finance:transaction_list' %}">{% translate "Clear" %}</a>
                </div>
            </form>
        </div>

    <div class="eight wide column">
     
      <div class="ui segments">
        <div class="ui secondary grey grid segment">
          <div class="row">
            <div class="left aligned five wide column">
              {% if previous_month %}
              {% with m=previous_month|date:'m' y=previous_month|date:'Y' %}
              <a class="ui button" href="{% url 'finance:transaction_month' year=y month=m %}"><i class="left arrow icon"></i></a>
              {% endwith %}
              {% endif %}
            </div>
              
            <div class="center aligned six wide column">
              {{ month|date:'F/Y' }}
            </div>
            
            <div class="right aligned five wide column">
              {% if next_month %}
              {% with m=next_month|date:'m' y=next_month|date:'Y' %}
              <a class="ui button" href="{% url 'finance:transaction_month' year=y month=m %}"><i class="right arrow icon"></i></a>
              {% endwith %}
              {% endif %}
            </div>
            
          </div>
        </div>
        
        <div class="ui seven column grid segment">
          
          {% with weekdays='SMTWTFS'|make_list %}
          {% for w in weekdays %}
          <div class="center aligned column" style="padding:.5rem;">{{ w }}</div>
          {% endfor %}
          {% endwith %}
          
          {% for i in weekday_range %}
          <div class="column"></div>
          {% endfor %}
          
          {% for i in month_range %}
          <div class="column" style="padding: 0.5rem;">
              
            {% with day=i|add:1 %}
            <div class="ui small circular label">
              <span class="ui small text">
                <strong>{{ day }}</strong>
              </span>
            </div>
            <br>
            {% for d in daily_grouped %}
            {% if d.date|date:"j" == day|stringformat:"i" %}
            <span class="ui small red text">
            {{ d.total_expense|cool_numbers:1 }}
            </span><br>
            <span class="ui small green text">
            {{ d.total_income|cool_numbers:1 }}
            </span>
            {% endif %}
            {% endfor %}
            {% endwith %}
          
        </div>
        {% endfor %}
          
        </div>
      </div>

    </div>
    
    <div class="four wide column">

      <div class="ui horizontal divider"><i class="play circle outline icon"></i> {% translate "Actions" %}</div>
      <div class="row">
        <a class="ui fluid primary labeled icon button" href="{% url "finance:transaction_create" %}">
          <i class="plus icon"></i>
          {% translate "Add transaction" %}
        </a>
      </div>
      
      <div class="ui horizontal divider"><i class="eye outline icon"></i> {% translate "Views" %}</div>
      <div class="row">
        <a class="ui fluid basic labeled icon button" href="{% url "finance:transaction_list" %}">
          <i class="list icon"></i>
          {% translate "Go to List View" %}
        </a>
      </div>
    </div>

  </div>

  <script>
    $('.ui.dropdown[data-name=category]').dropdown({
      placeholder: "Select a category",
      forceSelection: false,
      values: [
        {% for c in categories %}
        {
          name: "{{ c.name }}",
          value: {{ c.id }},
          {% if c.id|stringformat:"i" in filtered_categories %}
          selected : true
          {% endif %}
        },
        {% endfor %}
      ]
    });
    $('.ui.dropdown[data-name=account]').dropdown({
      placeholder: "Select an account",
      forceSelection: false,
      values: [
        {% for a in accounts %}
        {
          name: "{{ a.name }}",
          value: {{ a.id }},
          {% if a.id|stringformat:"i" in filtered_accounts %}
          selected : true
          {% endif %}
        },
        {% endfor %}
      ]
    });
    $('.message .close').click(function() {
      $(this)
      .closest('.message')
      .transition('fade');
    });
  </script>

{% endblock %}