{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block no_login %}
{{ mensagem }}
<div class="container">
    {% comment %} <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="card text-center shadow" style="width: 24rem;">
                <img src="{% static "images/card_login.jpg" %}" class="card-img-top" alt="card">

                <div class="card-body">
                    <h3 class="card-title">Alteração de senha</h3>
                    <p class="card-text">Altere a sua senha preenchendo os campos abaixo:</p>
                    {% bootstrap_field form.old_password show_label=False placeholder='Digite a sua senha atual' addon_before="Senha atual" addon_before_class='input-group-text' %} 
                    {% bootstrap_field form.new_password1 show_label=False placeholder='Digite a sua nova senha' addon_before="Nova senha" addon_before_class='input-group-text' %} 
                    {% bootstrap_field form.new_password2 show_label=False placeholder='Confirme a sua nova senha' addon_before="Confirmação" addon_before_class='input-group-text' %} 
                    <button type="submit" class="btn btn-primary btn-lg">Continuar</button>
                </div>
                <div class="card-footer text-muted">
                    <a href='#' class="card-link">Esqueci minha senha.</a>
                    <a href="{% url 'accounts:signup' %}" class="card-link">Criar uma conta.</a>
                </div>
            </div>
        </div>
    </form> {% endcomment %}
</div>
{% endblock %}
