{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block no_login %}
<style>
  /* 
  .page-footer {
    bottom: 0;
    width: 100%;
    position: fixed;
  }
  .baseblock {
    height: 100%;
  } 
  body {
    height: 100vh;
    min-height: 100vh;
  }
  */
  /* .navbar {
    position: fixed;
    width: 100%;
  } */
</style>
<div class="container" style="min-height: 80vh;">
  <div class="row justify-content-center">

    <div class="col-md-5 order-md-1">
      <img class="img-fluid p-5 p-md-0 m-3" src="{% static 'images/security_SVG.svg' %}" alt="Security">
    </div>

    <div class="col-md-7 order-md-2">
      <form method="POST">
        {% csrf_token %}
        <h3 class="card-title">Alteração de senha</h3>
        <p class="card-text">Altere a sua senha preenchendo os campos abaixo:</p>
        {% bootstrap_field form.old_password show_label=False placeholder='Digite a sua senha atual' addon_before="Senha atual" addon_before_class='input-group-text' %} 
        {% bootstrap_field form.new_password1 show_label=False placeholder='Digite a sua nova senha' addon_before="Nova senha" addon_before_class='input-group-text' %} 
        {% bootstrap_field form.new_password2 show_label=False placeholder='Confirme a sua nova senha' addon_before="Confirmação" addon_before_class='input-group-text' %} 
        <button type="submit" class="btn btn-primary btn-lg">Continuar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
