{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block no_login %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="card text-center shadow" style="width: 24rem;">
                <img src="{% static "images/card_login.jpg" %}" class="card-img-top" alt="card">

                <div class="card-body">
                    <h3 class="card-title">Redefinição de senha</h3>
                    <p class="card-text">Para redefinir a sua senha, digite o seu e-mail no campo abaixo:</p>

                    {% for field in form %}
                        {{field.name}}
                    {% endfor %}
                    {% bootstrap_field form.email  show_label=False placeholder='Digite o seu e-mail' addon_before="E-mail" addon_before_class='input-group-text' %} 
                    <button type="submit" class="btn btn-primary btn-lg">Continuar</button>
                </div>
                <div class="card-footer text-muted">
                    <a href='#' class="card-link">Esqueci minha senha.</a>
                    {% comment %} <a href="{% url 'accounts:signup' %}" class="card-link">Criar uma conta.</a> {% endcomment %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
