{% extends "finance/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{% endblock head %}

{% block main %}
<div class="ui center aligned stackable grid container">
  <div class="row">
    <div class="ten wide column">
      <div class="ui attached message">
        <div class="header">
          <p>{% translate "Hi! Can you help us improve?" %}</p>
        </div>
      </div>
      <form class="ui form bottom attached segment" method="post" class="ui {% if form.errors %}error{% endif %} form" id="feedback_form">
        {% csrf_token %}

        <div class="field {% if form.feeling.errors %}error{% endif %}">
          <label>{% translate "How are you feeling?" %}</label>
          {{ form.feeling }}
          {% if form.feeling.errors %}
            <div class="ui error message">
            {% for error in form.feeling.errors %}
              {{ error }}
            {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="field {% if form.message.errors %}error{% endif %}">
          {{ form.message }}
          {% if form.message.errors %}
            <div class="ui error message">
            {% for error in form.message.errors %}
              {{ error }}
            {% endfor %}
            </div>
          {% endif %}
        </div>

        <div data-tooltip="{% translate 'By turning this on, you agree that your comment may be visible to other users.' %}" style="margin-bottom: 1em;">
          <div class="field {% if form.public.errors %}error{% endif %}">
            {{ form.public }}
            {% if form.public.errors %}
              <div class="ui error message">
              {% for error in form.public.errors %}
                {{ error }}
              {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="ui grid">
            <div class="two column row">
                <div class="column">
                    <a class="ui fluid button" href="{{ request.META.HTTP_REFERER }}">
                        {% translate "Cancel" %}
                    </a>
                </div>
                <div class="column">
                    <button class="ui primary right labeled fluid icon button" type="submit" form="feedback_form">
                        <i class="save icon"></i>
                        {% translate "Save" %}
                    </button>
                </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main %}
