{% load i18n %}

<div class="ui task mini modal" id="{{ modal_id }}">
    <div class="header">{{ header }}</div>
    <div class="form content">
        <div class="ui fluid input">
            <input type=text name="{{ input_name }}">
        </div>
    </div>
    <div class="actions">
        <div class="ui black cancel button">
            <i class="remove icon"></i>{% translate 'Close' %}
        </div>
        <div class="ui green ok button">
            <i class="checkmark icon"></i>{% translate 'Save' %}
        </div>
    </div>
</div>