{% load i18n %}

<div class="panel">
    <div style="padding: 1px; height: calc(100vh - 5em); display: flex; flex-flow: column nowrap; overflow-y: auto; overflow-x: hidden;" id="task-detail">
        <div class="ui top attached teal segment" style="width: 100%; display: flex; flex-flow: row nowrap; align-items: center;">
            <div class="check" style="flex: 0 0 auto; padding-right: .5em;">
                <span class="ui big text"><i id="check-icon" class="icon" onclick="toggleSelectedTask()"></i></span>
            </div>
            <div class="ui big input" style="flex: 1 0 auto;">
                <input type="text" placeholder="Task description" id="task-description">
            </div>
            <div style="flex: 0 0 auto; padding-left: 1em;">
                <a class="ui basic big icon button" onclick="hideTaskPanel()"><i class="close icon"></i></a>
            </div>
        </div>
        <div class="ui attached vertical form segment" style="width: 100%; flex: 1 0 auto; padding-right: 1em; padding-left: 1em;">
            <div class="ui fluid field">
                <label>{% translate 'Note' %}</label>
                <textarea id="task-note" placeholder="{% translate 'Note' %}" ></textarea>
            </div>
        </div>
        <div class="ui bottom attached vertical segment menu" style="width: 100%; flex: 0 0 auto; padding-right: 1em; padding-left: 1em; display: flex; flex-flow: row nowrap; align-items: center;">
            <div style="flex: 1 0 auto;">
                <span id="task-timestamp"></span>
            </div>
            <a style="flex: 0 0 auto;" class="ui icon right floated red button" onclick="deleteTask()"><i class="delete icon"></i></a>
        </div>
    </div>
</div>