{% extends "checklists/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <script src="{% static 'checklists/index.js' %}"></script>
    <style>
        #check-icon {
            cursor: pointer;
            font-size: 120%;
        }
        #task-description[data-checked=true]{
            text-decoration: line-through;
        }
        .task.item[data-checked=true]{
            text-decoration: line-through;
        }
        .checklist.button {
            display: none;
        }
        .checklist.item:hover .checklist.button {
            display: inline;
        }
        .main {
            width: 100%;
            padding-top: 4em !important;
            padding-left: 21em !important;
            padding-right: 1em !important;
            display: flex;
            flex-flow: row nowrap;
            gap: 1em;
        }
        .panel {
            flex: 1 1 auto;
        }
        .active.panel {
            display: block;
        }
        .explorer {
            padding: 0 !important;
            margin: 0 !important;
            width: 100%;
            overflow-x: none;
            overflow-y: scroll;
            flex: 1 1 auto; 
            height: 50vh;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
        @media screen and (max-width: 767px) {
            .computer.only {
                display: none !important;
                width: 0 !important;
            }
            .main {
                padding-top: 4em !important;
                padding-left: 1em !important;
                padding-right: 1em !important;
            }
            .panel {
                flex: 1 1 auto;
                display: none;
            }
            .active.panel {
                display: block;
            }
        }
        .hidden {
            display: none !important;
        }
        ::-webkit-scrollbar {
            display: none !important;
        }
    </style>
    <script>
        $.ajaxSetup({
            headers: { 'X-CSRFToken': csrftoken }
        });
    </script>
{% endblock head %}

{% block menu %}
    <a class="toc item"><i class="sidebar icon"></i></a>
    <div class="ui right flowing popup" style="width: 320px; max-height: 300px; overflow-y: auto; margin-right: 1em;"></div>
{% endblock menu %}

{% block sidebar %}
    <div class="ui sidebar inverted menu" style="padding: 0 0 .5em 0; display: flex; flex-flow: column nowrap; height: 100vh !important;">
        <div class="header item" style="flex: 0 0 auto;">
            <div class="ui inverted header">
                <em data-emoji=":ballot_box_with_check:" class="small"></em>
                <span style="padding-left: .5em;">{% translate 'Checklists' %}</span>
            </div>
        </div>
        <div class="explorer" id="lists-div"></div>
        <div class="item" style="flex: 0 0 auto;">
            <a class="ui fluid green right labeled icon button" onclick="showNewChecklistModal()"><i class="add icon"></i>{% translate 'New checklist' %}</a>
        </div>
    </div>
{% endblock sidebar %}

{% block main %}
    <div class="ui vertical left fixed computer only inverted menu" style="padding-top: 3em; width: 20em; display: flex; align-items: stretch;">
        <div class="header item" style="flex: 0 0 auto;">
            <div class="ui inverted header">
                <em data-emoji=":ballot_box_with_check:" class="small"></em>
                <span style="padding-left: .5em;">{% translate 'Checklists' %}</span>
            </div>
        </div>
        <div class="explorer" id="lists-div"></div>
        <div class="item" style="flex: 0 0 auto;">
            <a class="ui fluid green right labeled icon button" onclick="showNewChecklistModal()"><i class="add icon"></i>{% translate 'New checklist' %}</a>
        </div>
    </div>
    <div class="ui stackable compact main">
        <div class="active panel" style="min-width: 40%;" id="task-list-panel">
            <div style="padding: 1px; height: calc(100vh - 5em); display: flex; flex-flow: column nowrap; overflow-y: auto; overflow-x: hidden;">
                <div class="ui top attached teal segment" style="width: 100%;">
                    <div class="ui fluid input"><input type="text" placeholder="{% translate 'Search' %}" id="search"></div>
                </div>
                <div id="tasks-div" class="ui bottom attached vertical segment menu" style="padding: 0; width: 100%; flex: 1 0 auto;">
                </div>
                <div class="ui fluid green right labeled icon button" style="width: 100%; flex: 0 0 auto;" onclick="showNewTaskModal()">
                    {% translate 'New task' %}
                    <i class="add icon"></i>
                </div>
            </div>
        </div>
        {% include 'checklists/_task_panel.html' %}
    </div>

    {% include 'checklists/_modal.html' with modal_id='new-checklist' input_name='name' header='Checklist' only %}
    {% include 'checklists/_modal.html' with modal_id='new-task' input_name='name' header='Task' only %}

    <script>
        var listsMenu = $('#lists-menu')
        var listsDiv = $('*#lists-div')
        var tasksDiv = $('*#tasks-div')
        var lists
        var updateTaskTimeout

        $(document).ready(e => {
            sessionStorage.clear()
            retrieveLists()
            $('#task-detail').parent().hide()
            initializeSidebar()
        })
    </script>
{% endblock %}