{% extends "checklists/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <script src="{% static 'checklists/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'checklists/index.css' %}">
    <script>
        $.ajaxSetup({
            headers: { 'X-CSRFToken': csrftoken }
        });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
{% endblock head %}

{% block menu %}
    <a class="toc item"><i class="sidebar icon"></i></a>
    <div class="ui right flowing popup" style="width: 320px; max-height: 300px; overflow-y: auto; margin-right: 1em;"></div>
{% endblock menu %}

{% block sidebar %}
    <div class="ui sidebar inverted menu" style="padding: 0 0 .5em 0; display: flex; flex-flow: column nowrap; height: 100vh !important;">
        <div class="header item" style="flex: 0 0 auto;">
            <div class="ui inverted header">
                <em data-emoji=":ballot_box_with_check:" class="small"></em>
                <span style="padding-left: .5em;">{% translate 'Checklists' %}</span>
            </div>
        </div>
        <div class="explorer" id="lists-div"></div>
        <div class="item" style="flex: 0 0 auto;">
            <a class="ui fluid green right labeled icon button" onclick="showNewChecklistModal()" title="{% translate 'Create a new checklist' %}"><i class="add icon"></i>{% translate 'New checklist' %}</a>
        </div>
    </div>
{% endblock sidebar %}

{% block main %}
    <script src="{% static 'js/dragula.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dragula.min.css' %}">
    <div class="ui vertical left fixed computer only inverted menu" style="padding-top: 3em; width: 20em; display: flex; align-items: stretch;">
        <div class="header item" style="flex: 0 0 auto;">
            <div class="ui inverted header">
                <em data-emoji=":ballot_box_with_check:" class="small"></em>
                <span style="padding-left: .5em;">{% translate 'Checklists' %}</span>
            </div>
        </div>
        <div class="explorer" id="lists-div"></div>
        <div class="item" style="flex: 0 0 auto;">
            <a class="ui fluid green right labeled icon button" onclick="showNewChecklistModal()"><i class="add icon"></i>{% translate 'New checklist' %}</a>
        </div>
    </div>
    <div class="ui stackable compact main">
        <div class="active panel" style="min-width: 40%;" id="task-list-panel">
            <div style="padding: 1px; height: calc(100vh - 5em); display: flex; flex-flow: column nowrap; overflow-y: auto; overflow-x: hidden;">
                <div class="ui top attached teal segment" style="width: 100%;">
                    <div class="ui fluid input"><input type="text" placeholder="{% translate 'Search' %}" id="search" class="search"></div>
                </div>
                <div id="tasks-div" class="ui bottom attached vertical segment menu filter-list" style="padding: 0; width: 100%; flex: 1 0 auto;">
                </div>
                <div class="ui fluid green right labeled icon button" style="width: 100%; flex: 0 0 auto;" onclick="showNewTaskModal()" title="{% translate 'Create a new task' %}">
                    {% translate 'New task' %}
                    <i class="add icon"></i>
                </div>
            </div>
        </div>
        {% include 'checklists/_task_panel.html' %}
    </div>

    {% include 'checklists/_modal.html' with modal_id='new-checklist' input_name='name' header='Checklist' only %}
    {% include 'checklists/_modal.html' with modal_id='new-task' input_name='name' header='Task' only %}

    <script>
        var listsMenu = $('#lists-menu')
        var listsDiv = $('*#lists-div')
        var tasksDiv = $('*#tasks-div')
        var lists
        var updateTaskTimeout
        var taskList

        $(document).ready(e => {
            $('#task-detail').parent().hide()
            sessionStorage.clear()
            retrieveLists()
            initializeSidebar()
            initializeDragAndDrop()
            initializeDueDate()
            initializeReminder()
            $('.ui.button').popup({ variation: 'inverted' })
        })
    </script>
{% endblock %}