body {
    overflow: hidden;
}

.node {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    cursor: move;
    position: absolute;
}

.connector {
    display: inline;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform-origin: 0% 0%;
    height: 2px;
}

.node input {
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    caret-color: transparent;
    cursor: move;
    font-family: 'Open Sans', sans-serif;
}

.selected.node {
    border: 3px solid rgb(155, 32, 0) !important;
}

.node:focus-within {
    border: 3px solid rgb(32, 155, 255);
}

.toolbar {
    position: fixed !important;
}