body {
    overflow: hidden;
}

.node {
    border-style: solid;
    cursor: move;
    position: absolute;
    z-index: 20;
    transition-property: box-shadow, color, border;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.node:hover {
    box-shadow: 0 0 0.5em rgb(0 0 0 / 20%) !important;
}

.collapse-button:has(i.expand.icon) {
    opacity: 1;
}

.node .button {
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer !important;
    text-align: center;
}

.node .button i.icon {
    vertical-align: baseline;
    margin: auto;
    line-height: 1.7;
}

.node .button * {
    cursor: pointer !important;
}

.node:hover .button {
    opacity: 1;
    box-shadow: 0 0 0.5em rgb(0 0 0 / 20%) !important;
}

.connector {
    display: inline;
    position: absolute;
    transform-origin: 0% 0%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.node input {
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: grab;
    font-family: 'Open Sans', sans-serif;
}

.selected.node {
    border-style: dashed;
}

.toolbar {
    left: 1em;
    top: 3em;
    display: flex;
    position: fixed !important;
    z-index: 2000;
    flex-flow: column nowrap;
    gap: .5em;
    padding: .25em !important;
    margin: 0;
    opacity: .7;
    transition: opacity .2s;
}

.toolbar-row {
    display: flex;
    flex-flow: row nowrap;
    gap: .15em;
}

.toolbar:hover {
    opacity: 1;
}

.toolbar .divider {
    margin: 0 !important;
    padding: 0 !important;
}

#container {
    background-color: rgb(250, 250, 250);
}

.panel {
    background-color: rgb(250, 250, 250);
    cursor: move;
    height: 100%;
    transition: background-color 0.5s ease;
}

.panel * {
    cursor: default;
}

.backdrop {
    backdrop-filter: blur(2px);
    z-index: 100;
}

.align.center.icon.rotated {
    transform: rotate(90deg);
}