body {
    overflow: hidden;
}

.node {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: white;
    cursor: move;
    position: absolute;
    z-index: 20;
}

.connector {
    display: inline;
    position: absolute;
    transform-origin: 0% 0%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.node input {
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: grab;
    font-family: 'Open Sans', sans-serif;
}

.selected.node {
    border-color: rgb(32, 155, 255) !important;
}

.node:focus-within {
    border-color: rgb(0, 0, 0) !important;
}

.toolbar {
    left: 1em;
    top: 3em;
    display: flex;
    position: fixed !important;
    z-index: 2000;
    flex-flow: column nowrap;
    gap: .5em;
    padding: .5em;
    margin: 0;
}

.panel {
    background-color: rgba(0, 0, 0, 0.02);
    cursor: move;
    transition: zoom .2s;
    height: 100%;
}

.panel * {
    cursor: default;
}

.backdrop {
    backdrop-filter: blur(2px);
    z-index: 100;
}