{% extends "pixel/base.html" %}
{% load static %}
{% load i18n %}

{% block main %}

<div class="pusher">
    <div class="ui center aligned stackable grid container">
      <div class="row">
        <div class="eight wide left aligned column">
          <div class="ui raised segment">
            <form method="post" class="ui {% if form.errors %}error{% endif %} form" id="project_form">
              {% csrf_token %}
              {% include "_form.html" with form=form %}
              <div class="fluid ui buttons">
                <a class="ui button" href="{{ request.META.HTTP_REFERER }}">
                  {% translate "Cancel" %}
                </a>
                <button class="ui button primary" type="submit" form="project_form">
                  <i class="save icon"></i>
                  {% translate "Save" %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
</script>
{% endblock %}