{% extends "project_manager/base.html" %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block main %}
<div class="pusher">
    {% include 'project_manager/_breadcrumb.html' with breadcrumb=breadcrumb only %}

    <div class="ui stackable grid container">
    
        <div class="row">
            <div class="column">
                <div class="ui dividing header">{% translate "Your boards" %}</div>
                {% if object.board_set.all %}
                    <div class="ui cards">
                        {% for board in object.board_set.all %}
                            <div class="ui card">
                                <div class="content" style="padding-bottom: 0;">
                                    <div class="header" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                                        <div class="" style="flex: 0 1 auto; overflow-wrap: anywhere; padding-right: .5em;">
                                            <a href="{% url 'project_manager:board_detail' project_pk=object.id pk=board.pk %}">
                                                {{ board.name }}
                                            </a>
                                        </div>
                                        <div class="ui basic icon top right pointing dropdown button" style="flex: 0 0 auto; align-self: flex-start;">
                                            <i class="ellipsis horizontal icon"></i>
                                            <div class="menu">
                                                <a class="item" href="{% url 'project_manager:board_detail' project_pk=object.id pk=board.pk %}"><i class="eye icon"></i>{% translate "Open" %}</a>
                                                <a class="item" href="{% url 'project_manager:board_update' project_pk=object.id pk=board.pk %}"><i class="edit icon"></i>{% translate "Edit" %}</a>
                                                <div class="divider"></div>
                                                <a class="delete-board item" data-board-id="{{ board.id }}"><i class="delete icon"></i>{% translate "Delete" %}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta">
                                        {% translate "Created by" %} {{ project.created_by }}
                                    </div>
                                    <div class="description">
                                        <div style="padding-bottom: 1em;">
                                            {% for u in board.allowed_users %}
                                            <img class="ui avatar image" src="{{ u.profile.avatar|default_image }}" alt="" data-content="{{ u.username }}">
                                            {% endfor %}
                                        </div>
                                        {% if board.card_count == 0 %}
                                            <div class="ui tiny multiple progress" data-percent="0" style="padding-bottom: 0;" data-content="{% translate "No cards yet" %}">
                                                <div class="bar"></div>
                                            </div>
                                        {% else %}
                                            <div class="ui tiny multiple progress" data-percent="{% for v, p in board.progress.values %}{{ p }},{% endfor %}" style="padding-bottom: 0;">
                                                
                                                {% with board.progress.not_started as v %}
                                                    {% if v.0 == 0 %}
                                                    <div class="grey bar" data-title="{% translate "Not started" %}" data-content="{% translate "No cards" %}"></div>
                                                    {% elif v.0 == 1 %}
                                                    <div class="grey bar" data-title="{% translate "Not started" %}" data-content="{% translate "1 card" %} ({{ v.1 }}%)"></div>
                                                    {% else %}
                                                    <div class="grey bar" data-title="{% translate "Not started" %}" data-content="{{ v.0 }} {% translate "cards" %} ({{ v.1 }}%)"></div>
                                                    {% endif %}
                                                {% endwith %}

                                                {% with board.progress.in_progress as v %}
                                                    {% if v.0 == 0 %}
                                                    <div class="yellow bar" data-title="{% translate "In progress" %}" data-content="{% translate "No cards" %}"></div>
                                                    {% elif v.0 == 1 %}
                                                    <div class="yellow bar" data-title="{% translate "In progress" %}" data-content="{% translate "1 card" %} ({{ v.1 }}%)"></div>
                                                    {% else %}
                                                    <div class="yellow bar" data-title="{% translate "In progress" %}" data-content="{{ v.0 }} {% translate "cards" %} ({{ v.1 }}%)"></div>
                                                    {% endif %}
                                                {% endwith %}

                                                {% with board.progress.completed as v %}
                                                    {% if v.0 == 0 %}
                                                    <div class="green bar" data-title="{% translate "Completed" %}" data-content="{% translate "No cards" %}"></div>
                                                    {% elif v.0 == 1 %}
                                                    <div class="green bar" data-title="{% translate "Completed" %}" data-content="{% translate "1 card" %} ({{ v.1 }}%)"></div>
                                                    {% else %}
                                                    <div class="green bar" data-title="{% translate "Completed" %}" data-content="{{ v.0 }} {% translate "cards" %} ({{ v.1 }}%)"></div>
                                                    {% endif %}
                                                {% endwith %}

                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="ui placeholder segment">
                        <div class="ui icon header">
                            <i class="exclamation triangle icon"></i>
                            {% translate "No boards are listed for this project yet." %}
                        </div>
                        <a href="{% url 'project_manager:board_create' project_pk=object.id %}" class="ui icon labeled animated large green button">
                            <div class="visible content">{% translate "Add your first board!" %}</div>
                            <div class="hidden content"><i class="plus icon"></i></div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if object.board_set.all %}
            <div class="row">
                <div class="column">
                    <a href="{% url 'project_manager:board_create' project_pk=object.id %}" class="ui left floated icon labeled green button">
                        <i class="add icon"></i>{% translate "New board" %}
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="row" style="margin-top: 2em;">
            <div class="column">
                <div class="ui header">
                    {% translate "Your team: " %}
                </div>
                {% if object.assigned_to.all %}
                    <div style="overflow-x: auto;">
                        <table class="ui unstackable striped celled single line table">
                            <thead>
                                <tr>
                                    <th>{% translate "Name" %}</th>
                                    <th>{% translate "Username" %}</th>
                                    <th>{% translate "Email" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in object.assigned_to.all %}
                                    <tr>
                                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    {% translate "No members yet" %}
                {% endif %}
            </div>
        </div>

        <div class="row" style="margin-top: 2em;">
            <div class="column">
                <div class="ui header">
                    {% translate "Your invites: " %}
                </div>
                <form class="ui invite form">
                    <div class="fluid field">
                        <div class="ui fluid action input">
                            <input type="email" name="email" placeholder="Type an email to invite here" class="action invite">
                            <button class="ui teal right labeled icon send invite button" type="submit">
                                <i class="envelope icon"></i>
                                {% translate "Send" %}
                            </button>
                        </div>
                    </div>
                    <div class="ui error message"></div>
                </form>
                <div id="invites" style="margin-top: 1em;">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2em;">
            <div class="column">
                <div class="ui header">
                    {% translate "Share link: " %}
                </div>
                <div class="ui fluid action input">
                    <input class="link" type="text" readonly value="{{ object.share_link }}">
                    <button class="ui teal icon copy button">
                        <i class="copy icon"></i>
                    </button>
                </div>
                <div id="invites" style="margin-top: 1em;">
                </div>
            </div>
        </div>

    </div>
    
  </div>
</div>
  
<script>
    const PROJECT_ID = "{{ object.id }}";
    $('.ui.dropdown').dropdown();
    $('.ui.progress').progress();
    $('.ui.progress').popup();
    $('.bar').popup();
    $('.ui.avatar.image').popup();
    $('.delete-board').click(e => {
        let boardId = $(e.target).attr('data-board-id');
        $('body').modal({
            title: 'Confirm deletion', 
            class: 'mini', 
            closeIcon: true, 
            content: 'Delete this board?', 
            actions: [
                { text: 'Cancel', class: 'secondary' },
                { text: 'Delete', class: 'red approve' },
            ],
            onApprove: () => {
                $.api({
                    url: `/pm/api/projects/${PROJECT_ID}/boards/${boardId}/`,
                    method: 'DELETE',
                    mode: 'same-origin',
                    headers: {'X-CSRFToken': csrftoken},
                    cache: false,
                    on: 'now',
                    onSuccess: response => {
                        window.location.replace(response.url);
                    },
                    onFailure: (response, element, xhr) => { console.log("Something went wrong.") },
                    onError: (errorMessage, element, xhr) => { console.log(`Request error: ${errorMessage}`) },
                });
            }
        }).modal('show');
    })

    const INVITE_FORM = $('.ui.invite.form');
    INVITE_FORM.form({
        fields: {
            email: {
                identifier  : 'email',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter an email'
                    },
                    {
                        type   : 'email',
                        prompt : 'Please enter a valid email'
                    },
                ]
            },
        },
        onSuccess: () => {
            $.api({
                url: `/pm/api/projects/${PROJECT_ID}/invites/`,
                on: 'now',
                method: "POST",
                mode: 'same-origin',
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    email: $('input.invite[type=email]').val(),
                    project: PROJECT_ID,
                },
                onSuccess: r => {
                    loadInvites();
                    $('input.invite[type=email]').val('');
                },
                onFailure: (response, element, xhr) => {
                    for (let error of response.non_field_errors) {
                        $('body').toast({
                            message: error,
                            class: 'error',
                        })
                    }
                },
                onError: (errorMessage, element, xhr) => {
                    console.log(`Request error: ${errorMessage}`);
                },
            });
        }
    });
    INVITE_FORM.submit(e => {
        e.preventDefault();
    });

    function loadInvites() {
        $('#invites').empty();
        $.get(
            url=`/pm/api/projects/${PROJECT_ID}/invites/`
        )
        .done(r => {
            console.log(r);
            if (r.length === 0) {
                $('#invites').append('No invites yet')
            } else {
            $('#invites').append(`
                <div style="overflow-x: auto;">
                    <table class="ui unstackable celled table">
                    <thead>
                        <tr><th>Email</th>
                        <th>Accepted</th>
                    </tr></thead>
                    <tbody>
                    </tbody>
                    </table>
                </div>
            `);
            r.forEach(invite => {
                if (invite.email !== null && invite.email !== '') {
                    $('#invites tbody').append(`
                        <tr class="${invite.accepted_by !== null ? 'positive' : 'negative'}">
                            <td>${invite.email}</td>
                            <td>${invite.accepted_by !== null ? '<i class="checkmark icon"></i>' : '<i class="delete icon"></i>'}</td>
                        </tr>
                    `);
                };
            })
            }
        })
    };

  loadInvites();

</script>
{% endblock %}