{% extends "simple_base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <style>
        #app-name { font-size: 24pt !important; }
        #app-name .sub.header { font-size: 18pt !important; }
    </style>
{% endblock head %}

{% block main %}
    <div class="ui stackable grid container" style="padding-top: 5em;">
        <div class="row">
            <div class="column">
                <div class="ui placeholder segment">
                    <div class="ui huge center aligned header" id="app-name">
                        {{ title }}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    </div>
                    <a class="ui animated secondary big button" tabindex="0" href="{{ url }}">
                        <div class="visible content">{% translate 'Next' %}</div>
                            <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}