{% load i18n %}

<div class="ui top auth pointing teal dropdown item">
    <i class="user icon"></i>
    <div class="menu" style="margin-right: 1em !important;">
        {% if user.is_authenticated %}
        <div class="header">
            <p>{% translate "Signed in as " %}</p>
            <a href="{% url 'accounts:config' %}?tab=profile">
                <span class="ui primary text">{{ request.user }}</span>
            </a>
        </div>
        <div class="divider"></div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="item" href="{% url 'accounts:config' %}?tab=notifications#notifications" style="width: 200px">
            <i class="bell icon"></i>{% translate "Notifications" %}
            <div class="ui right floated teal label">{{ unread_notification_count }}</div>
        </a>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="item" href="{% url 'accounts:config' %}?tab=settings">
            <i class="cog icon"></i>{% translate "Settings" %}
        </a>
        <div class="divider"></div>
        {% endif %}
        <div class="language item">
            <i class="left dropdown icon"></i>
            <span class="text">{% translate "Change language" %}</span>
            <div class="left menu">
                {% get_current_language as LANGUAGE_CODE %}
                {% for code, name, flag, js_locale in LANGUAGE_EXTRAS %}
                <div class="{% if code == LANGUAGE_CODE %}active selected {% endif %} item" href="#" onclick="setLanguage('{{ code }}');">
                    <i class="{{ flag }} flag"></i>{{ name }}
                </div>
                {% endfor %}
            </div>
            <form action="{% url 'set_language' %}" method="post" name="language">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <input name="language" type="hidden" value="">
            </form>
        </div>
        <div class="divider"></div>
        {% if user.is_authenticated %}
        <a class="item" href="{% url 'accounts:logout' %}">
            <i class="power off icon"></i>{% translate "Sign out" %}
        </a>
        {% else %}
        <a class="item" href="{% url 'accounts:login' %}">
            <i class="sign in alternate icon"></i>{% translate "Login" %}
        </a>
        {% endif %}
    </div>
</div>

<script>
    let setLanguage = (el) => {
        $("input[name=language]").val(el);
        $("form[name=language]").submit();
    }
    $('.ui.auth.dropdown').dropdown(
        {
            action: "hide",
            {% comment %} TO FIX A BUG OF SUBMENU NOT HIDING {% endcomment %}
                onHide: () => {
                $('.menu.transition.visible').removeClass('transition', 'visible');
            },
        }
    );
    var notificationsChecker = null;
    const unread_notification_timestamp = new Date("{{ unread_notification_timestamp.isoformat }}");
    function renderNotificationCount() {
        
    }
    function checkNotifications() {
        $.api({
            on: 'now',
            method: 'GET',
            url: '/accounts/notifications/count/',
            onSuccess: r => {
                ts = new Date(r.timestamp)
                if (ts > unread_notification_timestamp) {
                    unread_notification_timestamp = ts;
                    $('body').toast({
                        title: 'New notification',
                        message: 'You got a new notification',
                        class: 'success',
                        className: { toast: 'ui message' },
                        showProgress: 'bottom',
                        closeIcon: true,
                    })
                
                }
            },
        })
    }
    function startNotificationsChecker(period = 5000) {
        if (notificationsChecker !== null) { clearInterval(notificationsChecker); }
        notificationsChecker = setInterval(checkNotifications, period);
    }
    startNotificationsChecker()
</script>