{% load i18n %}

<div class="ui top auth pointing teal dropdown item">
    <i class="user icon"></i>
    <div class="menu" style="margin-right: 1em !important;">
        <div class="header">
            <p>{% translate "Signed in as " %}</p>
            <a href="{% url 'accounts:config' %}?tab=profile">
                <span class="ui primary text">{{ request.user }}</span>
            </a>
        </div>
        <div class="divider"></div>
        <a class="item" href="{% url 'accounts:config' %}?tab=notifications">
            <i class="bell icon"></i>{% translate "Notifications" %}
        </a>
        <div class="divider"></div>
        <div class="language item">
            <i class="left dropdown icon"></i>
            <span class="text">{% translate "Change language" %}</span>
            <div class="left menu">
                {% get_current_language as LANGUAGE_CODE %}
                {% for code, name, flag, js_locale in LANGUAGE_EXTRAS %}
                <div class="{% if code == LANGUAGE_CODE %}active selected {% endif %} item" href="#" onclick="setLanguage('{{ code }}');">
                    <i class="{{ flag }} flag"></i>{{ name }}
                </div>
                {% endfor %}
            </div>
            <form action="{% url 'set_language' %}" method="post" name="language">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <input name="language" type="hidden" value="">
            </form>
        </div>
        <div class="divider"></div>
        <a class="item" href="{% url 'accounts:config' %}?tab=settings">
            <i class="cog icon"></i>{% translate "Settings" %}
        </a>
        <div class="divider"></div>
        <a class="item" href="{% url 'accounts:logout' %}">
            <i class="power off icon"></i>{% translate "Sign out" %}
        </a>
    </div>
</div>

<script>
    let setLanguage = (el) => {
        $("input[name=language]").val(el);
        $("form[name=language]").submit();
    }
    $('.ui.auth.dropdown').dropdown(
        {
            action: "hide",
            {% comment %} TO FIX A BUG OF SUBMENU NOT HIDING {% endcomment %}
                onHide: () => {
                $('.menu.transition.visible').removeClass('transition', 'visible');
            },
        }
    );
</script>