  <div class="ui pagination menu">
    <a 
      class="ui {% if not page_obj.has_previous %}disabled{% endif %} item" 
      href="?page=1{% if query_string %}&amp;{{ query_string }}{% endif %}">
      <i class="angle double left icon"></i>
    </a>
    <a class="ui {% if not page_obj.has_previous %}disabled{% endif %} item" 
      href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}{% if query_string %}&amp;{{ query_string }}{% endif %}">
      <i class="angle left icon"></i>
    </a>
    <a class="ui disabled item">
      {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </a> 
    <a class="ui {% if not page_obj.has_next %}disabled{% endif %} item" 
      href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}{% if query_string %}&amp;{{ query_string }}{% endif %}">
      <i class="angle right icon"></i>
    </a> 
    <a class="ui {% if not page_obj.has_next %}disabled{% endif %} item" 
      href="?page={{ page_obj.paginator.num_pages }}{% if query_string %}&amp;{{ query_string }}{% endif %}">
      <i class="angle double right icon"></i>
    </a> 
  </div>